<div class="" id="app-list-view">
  <%= render :partial => "cockpits/flyasmlist", :locals => {:cattype => Assemblies::TORPEDO.capitalize,:assemblies_grouped => @assemblies_grouped} %>
  <%= render :partial => "cockpits/flyasmlist", :locals => {:cattype => Assemblies::APP.capitalize,    :assemblies_grouped => @assemblies_grouped} %>
  <%= render :partial => "cockpits/flyasmlist", :locals => {:cattype => Assemblies::SERVICE.capitalize,:assemblies_grouped => @assemblies_grouped} %>
</div>
