<div class="" id="app-grid-view">
  <%= render :partial => "cockpits/flyasm", :locals => {:cattype => Assemblies::TORPEDO.capitalize,:assemblies_grouped => @assemblies_grouped} %>
  <%= render :partial => "cockpits/flyasm", :locals => {:cattype => Assemblies::APP.capitalize,    :assemblies_grouped => @assemblies_grouped} %>
  <%= render :partial => "cockpits/flyasm", :locals => {:cattype => Assemblies::SERVICE.capitalize,:assemblies_grouped => @assemblies_grouped} %>
</div>
