<dt class="margin-top-20"></dt>
       <dd><button class='c_icon-form' data-clipboard-target='txt' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
    <b>Copy To Clipboard...</b>
  </button>
   <h4>
    <label for='txt'>Change Copy Text Here</label>
  </h4>
  <textarea cols='10' id='txt' rows='1'>Copy me!</textarea>
  					 </dd>    
 // copytoclipboard
        $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button"))
       });

