<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<div class="panel panel-primary">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		×
	</button>
	<div class="panel-heading">
		<span class="icon"> <i class="fa fa-th-list"></i> </span>
		<h4>App <span class="label label-info"><%= @cloud_book.node_name %></span></h4>

		<div class="row">
			<div class="col-xs-12 center" style="text-align: center;">
				<ul class="quick-actions">
					<li>
						<%= link_to  service_path( :id => @cloud_book.id, :name => @cloud_book.node_name), :remote => true, data: { spinlock: '#book'}  do %> <i class="fa fa-cabinet"></i> General <% end %>
					</li>
					<li>
						<%= link_to  activities_path(:name => @cloud_book.node_name, :book_type => @cloud_book.node_type), :remote => true, data: { spinlock: '#book'}  do %> <i class="fa fa-cabinet"></i> Activities <% end %>
					</li>
					<li>
						<a href="#"> <i class="fa fa-shopping-bag"></i> Marketplace Items </a>
					</li>
					<li>
						<a href="#"> <i class="fa fa-survey"></i> Settings </a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="panel-content">
		<%= render :partial => "services/showoneservice" , :locals => {:cloud_book => @cloud_book, :requests => @requests,:defnrequests => @defnrequests }%>
	</div>
</div>

