<input type="hidden" value="cpu_system" ng-model="xaxis_label" />
<!--<span><h4>Host Name :</h4>{{host}}</span>
<h1><small>Host Name : </small> {{host | delc}} </h1>-->
<div class="row">
	<div class="col-xs-11 col-sm-11 col-md-11">
		<ul class="pagination">
			<li class="active">
				<a href="#">Last</a>
			</li>
			<li >
				<a href="#" ng-click="update_widget_range('hour', widget)">hour</a>
			</li>
			<li>
				<a href="#" ng-click="update_widget_range('2hr', widget)">2hr</a>
			</li>
			<li>
				<a href="#" ng-click="update_widget_range('4hr', widget)">4hr</a>
			</li>
			<li>
				<a href="#" ng-click="update_widget_range('day', widget)">day</a>
			</li>
			<li>
				<a href="#" ng-click="update_widget_range('week', widget)">week</a>
			</li>
			<li>
				<a href="#" ng-click="update_widget_range('month', widget)">month</a>
			</li>
		</ul>
	</div>
	
</div>
<div class="row">
	<div class="col-xs-11 col-sm-11 col-md-11">
		<div class="col-xs-5 col-sm-5 col-md-6">
			<h1><small>Host Info </small></h1>
			<ul class="site-stats">
				<li>
					<div class="cc">
						<i class="fa fa-user"></i><strong>{{uptime_data}}</strong><small>Total Uptime(days)</small>
					</div>
				</li>
				<li>
					<div class="cc">
						<i class="fa fa-arrow-right"></i><strong>{{rpm_data}}</strong><small>Requests Served(rpm)</small>
					</div>
				</li>
				<li class="divider"></li>
				<li>
					<div class="cc">
						<i class="fa fa-shopping-cart"></i><strong>{{new_books}}</strong><small>New Books (last week)</small>
					</div>
				</li>
				<li>
					<div class="cc">
						<i class="fa fa-tag"></i><strong>{{total_books}}</strong><small>Total Books</small>
					</div>
				</li>
				<li>
					<div class="cc">
						<i class="fa fa-repeat"></i><strong>{{total_queues}}</strong><small>Total Queue Messages</small>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-xs-5 col-sm-5">
		</div>		
	</div>
</div>
<div class="row">
	<div class="col-xs-11 col-sm-11 col-md-11">
			<h1><small>CPU Usage - system </small></h1>
			<div id="cpu_system_graph"></div>
	</div>
</div>

<div class="row">
	<div class="col-xs-11 col-sm-11 col-md-11">
			<h1><small>Disk Usage - system </small></h1>
			<div id="disk_free_graph"></div>
	</div>
</div>


<div class="row">
	<div class="col-xs-11 col-sm-11 col-md-11">
			<h1><small>Memory Usage - system </small></h1>
			<div id="mem_free_graph"></div>
	</div>
</div>

<div class="row">
	<div class="col-xs-11 col-sm-11 col-md-11">
			<h1><small>Network Status - system </small></h1>
			<div id="nginx_requests_graph"></div>
	</div>
</div>



