<div class="col-sm-6 float_nav">
	<ul class="list-inline">
		<li>
			Last:
		</li> | <a href="" ng-click="update_widget_range('hour', widget)">
		<li>
			Hour
		</a></li> | <a href="" ng-click="update_widget_range('2hr', widget)">
		<li>
			2hr
		</a></li> | <a href="" ng-click="update_widget_range('4hr', widget)">
		<li>
			4hr
		</a></li> | <a href="" ng-click="update_widget_range('day', widget)">
		<li>
			Day
		</a></li> | <a href="" ng-click="update_widget_range('week', widget)">
		<li>
			Week
		</a></li> | <a href="" ng-click="update_widget_range('month', widget)">
		<li>
			Month
		</a></li>
	</ul>
</div>
</div>
<div class="clearfix"></div>
<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12 graph">
				<!-- Graph HTML -->
				<div class="demo-container">
					<h4>CPU Usage</h4>
					<hr>
					<div id="cpu_system_graph" class="demo-placeholder"></div>
				</div>
				<!-- end Graph HTML -->
			</div>
			<br/>
		</div>
		<div class="row">
			<div class="col-sm-12 graph">
				<!-- Graph HTML -->
				<div class="demo-container">
					<h4>Disc Usage</h4>
					<hr>
					<div id="disk_free_graph" class="demo-placeholder"></div>
				</div>
				<!-- end Graph HTML -->
			</div>
			<br/>
		</div>
		<div class="row">
			<div class="col-sm-12 graph">
				<!-- Graph HTML -->
				<div class="demo-container">
					<h4>Memory Usage</h4>
					<hr>
					<div id="mem_free_graph" class="demo-placeholder"></div>
				</div>
				<!-- end Graph HTML -->
			</div>
			<br/>
		</div>
		<div class="row">
			<div class="col-sm-12 graph">
				<!-- Graph HTML -->
				<div class="demo-container">
					<h4>Network Status</h4>
					<hr>
					<div id="nginx_requests_graph" class="demo-placeholder"></div>
				</div>
				<!-- end Graph HTML -->
			</div>

		</div>
		<br/>
		<br/>
	</div>
</div>
