<div class="col-xs-4" >
	<div class="btn-toolbar" style="padding-left:25%;" >
		<div class="btn-group" title="select a source to watch METRICS" class="tip-bottom">
			<!--<button class="btn btn btn-large" ng-disabled="button" required ng-init="button=true">-->
			<button class="btn btn-default btn-lg">
				Sources
			</button>
			<button data-toggle="dropdown" class="btn btn-default btn-lg dropdown-toggle">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" >
				<li ng-repeat="i in sources">
					<a href="#" ng-click="update_widget_source(i.value, widget)">{{i.value}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-xs-4 offset1">
	<div class="btn-toolbar" style="padding-left:47%;" >
		<div class="btn-group" title="" class="tip-bottom">
			<button class="btn btn-default btn-lg" >
				Metrics
			</button>
			<button data-toggle="dropdown" class="btn btn-default btn-lg dropdown-toggle" >
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" >
				<li ng-repeat="i in metrics">
					<a href="#" ng-click="update_widget_metrics(i.value, widget)">{{i.value}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
<hr/>
<br/>
<br/>
<div class="row">
	<div class="col-xs-6" >
		<ul class="site-stats" style="padding-left:9%;">
			<li>
				<i class="icon-user"></i><strong>{{uptime_data}}</strong><small>Total Uptime(days)</small>
			</li>
		</ul>
	</div>
	
	<div class="col-xs-6">
		<ul class="site-stats" style="padding-right:15%;">
			<li>
				<i class="icon-user"></i><strong>{{rpm_data}}</strong><small>Requests Served(rpm)</small>
			</li>
		</ul>
	</div>
</div>
<br/>
<hr/>
<br/>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3" style="text-align: center;">			
			<ul class="quick-actions">
				<li>
					<a href="#" ng-click="update_widget_range('30-minutes', widget)"><i class="icon-graph"></i>LAST 30-minutes</a>
				</li>
			</ul>
			<ul class="quick-actions">
				<li>
					<a href="#" ng-click="update_widget_range('60-minutes', widget)"><i class="icon-graph"></i>LAST 60-minutes</a>
				</li>
			</ul>
			<ul class="quick-actions">
				<li>
					<a href="#" ng-click="update_widget_range('1-hours', widget)"><i class="icon-graph"></i>LAST 1-hour</a>
				</li>
			</ul>
		</div>
		<div class="col-xs-4" id="graph_placeholder" style=" height: 320px;" ></div>
	</div>
</div>

</div>
</div>

