<input type="hidden" value="cpu_system" ng-model="xaxis_label" />


<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="fa fa-signal"></i></span>
		<h5>Site Statistics</h5>
		<div class="buttons">
			<a href="#" class="btn" ng-click="update_widget_metrics('cpu', widget)">Update cpu load</a>
			<a href="#" class="btn" ng-click="update_widget_metrics('http requests', widget)">Update http requests</a>
		</div>
	</div>
	<div class="widget-content">
		<div class="row">
			<div class="col-xs-11 col-sm-4">
				<br/>
				<ul class="site-stats">
					<li>
						<div class="cc">
							<i class="fa fa-user"></i><strong>{{uptime_data}}</strong><small>Total Uptime(days)</small>
						</div>
					</li>
					<li>
						<div class="cc">
							<i class="fa fa-arrow-right"></i><strong>{{rpm_data}}</strong><small>Requests Served(rpm)</small>
						</div>
					</li>
					<li class="divider"></li>
					<li>
						<div class="cc">
							<i class="fa fa-shopping-cart"></i><strong>{{new_books}}</strong><small>New Books (last week)</small>
						</div>
					</li>
					<li>
						<div class="cc">
							<i class="fa fa-tag"></i><strong>{{total_books}}</strong><small>Total Books</small>
						</div>
					</li>
					<li>
						<div class="cc">
							<i class="fa fa-repeat"></i><strong>{{total_queues}}</strong><small>Total Queue Messages</small>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-xs-11 col-sm-8">
				<div class="row">
					<ul class="pagination">
						<li class="active">
							<a href="#">Last</a>
						</li>
						<li >
							<a href="#" ng-click="update_widget_range('hour', widget)">hour</a>
						</li>
						<li>
							<a href="#" ng-click="update_widget_range('2hr', widget)">2hr</a>
						</li>
						<li>
							<a href="#" ng-click="update_widget_range('4hr', widget)">4hr</a>
						</li>
						<li>
							<a href="#" ng-click="update_widget_range('day', widget)">day</a>
						</li>
						<li>
							<a href="#" ng-click="update_widget_range('week', widget)">week</a>
						</li>
						<li>
							<a href="#" ng-click="update_widget_range('month', widget)">month</a>
						</li>
					</ul>
				</div>
				<div id="graph_placeholder"></div>
			</div>
		</div>
	</div>
</div>
