<div class="span4" >
	<div class="btn-toolbar" style="padding-left:40%;">
		<div class="btn-group" title="select a source to watch METRICS" class="tip-bottom">
			<button class="btn btn btn-large">
				Sources
			</button>
			<button data-toggle="dropdown" class="btn btn btn-large dropdown-toggle">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="i in sources">
					<a href="#" ng-click="update_widget_source(i.value, widget)">{{i.value}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="span4">
	<div class="btn-toolbar" style="padding-left:40%;">
		<div class="btn-group" title="" class="tip-bottom">
			<button class="btn btn btn-large">
				Metrics
			</button>
			<button data-toggle="dropdown" class="btn btn btn-large dropdown-toggle">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="i in metrics">
					<a href="#" ng-click="update_widget_metrics(i.value, widget)">{{i.value}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>
<br/>
<br/>
<hr/>
<div class="row-fluid">
	<div class="span6">
		<ul class="site-stats">
			<li>
				<i class="icon-user"></i><strong>{{uptime_data}}</strong><small>Total Uptime(days)</small>
			</li>
		</ul>
	</div>
	<div class="span6">
		<ul class="site-stats">
			<li>
				<i class="icon-user"></i><strong>{{rpm_data}}</strong><small>Requests Served(rpm)</small>
			</li>
		</ul>
	</div>
</div>
<br/>
<hr/>
<div class="row-fluid">
	<div class="span4">
				<ul class="quick-actions">
					<li>
						<a href="#" ng-click="update_widget_range('30-minutes', widget)"><i class="icon-graph"></i>LAST 30-minutes</a>
					</li>
				</ul>
	</div>
	<div class="span4">
				<ul class="quick-actions">
					<li>
						<a href="#" ng-click="update_widget_range('60-minutes', widget)"><i class="icon-graph"></i>LAST 60-minutes</a>
					</li>
				</ul>
	</div>
	<div class="span4">
				<ul class="quick-actions">
					<li>
						<a href="#" ng-click="update_widget_range('1-hours', widget)"><i class="icon-graph"></i>LAST 1-hour</a>
					</li>
				</ul>
				</ul>
	</div>
	</div>
</div>
<br/>
<hr/>
<div class="row-fluid">
		<div id="graph_placeholder" style=" height: 300px; width: 1000px"></div> 
		<!-- <div id="graph_placeholder" style="padding:15px;"></div>-->
</div>



