<div class="row-fluid">
	<div class="span4">
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn btn-inverse">
					Books
				</button>
				<button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn btn-inverse">
					Sources
				</button>
				<button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="i in sources">
						<a href="#" ng-click="update_widget_source(i.value, widget)">{{i.value}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn btn-inverse">
					Metrics
				</button>
				<button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row-fluid">
	<div class="span4">
		<ul class="site-stats">
			<li>
				<i class="icon-user"></i><strong>{{uptime_data}}</strong><small>Total Uptime(days)</small>
			</li><li class="divider"></li>
		</ul>
		<br/>
		<div class="center" style="text-align: center;">
			<ul class="stat-boxes">
				<li class="popover-visits">
					<div class="left peity_bar_bad">
						<span>3,5,9,7,12,20,10</span>-50%
					</div>
					<div class="right">
						<strong>{{rpm_data}}</strong>Requests Served(rpm)
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="span8">
		<div class="row-fluid">
			<div class="span12" style="text-align: center;">
				<ul class="quick-actions">
					<li>
						<a href="#" ng-click="update_widget_range('30-minutes', widget)"><i class="icon-graph"></i>LAST 30-minutes</a>
					</li>
					<li>
						<a href="#" ng-click="update_widget_range('60-minutes', widget)"><i class="icon-graph"></i>LAST 60-minutes</a>
					</li>
					<li>
						<a href="#" ng-click="update_widget_range('1-hours', widget)"><i class="icon-graph"></i>LAST 1-hour</a>
					</li>
				</ul>
			</div>
		</div>
		<br/>
		<br/>
		<div id="graph_placeholder" style=" height:300px; width:800px"></div>
	</div>
</div>
