
<div class="modal fade" id="megam_flymodal" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="text-center"> <%= flymodal_title %> </h4>
			</div>
			<div class="modal-body text-center">
				<div class="alert alert-<%= flymodal_alert %>"> <%= flymodal_content %> </div>
			</div>
			<div class="modal-footer c_modal-footer">
				<%= link_to  "Ok", "#{flymodal_redirect}", :class => "btn btn-success", :target => "_self" %>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
