<!-- APP INFO MODAL -->
<div aria-hidden="true" class="modal fade" id="megam_flydeletemodal" role="basic" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content c_modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button"></button>
        <h4 class="modal-title"><%= @dmsg[:title].camelize %></h4>
      </div>
      <div class="modal-body text-center">
        <%= @dmsg[:message] %>
      </div>
      <div class="modal-footer c_modal-footer">
        <%= link_to  t('ok'), "#{@dmsg[:redirect]}", :class => "btn btn-success a_pad", :target => "_self" %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
