<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% provide(:title, 'Logs') %>

<script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>



<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">

	<div class="row logs" style="height:300px; overflow-y:scroll; table-layout: fixed">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
			<table class="table tb_action_list" >
				<thead>
					<tr>
						<th><%= t('general.message') %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<div>

							<td>
							<p>
								<small id="logs"></small>
							</p></td>
						</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div>



<script type="text/javascript" src="https://www.google.com/jsapi"></script>





<script>
  (function ($) {
    $.Sources = JSON.parse('<%= raw Sources.sources.to_json %> ');
    $.AppName = "<%= @logname %>";
    $.SocketFlag = false;
    $.SocketURL = "<%= Ind.http_logs %>";
  })($);
</script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>


<script>
  var socket = io.connect($.SocketURL);
   console.log(socket);
  $('.socket_disconnect').click(function () {
    socket.disconnect();
  });



  socket.on("disconnect", function () {
    console.log("client disconnected from server");
  });

  //rendering the react components for logs
  React.render(React.createElement(Logs, {
    socket: socket,
    name: $.AppName
  }), document.getElementById('logs'));


</script>
