<div class="tabs" id="overview"></div>

<script type="text/javascript">
	(function ($) {
        $.AppName = "<%= @logname %>";
        $.MonitC = "http://" + $.AppName + ":8080/api/v1.3/containers";
        $.MonitM = "http://" + $.AppName + ":8080/api/v1.3/machine";
	    //$.MonitC = "http://127.0.0.1:8080/api/v1.3/containers";
	    //$.MonitM = "http://127.0.0.1:8080/api/v1.3/machine";
	    $.SocketURL = "wss://<%= Ind.logs %>	";
	})($);

	var serverSocket = new WebSocket($.SocketURL)

	$('.socket_disconnect').click(function () {
	serverSocket.close();
	});

	//replace host and mhost to $.MonitC and $.MonitM
	ReactDOM.render(React.createElement(NewOverview, {
	google: google,
	socket: serverSocket,
	name: $.AppName,
	graphName: "LineChart",
	host: $.MonitC,
	mhost: $.MonitM
	}), document.getElementById('overview'));
</script>
