<div id="overview"></div>


<script type="text/javascript">
  (function ($) {
    $.AppName = "<%= @logname %>";
    $.MonitC = "http://" + $.AppName + ":8080/api/v1.3/containers";
    $.MonitM = "http://" + $.AppName + ":8080/api/v1.3/machine";
    $.SocketURL = "<%= Ind.http_logs %>";
  })($);
console.log($.SocketURL)
  var socket = io.connect($.SocketURL);
  $('.socket_disconnect').click(function () {
    socket.disconnect();
  });
  socket.on("disconnect", function () {
    console.log("client disconnected from server");
  });

  //replace host and mhost to $.MonitC and $.MonitM
  React.render(React.createElement(Overview, {
    google: google,
    socket: socket,
    name: $.AppName,
    graphName: "LineChart",
    host: "http://localhost:8080/api/v1.3/containers",
    mhost: "http://localhost:8080/api/v1.3/machine"
  }), document.getElementById('overview'));

</script>
