  <ul class="breadcrumb">
    <li>
    <a href="/">Home</a> <span class="divider">/</span>
    </li>
      
    <li class="active">Contact Us</li>
    </ul>
<% provide(:title, 'Contact') %><br><br>
<h1>Contact</h1><br><br>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
