  <ul class="breadcrumb">
    <li>
    <a href="/">Home</a> <span class="divider">/</span>
    </li>
      
    <li class="active">Jobs</li>
    </ul>
<% provide(:title, 'Jobs') %>
<br />
<br /><strong><h1 >Jobs at Megam</h1></strong>

<br><br />


    <div class="tabbable" > 
    	
    <ul class="nav nav-tabs">
    	    <li class="active"><a href="#tab1"  data-toggle="tab">Human Resource </a></li>
   <li><a href="#tab2" data-toggle="tab">Development</a></li>
   </ul>
     <br /><br /><br /><br />
    <div class="tab-content" >
    <div class="tab-pane active"  id="tab1">
    
    <p>
    	
    	
    	<ul>
    		<li><strong>HR Manager</strong></li>
    		<li><strong>Recruiter</strong></li>
    		    		
    		    		
    	</ul></p>
    </div>
    <div class="tab-pane" id="tab2">

    <p>
    

    	<ul>
    		<li><strong>Portal Development</strong></li>
    		<li><strong>Java & J2EE Programmer</strong></li>
    	
    	</ul></p>
    </div>
    </div>
    </div>
