<% provide(:title, 'Products') %>
<br />
<h1>Products</h1>
<br>
<br>
<h3>
<p>
  Get on and provision foo.. and use it in minutes.</p>
<p> What are you waiting for.
  <a href="http://indykish.wordpress.com">Consume foo...</a>.
 </p><p> To get help on this sample app, see the
  <a href="http://indykish.wordpress.com">Consume foo..</a>.
</p></h3>