<% provide(:title, 'Products') %>
<h1>Products</h1>
<p>
  Get on and provision foo.. and use it in minutes. What are you waiting for.
  <a href="http://indykish.wordpress.com">Consume foo...</a>.
  To get help on this sample app, see the
  <a href="http://indykish.wordpress.com">Consure foo..</a>.
</p>