<div id="setup_mail">
	<!-- The spinner needs to be outside the form_tag. If its inside then a JQuery toggle will hide the spinner. -->
	<%= spinner_tag 'spin_mail_reg' %>
	<%= render :partial => "password_resets/setup_mail_form" %>
</div>
