<table class="table table-hover">
												<tbody>
													<tr>
														<td><span class="badge badge-info">Java</span></td>
														<td><i class="icon-plus-sign" id="githubsample_javawar"></i> This sample launches a java based online code editor called orion. The bundle that is used is available <a href="https://s3-ap-southeast-1.amazonaws.com/megampub/0.1/war/orion.war" target="_blank"> here. </a></td>
													</tr>
													<tr>
														<td><span class="badge badge-info">Java</span></td>
														<td><i class="icon-plus-sign" id="githubsample_java"></i>This sample launches a spring based Java App.The source code that is used for the launch is available <a href="https://github.com/thomasalrin/spring-mvc-fulfillment-base.git" target="_blank"> here.</a></td>
													</tr>

													<tr>
														<td><span class="badge badge-info">Play</span></td>
														<td><i class="icon-plus-sign" id="githubsample_play"></i>This sample launches a play based scala App.The source code that is used for the launch is available <a href="https://github.com/thomasalrin/megam_play.git" target="_blank">here </a></td>
													</tr>
													<tr>
														<td><span class="badge badge-info">Ruby</span></td>
														<td><i class="icon-plus-sign" id="githubsample_ror"></i>This sample launches a ruby on rails 4.0 twitter bootstrap based portal.The source code that is used for the launch is available <a href="https://github.com/thomasalrin/aryabhata.git" target="_blank"> here
														</a>
														</td>
													</tr>
													<tr>
														<td><span class="badge badge-info">Akka</span></td>
														<td><i class="icon-plus-sign" id="githubsample_akka"></i>This sample launches a akka daemon that spawns a cluster of masters which delegates work to its slave.
														The source code that is used for the launch is available<a href="https://github.com/thomasalrin/megam_akka.git" target="_blank">here</a></td>
													</tr>
												</tbody>
											</table>
