<h3 align="center"><span class="icon"><i class="icon-code"></i></span> <%= cloud_book.node_name %> </h3>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><b>Node Name</b></td> <td> <%= cloud_book.node_name %></td>
		</tr>

		<tr>
			<td>N<b>ode Type</b></td> <td> <%= cloud_book.node_type %></td>
		</tr>
		<tr>
			<td><b>Predef Name</b></td> <td> <%= cloud_book.predefs[:name] %></td>
		</tr>

	</tbody>
</table>
