<% content_for :content_settings do %>
<% provide(:title, 'Manage Cloud Books') %>
<%= render :partial => "users/header" , :locals => {:head => "Manage Cloud Book's Definition'"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">

<%= render :partial => "cloud_books/books" , :locals => {:cloud_books => @cloud_books}%>
				<div id="cloudbook_show_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							×
						</button>
						<h3 id="myModalLabel">Cloud Book view</h3>
					</div>
					<div class="modal-body">
						<p>
							<h4 id="book_show"></h4>
						</p>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">
							Ok
						</button>
					</div>
				</div>

				</div> <!-- container-fluid -->

				<% end %>
				<%= render :template => users_show_path %>
