<% content_for :content_settings do %>
<% provide(:title, 'cloud_books') %>
<%= render :partial => "contents/header" , :locals => {:head => "Cloud Books"}%>
<div id="breadcrumb">
<%= render_breadcrumbs %>
</div>
<div class="container-fluid">
	<div class="widget-content nopadding">		
		<%= render :partial => "cloud_books/cloud_book_create", :locals => { :book => @book, :res_body => @res_body} %>
</div>
                     
<% end %>
<%= render :template => users_show_path %>
