<% content_for :content_settings do %>
<% provide(:title, 'cloud_books') %>
<div id="content-header">
	<h1>Cloud Books</h1>
	<div class="btn-group">
		<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
		<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
	</div>
</div>
<%= render_breadcrumbs %>

<div class="container-fluid">
	<div class="widget-content nopadding">		
		<%= render :partial => "cloud_books/cloud_book_create", :locals => { :book => @books } %>
</div>
                     
<% end %>
<%= render :template => users_show_path %>