<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Welcome Megam</title>
		<style type="text/css">
			<!--
			body {
			margin-left: 0px;
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			}
			-->
		</style>
	</head>

	<body>
		<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="background-color : #FAFAFA;">
			<tr>
				<td align="center" valign="top">
				<table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader" style="background-color : #FAFAFA;">
					<tr>
						<td valign="top" class="preheaderContent">
						<table id="templateHeader" border="0" cellpadding="10" cellspacing="0" width="100%">
							<tr>
								<td valign="top" height="40" style="padding:0;">
								<div>
									<a href="https://www.megam.co"><img src="http://www.megam.co/assets/logo.png" border="0" style="max-width:600px;" id="headerImage campaign-icon" /></a>
								</div></td>
								<td valign="bottom" width="190" height="40" style="padding:0;"><div style="color:#505050;font-size:10px;line-height:100%;text-align:left;"></div></td>
							</tr>
						</table></td>
					</tr>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border : 1px solid #DDDDDD; background-color : #FFFFFF;">
					<tr>
						<td align="center" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
							<tr>
								<td valign="top" class="bodyContent" style="background-color : #FFFFFF;">
								<table border="0" cellpadding="20" cellspacing="0" width="100%">
									<tr>
<br /><td>
										<b>Dear <%= @user["first_name"] %>!</b>
										
										<br /> 

											<p style="padding-left: 1cm;">

We're ready to activate your account. All we need to do is make sure this is your email address. </p>


<%= link_to "Go to Megam", "https://www.megam.co", target: "_blank", :class => "btn btn-large btn-primary" %>

<p style="padding-left: 1cm;">Megam Support Team. </p>


										
									</td></tr>
								</table></td>
							</tr>
						</table></td>
					</tr>
					<tr>
						<td align="center" valign="top">
						<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color : #FFFFFF; border-top       : 0;">
							<tr>
								<td valign="top" class="footerContent">
								<table border="0" cellpadding="10" cellspacing="0" width="100%">
									<tr>
										<td colspan="2" valign="middle" id="social" style="background-color : #f0f0f0; border: 0;">
										<div style="text-align: center;">
											<a href="http://www.facebook.com/megamsys" target="_blank"><img height="40" border="0" width="40" style="margin-right: 10px" alt="Facebook" src="https://www.megam.co/assets/facebook.png" /></a>
											<a href="http://twitter.com/indykish" target="_blank"><img height="40" border="0" width="38" style="margin-right: 10px" alt="Twitter" src="https://www.megam.co/assets/twitter.png" /></a>
											<a href="http://gomegam.com/blog/" target="_blank"><img height="40" border="0" width="38" style="margin-right: 10px" alt="Blog" src="https://www.megam.co/assets/blog.png" /></a>
										</div></td>
									</tr>
								</table></td>
							</tr>
						</table></td>
					</tr>
				</table>
				<br />
				</td>
			</tr>
			<tr class="subfooterContent">
				<td valign="top">
				<div style="color: #707070;font-size: 11px;line-height:125%;text-align: center;">
					Copyright &copy; 2013 Megam Sytstems, All rights reserved.
					<br />
					Megam Systems
					<br />
					Plot No. 53, Ist Floor, Radha Nagar
					<br />
					Chennai, 600100
					<br />
				</div></td>
			</tr>
		</table>
	</body>
</html>
