<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  
    <p>
	<h1>Hi <%= @mailer_user.first_name %> , Welcome to megam.co</h1>
      You have successfully signed up to megam.co,
      
    </p>
    <p>
      To login to the site, just follow this link: </p>


<%= link_to "#{@url}", @url %>
	
	
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
