<a href="#myAlert" data-toggle="modal" class="btn btn-danger">Remove</a>

<div id="myAlert" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button">
			×
		</button>
		<h3><%= modal_title %></h3>
	</div>
	<div class="modal-body">
		<p>
			<%= modal_message %>
		</p>
	</div>
	<div class="modal-footer">

		<%= link_to "Confirm", link, class: "btn btn-primary",:method => method, data: { dismiss: 'modal'} %>

		<a data-dismiss="modal" class="btn" href="#">Cancel</a>
	</div>
</div>
