<div class="row-fluid">
	<div class="span4">
		<ul class="site-stats">
			<li>
				<i class="icon-user"></i><strong>{{uptime_data}}</strong><small>Total Uptime(days)</small>
			</li><li class="divider"></li>
		</ul>
		<br/>
		<div class="center" style="text-align: center;">
			<ul class="stat-boxes">
				<li>
					<div class="left peity_bar_bad">
						<span>3,5,9,7,12,20,10</span>-50%
					</div>
					<div class="right">
						<strong>{{rpm_data}}</strong>Requests Served(rpm)
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="span8">
		<div class="row-fluid>
		<button class="btn btn-primary span3"><i class=" icon-signal icon-white"></i> LAST 24hours</button>
		<button class="btn btn-primary span3"><i class=" icon-signal icon-white"></i> LAST 6hours</button>
		<button class="btn btn-primary span3"><i class="icon-signal icon-white"></i> LAST 30minutes</button>
	</div>
	<div class="rowfluid">
		<div id="graph_placeholder" style=" height:300px; width:800px"></div>
	</div>
</div>
</div>