<!--<div class="widget-box" data-id="{{widget.id}}">
	<div class="widget-title">
		<span class="icon"><i class="icon-signal"></i></span><h5>{{widget.name}}</h5>
		<span class="title"><img ng-show="widget.enableSpinner" class="ajax-spinner" width="12" height="12" src="<%= asset_path('spinner2.gif') %>"></img></span>

		<div class="buttons">
			<a href="#" class="btn btn-mini"><i class="icon-refresh"></i> Update stats</a>
		</div>
	</div>
	<div class="widget-content">
		<div class="row-fluid">
		<div class="span8">
			<div ng-hide="showError" class="widget_content"></div>
		</div>
	</div>
</div>
</div>-->

<div ng-hide="showError" class="widget_content"></div>