<!-- Forgot password form modal -->
<div class="modal fade" data-backdrop="static" id="vmvnc" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog" style="max-width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">VNC</h4>
            </div>
            <div class="modal-body">
              <div id="screen-wrapper"  style="display: none;">
        <canvas id="screen" >
        </canvas>
        <button id="disconnect-btn">Disconnect</button>
      </div>

        </div>
    </div>
</div>
</div>
