<div class="modal-body app_body upload_app_body">
    <div class="row">
        <div class="col-xs-12">
            <table class="table borderless tb_upload">
                <tbody class="tr_upload_list">
                  {{#each fileselectors as |fs|}}
                      {{file-selector fs=fs action="addSelector"}}
                  {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-12">
            <a id="brow">
                <h4 class="pull-left">+ Add More Files</h4>
            </a>
            <span class="btn btn-success" data-dismiss="modal" aria-hidden="true">Done</span>
        </div>
    </div>
</div>
