<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="alert ssh-alert-success">
                Generate a SSH RSA 2048 key pair.Read
                <a href="" target="_blank"> <strong>here</strong></a>for information.
            </div>
            <form multipart="true" remote="true">
                <div class="form-group">

                    <label for="ssh-key_name">
                        Name
                    </label>
                    {{text-field class="form-control" placeholder="Enter a key pair to save" required="true"}}

                    <input type="hidden" name="key_type" value="RSA">
                    <input type="hidden" name="key_bit" value="2048">
                </div>

                <button class='btn btn-success col-md-12 col-xs-12' id='sshkey_create_submit' {{action "create"}}>update</button>
            </form>
        </div>
    </div>
</div>
