<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form multipart="true">
        <div class="form-group">
          {{text-field class="form-control" placeholder="Bucket Name" required="true"}}
        </div>
        {{d-button class="btn btn-success col-md-12 col-xs-12 bucket_create_submit" label="bucket.create"}}
      </form>
    </div>
  </div>
</div>
