<div id="component-create">
  <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div id="canvas_div">
                        <div id="canvas_container">
                            {{view "canvas" vnchost=vnchost vncport=vncport}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
