<%= form_tag bindService_path, multipart: true, :novalidate => 'novalidate',  :method => 'get', :remote => true  do %>
<div class="modal-content c_modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 class="modal-title">Bind Service</h4>
	</div>
	<div class="modal-body text-center">
		<% @str = "" %>
		<% @service.each do |service| %>
		<% @str << "<option value=#{service["aid"]}:#{service["cid"]}:#{service["name"]}>#{service["name"]}</option>" %>
		<% end %>
		<%= select_tag "bindservice", @str.html_safe, :class => "form-control input-sm" %>
		<%= hidden_field_tag 'bindapp', nil, placeholder: "", :class =>"form-control", :value => @bindapp  %>
	</div>
	<div class="modal-footer c_modal-footer">
		<button type="button" class="btn default" data-dismiss="modal">
			Cancel
		</button>
		<%= submit_tag "Bind", :class => "btn btn-success", data: { disable_with: "Please wait..." } %>
	</div>
</div>
<!-- /.modal-content -->

<% end %>