<% content_for :oneapp_contents do %>
<% provide(:title, 'Metrics') %>

<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9" ng-controller="LogCtrl" data-ng-init="sendmessage('<%= @appname %>')">

	<div class="row c_pading-b15 settings_top">
		<div class="margin_15">
			<div class="col-xs-9 col-sm-6 col-md-7">
				<h3> Logs </h3>

			</div>
			<%= render :partial => "users/topright_icons" %>
		</div>
	</div>

	<div class="row" style="max-height:500px; overflow-y:scroll">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h4>App Log</h4>
			<div class="bottom-divider"></div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<table class="table tb_action_list">
				<thead>
					<tr>
						<th>Timestamp</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="log in logs | orderBy:predicate:!reverse | slice:0:100">
						<td>
						<p>
							<small> {{ log.timestamp | date:'d MMM yy, hh:mm a Z' }}</small>
						</p></td>
						<td>
						<p>
							<small>{{log.message }}</small>
						</p></td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
</div>

<% end %>
<%= render :template => oneapps_show_path %>
