<div class="rt-box col-xs-12 col-sm-9 col-md-10 c_bg_white c_height_5">
    {{raw "topic-list-header" currentUser=currentUser title=title nameEnabled=nameEnabled name=name subTitleEnabled=subTitleEnabled subTitle=subTitle}}
    <div class="bottom-divider"></div>
    <div class="">
        <div class="row c_pading-b25 pad_0">
            <button type="button" class="btn btn-default pull-left ">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button type="button" class="btn btn-default pull-right link-icons" {{action "showVNC"}}>
                <span class="glyphicon glyphicon-blackboard"></span>
                VNC
            </button>
        </div>
    </div>
    <div class="predeploybar">
        {{#progress-bar  value=progress  striped=true minValue=0 maxValue=100 label="Launching..." showLabel=true}}{{/progress-bar}}
    </div>

    {{#predeploy-status machineId="ASM000001" machineName="abcd.pogo.com"}}
    {{/predeploy-status}}
    {{!predeploy-notifications}}
</div>
