/***
Buttons & Dropdown Buttons
***/

.btn {
	border-width: 0;
	padding: 12px 40px;
  height: 45px;
  font-size: 16px;
	outline: none !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-border-radius: 3 !important;
     -moz-border-radius: 3 !important;
          border-radius: 3 !important;

  -webkit-text-shadow: none;
     -moz-text-shadow: none;
          text-shadow: none;
}


.btn-plain {
  background-color: #fff;
  border: 2px solid #4e9de6 !important;
  color: #c6c8d4;
  width: 100%;
}
.btn-plain:hover {
  background-color: #4e9de6 !important;
  color: #fff;
}
.btn-plain-green {
  background-color: #fff;
  border: 2px solid #6fde86 !important;
  color: #8ddc9d;
  width: 100%;
}
.btn-plain-green:hover {
  background-color: #6fde86;
  color: #fff;
}
.tour-btn {
  padding-top: 10px;
  padding-bottom: 10px;
}


//------------- TO-DO verify if we use the below

/* fix jumping group buttons */
.btn-group.btn-group-solid .btn + .btn,
.btn-group.btn-group-solid .btn + .btn-group.btn-group-solid,
.btn-group.btn-group-solid .btn-group.btn-group-solid + .btn,
.btn-group.btn-group-solid .btn-group.btn-group-solid + .btn-group.btn-group-solid {
  margin-left: 0px;
}

.btn-group-vertical.btn-group-solid > .btn + .btn,
.btn-group-vertical.btn-group-solid > .btn + .btn-group,
.btn-group-vertical.btn-group-solid > .btn-group + .btn,
.btn-group-vertical.btn-group-solid > .btn-group + .btn-group {
  margin-top: 0px;
  margin-left: 0;
}

.btn-default {
  border-width: 1px;
  /*padding: 6px 13px;*/
}

.btn.red-stripe {
	border-left: 3px solid #d84a38;
}

.btn.blue-stripe {
	border-left: 3px solid #4d90fe;
}

.btn.purple-stripe {
	border-left: 3px solid #852b99;
}

.btn.green-stripe {
	border-left: 3px solid #35aa47;
}

.btn.yellow-stripe {
  border-left: 3px solid #ffb848;
}

.btn.dark-stripe {
  border-left: 3px solid #555555;
}

.btn.default {
  color: #333333;
  text-shadow: none;
  background-color: #e5e5e5;
}
.btn.default:hover,
.btn.default:focus,
.btn.default:active,
.btn.default.active,
.btn.default[disabled],
.btn.default.disabled {
  color: #333333;
  background-color: #d8d8d8 !important;
  outline: none !important;
}

/*  Red */
.btn.red {
  color: white;
  text-shadow: none;
  background-color: #d84a38;
}
.btn.red:hover,
.btn.red:focus,
.btn.red:active,
.btn.red.active,
.btn.red[disabled],
.btn.red.disabled {
  background-color: #bb2413 !important;
  color: #fff !important;
  outline: none !important;
}

/*  Blue */

.btn.blue {
  color: white;
  text-shadow: none;
  background-color: #4d90fe;
}
.btn.blue:hover,
.btn.blue:focus,
.btn.blue:active,
.btn.blue.active,
.btn.blue[disabled],
.btn.blue.disabled {
  background-color: #0362fd !important;
  color: #fff !important;
  outline: none !important;
}

.btn-group .btn.blue.dropdown-toggle {
  background-color: #4d90fe !important;
}
.btn-group .btn.blue:hover,
.btn-group .btn.blue:focus,
.btn-group .btn.blue:active,
.btn-group .btn.blue.active,
.btn-group .btn.blue.disabled,
.btn-group .btn.blue[disabled] {
  background-color: #0362fd !important;
  color: #fff !important;
  outline: none !important;
}

/*  Green */
.btn.green {
  color: white;
  text-shadow: none;
  background-color: #35aa47;
}
.btn.green:hover,
.btn.green:focus,
.btn.green:active,
.btn.green.active,
.btn.green.disabled,
.btn.green[disabled]{
  background-color: #6fde86 !important;
  color: #fff !important;
  outline: none !important;
}

/*  Purple */
.btn.purple {
  color: white;
  text-shadow: none;
  background-color: #852b99;
}
.btn.purple:hover,
.btn.purple:focus,
.btn.purple:active,
.btn.purple.active,
.btn.purple.disabled,
.btn.purple[disabled] {
  background-color: #6d1b81 !important;
  color: #fff !important;
  outline: none !important;
}

.btn-group .btn.purple.dropdown-toggle {
  background-color: #852b99 !important;
}
.btn-group .btn.purple:hover,
.btn-group .btn.purple:focus,
.btn-group .btn.purple:active,
.btn-group .btn.purple.active,
.btn-group .btn.purple.disabled,
.btn-group .btn.purple[disabled] {
  background-color: #6d1b81 !important;
  color: #fff !important;
  outline: none !important;
}

/*  Yellow */
.btn.yellow {
  color: white;
  text-shadow: none;
  background-color: #ffb848;
}
.btn.yellow:hover,
.btn.yellow:focus,
.btn.yellow:active,
.btn.yellow.active,
.btn.yellow.disabled,
.btn.yellow[disabled] {
  background-color: #eca22e !important;
  color: #fff !important;
  outline: none !important;
}

.btn-group .btn.yellow.dropdown-toggle {
  background-color: #ffb848 !important;
}
.btn-group .btn.yellow:hover,
.btn-group .btn.yellow:focus,
.btn-group .btn.yellow:active,
.btn-group .btn.yellow.active,
.btn-group .btn.yellow.disabled,
.btn-group .btn.yellow[disabled] {
  background-color: #eca22e !important;
  color: #fff !important;
  outline: none !important;
}

/*  Black */
.btn.dark {
  color: white;
  text-shadow: none;
  background-color: #555555;
}
.btn.dark:hover,
.btn.dark:focus,
.btn.dark:active,
.btn.dark.active,
.btn.dark.disabled,
.btn.dark[disabled] {
  background-color: #222222 !important;
  color: #fff !important;
  outline: none !important;
}

.btn-group .btn.dark.dropdown-toggle {
  background-color: #555555 !important;
}
.btn-group .btn.dark:hover,
.btn-group .btn.dark:focus,
.btn-group .btn.dark:active,
.btn-group .btn.dark.active,
.btn-group .btn.dark.disabled,
.btn-group .btn.dark[disabled] {
  background-color: #222222 !important;
  color: #fff !important;
  outline: none !important;
}

.btn-lg {
  padding: 18px 30px;
  font-size: 18px;
  line-height: 1.33;
  vertical-align: middle;
  border-radius: 2px !important;
}

.btn-lg > i {
  font-size: 18px;
}

.btn:hover
{
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1000ms;
  -moz-transition-property: background-color;
  -moz-transition-duration: 1000ms;
  transition-property: background-color;
  transition-duration: 1000ms;
}
.btn > i {
  font-size: 14px;
}

.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-sm > i,
.btn-xs > i {
  font-size: 13px;
}

.btn-xs {
  padding: 1px 5px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
