<div class="config_menu">
  <ul>
    <li>
      <!--<%= link_to catalogs_path(:id => id, :cat_id => asms_id, :name => name, :req_action => Api::Assemblies::START, :cattype => cattype, :category => "control"), :data => {:remote => true } , :method => :post do %>-->
      <i class="glyphicon glyphicon-play-circle"></i>Start

    </li>
    <li>
      <i class="glyphicon glyphicon-record"></i>Stop

    </li>
    <li>
      <i class="glyphicon glyphicon-refresh"></i>Restart

    </li>
    <li>
      <i class="glyphicon glyphicon-trash"></i>Delete

    </li>

  </ul>

  </div>
