{{customapp-selection category=category selectedItem=selectedItem}}
<div class="row">
    <div class="col-md-12 pad_tb25">
        {{customapp-selection-description category=category}}
        <br/>
        {{customapp-repo-selection category=category}}
    </div>
</div>
