<div class="tab-pane active" id="packaged-app">
    <div data-toggle="buttons">
        <div class="btn-storage-container bigger">
            {{app-selection-typechooser name='virtual machine' appeltypeable=appeltypeable style="float: left"}}
            {{app-selection-typechooser name='container' appeltypeable=appeltypeable style="float: right"}}
        </div>
    </div>
    <div class="row">
        <div class="input-search">
            <label for="ex3">Start your search</label>
            <input class="form-control flat" id="ex3" type="text">
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>name</th>
                <th>publisher</th>
                <th>category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Wordpress</td>
                <td>bitnami</td>
                <td>blog</td>
                <td>
                    <button class="btn-block btnFooter">next</button>
                </td>
            </tr>
            <tr>
                <td>OwnCloud</td>
                <td>bitnami</td>
                <td>collaboration</td>
                <td>
                    <button class="btn-block btnFooter">next</button>
                </td>
            </tr>
            <tr>
                <td>Discourse</td>
                <td>bitnami</td>
                <td>forum</td>
                <td>
                    <button class="btn-block btnFooter">next</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
