<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <div class="col-md-5">
            <div class="hour">
                {{format-currency totalHourlyCost  currency=currency}}/hour
            </div>
        </div>
        <div class="col-md-2">
            <div class="mod">
                <img src="images/billing/dot.png">
                - click to modify
            </div>
        </div>
        <div class="col-md-4">
            <div class="hour">
                {{format-currency monthlyCost  currency=currency}}/month
            </div>
        </div>
    </div>
</div>
