<div class="form-group">
    <label class="col-sm-6 control-label" for="amount">Amount (USD):</label> <span class="help-text">Hourly Cost</span>
    <div class="col-sm-6">
        <input class="form-control" id="amount" type="hidden">
        <p class="price lead" id="amount-label2">{{format-currency totalHourlyCost  currency=currency}}/hour</p><span class="price">.00</span>
    </div>
</div>
