<div class="box-resources">
    <div class="left-resources">
        <strong>RAM</strong> {{text-field value=nmemory class="filter-text" type="number"}}
        <span></span>
    </div>
    <div class="middle-resources">
        <strong>STORAGE (SSD)</strong> {{text-field  value=nstorage class="filter-text" type= "number"}}
        <span></span>
    </div>
    <div class="right-resources">
        <strong>CPU Cores</strong> {{text-field value=ncpu  class="filter-text" type="number"}}
    </div>
    <div class="left-resources">
        <strong>BANDWIDTH</strong> 500GB
        <span></span>
    </div>
    <div class="middle-resources">
        <strong>VM Limit</strong> 1
        <span></span>
    </div>
    <div class="right-resources">
        <strong>IPv4 Limit</strong> 1
    </div>
  </div>
