<div class="col-md-4 help_center_left">
    <div class="balance">
        <h2>Current balance:</h2>
        <span class="green">{{currentBalance}}</span>

        <h2>Current usage:</h2>
        <span class="blue">{{currentUsage}}</span>
        <br>
        <span>/month</span>
        <!-- Question mark here and when hovered/clicked it should show the following tooltip:
        "Your current balance is deducted hourly based on your current usage."
      -->
    </div>
</div>
