<tr class="del-up-cover">
    <td class="td-left objectListTd">
        <i id="objectFormat" {{bind-attr class="iconClass popIcon"}}></i>
        <b>{{model.key}}</b><i> - {{sizeWithUnits}}</i></td>
    <td class="pullright">
        <i class="cloud_download margin_15 "></i>
    </td>
    <td class="pullright">
        <i class="c_icon-trash margin_15 pull-right"></i>
    </td>
</tr>
