<tr class="del-up-cover">
    <td class="td-left objectListTd">
        <i id="objectFormat" class="pop_icon"></i>
        <b>{{model.key}}</b><i> - {{sizeWithUnits}}</i></td>
    <td style="padding-top:17px">
        <i class="c_icon-d margin_15  pull-right"></i>
    </td>
    <td style="padding-top:15px">
        <i class="c_icon-trash margin_15 pull-right"></i>
    </td>
</tr>
