<div class="row">
    <div id="prelaunch_image" class="col-md-7 pull-left" style="margin: 20px 0 0 0;">
        {{customapp-chooser valueAttribute="id" value=selectedApp}}
    </div>
    <div class="col-md-2" style="margin: 20px 0 0 0;">
        <label style="font-weight: bold;">Version</label>
    </div>
    <div class="col-md-3" style="margin: 20px 0 0 0;">
        {{combo-box valueAttribute="value" content=appVersions value=selectedAppVersion none=setting.allowsNone}}
    </div>
</div>
