<div class="row">
    <div class="col-xs-6">
        <p class="radioP">
            <input id="r1" name="radio_app_scm" required type="radio" value="nogit"/>
            <label for="r1">
                <span class="radioButtonGraph"></span>
                Your Github Repo
            </label>
        </p>
    </div>
    <div class="col-xs-6">
        <p class="radioP">
            <input id="r2" name="radio_app_scm" required type="radio" value="git"/>
            <label for="r2">
                <span class="radioButtonGraph"></span>
                Public Open Source Repo to Deploy</label>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <div class="col-md-offset-4 col-md-2">
            <a class="hint  hint--bottom" data-hint="Connect with your public github id" href="#" name="image_type" value="github">
                <img src='images/launch/github.png' class="img-responsive_byoc "></a>
        </div>
    </div>
    <div class="col-md-6 text-center"></div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="block" id="repos">
            {{combo-box valueAttribute="value" content=setting.validValues value=value none=setting.allowsNone}}
        </div>
    </div>
</div>
