<div class="firstStep">
    <div class="head">
        <div class="row">
            <div class="col-sm-12">
                <h2>Choose your config</h2>
            </div>
        </div>
    </div>
    <div class="selectBg">
        <div class="row">
            <div data-toggle="buttons">
                {{edit-category-chooser name="virtualmachines" position="right"}}
                {{edit-category-chooser name="applications" }}
            </div>
        </div>
    </div>
</div>
