<section class="" id="section-topline-2">
    <div class="vm-step2">
      <div class="rowblock" style=
        "width: 100%; float: left; min-height: 450px;overflow-x: hidden;margin-top:15px;">
            <ul class="tabsos">
                <li class="active">
                    <a class="distro coreos"
                    data-toggle="tab" href=
                    "#images-coreos"><span>CoreOS</span>
                    <div class="icon">
                    </div></a>
                </li>
                <li class="">
                    <a class="distro debian"
                    data-toggle="tab" href=
                    "#images-debian"><span>Debian</span>
                    <div class="icon">
                    </div></a>
                </li>
                <li class="">
                    <a class="distro ubuntu"
                    data-toggle="tab" href=
                    "#images-ubuntu"><span>Ubuntu</span>
                    <div class="icon">
                    </div></a>
                </li>
                <li class="">
                    <a class="distro fedora"
                    data-toggle="tab" href=
                    "#images-fedora"><span>Fedora</span>
                    <div class="icon">
                    </div></a>
                </li>
                <li class="">
                    <a class="distro centos"
                    data-toggle="tab" href=
                    "#images-centos"><span>CentOS</span>
                    <div class="icon">
                    </div></a>
                </li>
                <li class="">
                    <a class="distro opensuse"
                    data-toggle="tab" href=
                    "#images-opensuse"><span>OpenSuSE</span>
                    <div class="icon">
                    </div></a>
                </li>
                <li class="">
                    <a class="distro windows"
                    data-toggle="tab" href=
                    "#images-windows"><span>Windows</span>
                    <div class="icon">
                    </div></a>
                </li>
                <li class="">
                    <a class="distro apps"
                    data-toggle="tab" href=
                    "#images-apps"><span>Snapshots</span>
                    <div class="icon">
                    </div></a>
                </li>
            </ul>
            <div class="oscontainer">
                <div class="tab-content">
                    <div class=
                    "tab-pane active" id=
                    "images-coreos">
                        <div class=
                        "version_select versionactive"
                        content="">
                            CoreOS
                        </div>
                    </div>
                    <div class="tab-pane" id=
                    "images-debian">
                        <div class=
                        "version_select"
                        content="">
                            Debian 8.1
                        </div>
                        <div class=
                        "version_select"
                        content="">
                            Debian 7.1
                        </div>
                        <div class=
                        "version_select"
                        content="">
                            Debian 6.5
                        </div>
                    </div>
                    <div class="tab-pane" id=
                    "images-ubuntu">
                        <div class=
                        "version_select"
                        content="">
                            Ubuntu 15.10
                        </div>
                        <div class=
                        "version_select"
                        content="">
                            Ubuntu 15.04
                        </div>
                        <div class=
                        "version_select"
                        content="">
                            Ubuntu 14.04.4 LTS
                        </div>
                        <div class=
                        "version_select"
                        content="">
                            Ubuntu 12.04.5 LTS
                        </div>
                    </div>
                    <div class="tab-pane" id=
                    "images-fedora">
                        <div class=
                        "version_select"
                        content="">
                            Fedora 23

                        </div>
                        <div class=
                        "version_select"
                        content="">
                            Fedora 22
                        </div>
                    </div>
                    <div class="tab-pane" id=
                    "images-centos">
                        <div class=
                        "version_select"
                        content="">
                            CentOs 7
                        </div>
                        <div class=
                        "version_select"
                        content="">
                            CentOS 6.5
                        </div>
                        <div class=
                        "version_select"
                        content="">
                            CentOS 5.10
                        </div>
                    </div>
                    <div class="tab-pane" id=
                    "images-opensuse">
                        <div class=
                        "version_select"
                        content="">
                            OpenSuSE 13.1
                        </div>
                        <div class=
                        "version_select"
                        content="">
                            OpenSuSE 12.3
                        </div>
                    </div>
                    <div class="tab-pane" id=
                    "images-windows">
                        <div class="wind na"
                        content=
                        "Windows require at least 20GB disk space - Please pick your package accordingly.">
                        Windows Server 2012 R2
                        </div>
                        <div class="wind na"
                        content=
                        "Windows require at least 20GB disk space - Please pick your package accordingly.">
                        Windows Server 2008 R2
                        </div>
                    </div>
                    <div class="tab-pane" id=
                    "images-apps">
                        <div class=
                        "version_select apps"
                        content=
                        "Powerful Open source - Live Support chat for your website. Web and desktop clients. Co-Browsing, XMPP notifications, GTalk, Jabber, Openfire, Skype, Chrome extension, Node.js support, MySQL, PostgreSQL. For best integration use FQDN as the hostname, Example : support.mywebsite.com. Step by step guide in our blog.">
                        <div class="appsicon"
                            style=
                            "background-image: url(../images/lapps_livehelperchat.png);">
                            </div>LiveHelperChat
                        </div>
                        <div class=
                        "version_select apps"
                        content=
                        "GitLab offers git repository management, code reviews, issue tracking, activity feeds and wikis. Enterprises install GitLab on-premise and connect it with LDAP and AD.">
                        <div class="appsicon"
                            style=
                            "background-image: url(../images/lapps_gitlab.png);">
                            </div>GitLab
                        </div>
                        <div class=
                        "version_select apps"
                        content=
                        "Zabbix is the ultimate enterprise-level software designed for real-time monitoring of millions of metrics collected from tens of thousands of servers, virtual machines and network devices. For step by step guide &quot;How To&quot; please check our blog posts.">
                        <div class="appsicon"
                            style=
                            "background-image: url(../images/lapps_zabbix.png);">
                            </div>Zabbix
                        </div>
                        <div class=
                        "version_select apps"
                        content=
                        "Create your online store with PrestaShop's free shopping cart software. Build an ecommerce website for free and start selling online with hundreds of powerful tools, Deploy in 30 seconds .. See blog for step by step deployment.">
                        <div class="appsicon"
                            style=
                            "background-image: url(../images/lapps_prestashop.png);">
                            </div>PrestaShop
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
