<section class="" id="section-topline-4">
  <div class="app-step2">
   <div class="rowblock" style=
    "width: 100%; float: left; min-height: 450px;overflow-x: hidden;margin-top:15px;">
        <ul class="tabsos tabs2">
            <li class="active">
                <a class="distro-prepackaged"
                data-toggle="tab" href=
                "#packaged-app">
                <span>Pre-packaged</span></a>
            </li>
            <li class="">
                <a class="distro-custom"
                data-toggle="tab" href=
                "#custom-app"><span>Custom Application</span></a>
            </li>
        </ul>
        <div class="oscontainer">
            <div class="tab-content">
                <div class=
                "tab-pane active" id=
                "packaged-app">
<div data-toggle="buttons">
<div class="btn-storage-container bigger">
<label class=
"btn btn-storage active" style=
"float: left;"><input autocomplete="off"
id="loc1" name="options" style=
"display:none;" type="radio">
virtual machine</label> <label class=
"btn btn-storage" style=
"float:right;"><input autocomplete="off"
id="loc1" name="options" style=
"display:none;" type="radio">
container</label>
</div>
</div>
<div class="row">
<div class="input-search">
<label for="ex3">Start your search</label>
<input class="form-control flat" id="ex3" type="text">
</div>
                    </div>
<table class="table table-striped">
<thead>
<tr>
<th>name</th>
<th>publisher</th>
<th>category</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>(ICON) Wordpress</td>
<td>bitnami</td>
<td>blog</td>
<td><button class="btn-block btnFooter">next</button></td>
</tr>
<tr>
<td>(ICON) Wordpress</td>
<td>bitnami</td>
<td>blog</td>
<td><button class="btn-block btnFooter">next</button></td>
</tr>
<tr>
<td>(ICON) Wordpress</td>
<td>bitnami</td>
<td>blog</td>
<td><button class="btn-block btnFooter">next</button></td>
</tr>
</tbody>
</table>
                </div>

                <div class="tab-pane" id=
                "custom-app">
                    CUSTOM APPLICATION LAYOUT IN CURRENT VERTICE.
                </div>
            </div>
        </div>
    </div>

  </div>
</section>
