<section class="step3">
   {{launching-network-chooser category=category}}

   {{launching-ssh-chooser sshFrequencies=sshFrequencies category=category}}

    {{launching-summary-show category=category}}

    {{launching-duplicates-chooser duplicateable=duplicateOption category=category}}

</section>
