<div class="col-sm-6">
    <label class="btn btn-primary btnSelect right {{selectedConfig}}">
        <img class="inSelect" src="../images/launch/virtualmachines.png">
        {{showLaunchableImage}}
        <br>
    <input autocomplete="off" id="option1" name="options" style="display:none;" type="radio">
    {{launchableName}}
  </label>
</div>
