<section class="step3">
   {{launching-network-chooser}}

   {{launching-ssh-chooser category=category}}

    {{launching-summary-show category=category}}

    {{launching-duplicates-chooser category=category}}

</section>
