<div class="firstStep">
    <div class="modal-header">
        <h3 class="modal-title text-center">Choose your config</h3>
        <div class="clearfix"></div>
    </div>
    <div class="selectBg">
        <div class="row">
            <div data-toggle="buttons">
                <div class="col-xs-12 offset-md-2 col-md-4">
                    {{edit-category-chooser name="virtualmachines" title="Virtual Machine" image="virtualmachines.png" launchable=launchable position="right"}}
                </div>
                <div class="col-xs-12 col-md-4">
                    {{edit-category-chooser name="applications" title="Application" image="applications.png" launchable=launchable }}
                </div>
            </div>
        </div>
    </div>
</div>
