<section class="" id="section-topline-4">
    <div class="app-step2">
        <div class="row" style="width: 99%; float: left; min-height: 450px;overflow-x: hidden;margin-top:15px;">
            <ul class="tabsos tabs2">
                {{app-selection-tab apppanels=apppanels selectedTab=selectedTab tab="prepackaged"}}
                {{app-selection-tab apppanels=apppanels selectedTab=selectedTab tab="customapp"}}
            </ul>
            <div class="oscontainer">
                <div class="tab-content">
                    {{#each apppanels as |tab|}}
                        {{component tab tab=tab selectedTab=selectedTab selectedPackApp=selectedPackApp category=category}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
