<div class="firstStep">
    <div class="head">
        <div class="row">
            <div class="col-sm-12">
                <h2>Choose your config</h2>
            </div>
        </div>
    </div>
    <div class="selectBg">
        <div class="row">
            <div data-toggle="buttons">
                <div class="col-sm-6">
                    {{edit-category-chooser name="virtualmachine"}}
                </div>
                <div class="col-sm-6">
                    {{edit-category-chooser name="application" }}
                </div>
            </div>
        </div>
    </div>
</div>
