<tr class="working">
    <td class="td-left">
      <input type="file" id="objectfile" style="visibility: hidden; position: absolute;" />
        <i id="format_icons" {{bind-attr class="iconClass popIcon"}}></i>
        <b>{{fileName}}</b>
        <i id="filesize">{{fileSize}}</i>
    </td>
    <td class="td-left pull-right"><i class="close_red"></i></td>
    <td class="td-left pull-right">
        <span>Ready to upload...</span>
        <span class="pull-right">
        {{conditional-loading-spinner condition=showConnectSpinner size="large"}}
      </span>
    </td>
</tr>
