<tr class="working">
  <form id="fileformupload" action="/b/put" method="POST" enctype="multipart/form-data">
    <td class="td-left">
        <input type="hidden" value={{bucketName}} name ="bucket_name">
        <input type="file" name="file" id="objectfile" style="visibility: hidden; position: absolute;" />
        <i id="format_icons" {{bind-attr class="iconClass popIcon"}}></i>
        <b>{{fileName}}</b>
        <i id="filesize">{{fileSize}}</i>
        <input type="submit" id="formSubmit" style="visibility: hidden;">
    </td>
    <td class="td-left pull-right"><i class="close_red"></i></td>
  </form>
</tr>
