<div class="col-md-4 pad_0">
      <div class="lInner middle">
        <div class="lBox">
            <div class="lHead">
                <div class="lIcon">
                     <img alt="" class="roundFlag" src= {{regionFlag}}>
                    <h4><b>{{regionName}}</b></h4>
                </div>
            </div>
            <div class="lFooter">
                {{launching-region-chooser name=regionName regionable=regionable}}
            </div>
        </div>
    </div>
</div>
