<div class="row">
    <h3>{{i18n 'launcher.select_networking'}}</h3>
    <div class="bottom-divider"></div>
</div>
<div class="row pad_t25">
    <div class="col-md-6  pad_0">
        {{d-checkbox label="launcher.enable_ipv6" checked=overridden change="search"}}
    </div>
    <div class="col-md-6  pad_0">
        {{d-checkbox label="launcher.enable_private_networking" checked=true change="search"}}
    </div>
</div>
