<div class="rInner col-sm-4">
    <div class="rBox shorter">
        <div class="rHead">
            <div class="rTitle">
                <span>s1.micro</span>
            </div>
            <div class="rContent">
                <p>
                    <span>1</span> CPU
                    <br>
                    <span>1024MB</span> Memory
                    <br>
                    <span>35GB</span> Storage
                    <br>
                </p>
            </div>
        </div>
        <div class="rFooter">
            <label class="btn btn-block" id="slideDown3">
                <input autocomplete="off" id="loc1" name="options" style="display:none;" type="radio"> select
            </label>
        </div>
    </div>
</div>
