<div data-toggle="buttons">
    <div class="btn-storage-container">
        <label class="btn btn-storage active" style="float: left;">
            <input autocomplete="off" id="loc1" name="options" style="display:none;" type="radio"> SSD
        </label>
        <label class="btn btn-storage" style="float:right;">
            <input autocomplete="off" id="loc1" name="options" style="display:none;" type="radio"> HDD
        </label>
    </div>
</div>
