{{#if versions}}
    {{#each versions as |v|}}
    <div class="version_select" content="">
{{! versionactive}}
        {{!launching-region region=r regionable=regionable}}
        {{v}}
    </div>
    {{/each}}
{{else}}
    <label>{{i18n 'launcher.versions_not_found'}}</label>
{{/if}}
