<div class="col-md-4 pad_0">
      <div class="lInner">
        <div class="lBox">
            <div class="lHead">
                <div class="row lIcon">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <img alt="" class="roundFlag" src= {{regionFlag}}></div>
                    <h4>{{regionName}}</h4>
                </div>
            </div>
            <div class="lFooter">
                {{launching-region-chooser name=regionName regionable=regionable}}
            </div>
        </div>
    </div>
</div>
