<div class="col-md-4 pad_0">
      <div class="lInner">
        <div class="lBox">
            <div class="lHead">
                <div class="row lIcon">
                        <span class="flag-icon flag-icon-{{regionFlag}}"></span>
                    <h4>{{regionName}}</h4>
                </div>
            </div>
            <div class="lFooter">
                {{launching-region-chooser name=regionName regionable=regionable}}
            </div>
        </div>
    </div>
</div>
