<div class="tab-pane {{active}}">
<div class="version_select apps" content="Powerful Open source - Live Support chat for your website. Web and desktop clients. Co-Browsing, XMPP notifications, GTalk, Jabber, Openfire, Skype, Chrome extension, Node.js support, MySQL, PostgreSQL. For best integration use FQDN as the hostname, Example : support.mywebsite.com. Step by step guide in our blog.">
    <div class="appsicon" style="background-image: url(../images/lapps_livehelperchat.png);">
    </div>LiveHelperChat
</div>
<div class="version_select apps" content="GitLab offers git repository management, code reviews, issue tracking, activity feeds and wikis. Enterprises install GitLab on-premise and connect it with LDAP and AD.">
    <div class="appsicon" style="background-image: url(../images/lapps_gitlab.png);">
    </div>GitLab
</div>
</div>
