<div class="tab-pane {{active}}">
<div class="wind na" content="Windows require at least 20GB disk space - Please pick your package accordingly.">
    Windows Server 2012 R2
</div>
<div class="wind na" content="Windows require at least 20GB disk space - Please pick your package accordingly.">
    Windows Server 2008 R2
</div>
</div>
