<div class="lInner col-sm-4">
    <div class="lBox">
        <div class="lHead">
            <div class=
            "row lIcon">
                <div class=
                "col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <img alt=""    src="../images/regions/{{region.region}}"></div>
                <h3>{{region.name}}</h3>
            </div>
        </div>
        <div class="lFooter">
            <label class=
            "btn btn-block" id=
            "slideDown2"><input autocomplete="off"
            id="loc1" name=
            "options" style=
            "display:none;"
            type="radio">
            select</label>
        </div>
    </div>
</div>
