<div class="col-sm-12">
    <div class="advanced">
        <div class="aHead">
            <span>ADVANCED
                SETTINGS</span>
        </div>
        <div class="aContent">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="minified-margin">
                        Compute:</h2>
                    <p>
                        $13.00/mo</p>
                </div>
                <div class="col-sm-9">
                    <div style="margin-top: 25px;">
                        <input id="ex13" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="minified-margin">
                        Storage:</h2>
                    <p>
                        $13.00/mo</p>
                </div>
                <div class="col-sm-9">
                    <div style="margin-top: 25px;">
                        <input id="ex14" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
