<ul class="ui-listview">
    <li style="display: block;">
        <a class="ui-btn error">
            <div class="ui-grid-b">
                <span class=""></span>
                <div class="ui-block-a">
                    <span class=""></span>
                    <div>
                        <span class="">Restart
									<!----></span>
                    </div><span class=""></span>
                </div>
                <div class="ui-block-b">
                    <span class=""></span>
                    <div class="tag tag-request">
                        <span class="">request</span>
                    </div>
                    <!---->
                </div>
                <div class="ui-block-c">
                    <span class=""></span>
                    <div class="time">
                        <span class="">36 secs ago</span>
                    </div>
                </div>
            </div>
        </a>
    </li>

    <li style="display: block;">
        <a class="ui-btn">
            <div class="ui-grid-b">
                <span class=""></span>
                <div class="ui-block-a">
                    <span class=""><!----></span>
                    <div>
                        <span class="">Snapshot Server<!----></span>
                    </div><span class=""></span>
                </div>
                <div class="ui-block-b">
                    <span class=""></span>
                    <div class="tag tag-session">
                        <span class="">session</span>
                    </div>
                    <!---->
                </div>
                <div class="ui-block-c">
                    <span class=""></span>
                    <div class="time">
                        <span class="">1 min ago</span>
                    </div>
                </div>
            </div>
        </a>
        <!---->
    </li>


    <li style="display: block;">
        <a class="ui-btn">
            <div class="ui-grid-b">
                <span class=""></span>
                <div class="ui-block-a">
                    <span class=""><!----></span>
                    <div>
                        <span class="">Install Monitoring Agent<!----></span>
                    </div><span class=""></span>
                </div>
                <div class="ui-block-b">
                    <span class=""></span>
                    <div class="tag tag-request">
                        <span class="">request</span>
                    </div>
                    <!---->
                </div>
                <div class="ui-block-c">
                    <span class=""></span>
                    <div class="time">
                        <span class="">Mar 25</span>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <li style="display: block;">
        <a class="ui-btn">
            <div class="ui-grid-b">
                <span class=""></span>
                <div class="ui-block-a">
                    <span class=""><!----></span>
                    <div>
                        <span class="">Deploy server<!----></span>
                    </div><span class=""></span>
                </div>
                <div class="ui-block-b">
                    <span class=""></span>
                    <div class="tag tag-request">
                        <span class="">request</span>
                    </div>
                    <!---->
                </div>
                <div class="ui-block-c">
                    <span class=""></span>
                    <div class="time">
                        <span class="">Mar 24</span>
                    </div>
                </div>
            </div>
        </a>
        <!---->
    </li>
</ul>
