<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-3">
        <div class="logo">
            <img src="{{unbound smallLogoUrl}}"/>
        </div>
    </div>
</div>
