<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3">
        <div class="logo">
            <img src="{{unbound smallLogoUrl}}"/>
        </div>
    </div>
</div>
