<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-xl-8 offset-sm-1 offset-md-1 offset-lg-2 offset-xl-2">
        <div class="logo">
            <img src="{{unbound smallLogoUrl}}" />
        </div>
    </div>
</div>
