<table class="table tb_list">
        <thead>
            <tr>
                <th>Username </th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="set_name"> vinothini</td>
                <td class="set_title"> vino.v@megam.io</td>
            </tr>
        </tbody>
    </table>
