<table class="table tb_list">
        <tbody>
            <tr>
              {{#each organizationType as |member|}}
                <td>{{member.name}}</td>
                {{/each}}
            </tr>
        </tbody>
    </table>
