  <div class="cd-faq-items">
        <ul id="basics" class="style:none; cd-faq-group">
            <li class="style:none">
                <div class="cd-faq-trigger">
                  How do I sign up?
                  <i class="circle_green pull-right"> </i>
                 </div>
                <!-- cd-faq-content -->
            </li>
        </ul>
        <!-- cd-faq-group -->
    </div>
<!-- <div class="">
    <div class="row c_pading-b25">
        <div class="bottom-divider"></div>
        <h3>
            <span>deploy one</span>
            <i class="circle_green pull-right blink-me"></i>
            <i class="c_icon-star pull-right" style="padding-right:30px"></i>
        </h3>
        <h3>
            <span>deploy one</span>
            <i class="circle_green pull-right blink-me"></i>
            <i class="c_icon-star pull-right" style="padding-right:30px"></i>
        </h3>
    </div>
</div>

<div class='notifications'>
  {{#conditional-loading-spinner condition=loadingNotifications containerClass="spinner-container"}}
    {{#if notifications}}
      <hr>
      <ul>
        {{#each notifications as |n|}}
          {{notification-item notification=n}}
        {{/each}}
      </ul>
    {{/if}}
  {{/conditional-loading-spinner}}
</div>
-->
