<div class="prof bottom_border_grey">
        <div class="row">
            <div class="col-xs-5 col-sm-6">
                <h4 class="">Organization Information</h4>
            </div>
            <!--if condition <% if @orgs.has_team? %>-->
            <div class="pull-right col-xs-3">
                <div class="dropdown">
                    <div class="form-group">
                        <select class=" form-control dropdown-toggle">
                            <!--<% @orgs.teams.each do |team| %>-->
                            <option>megamio</option>
                            <!--<% end %>-->
                        </select>
                    </div>
                </div>
            </div>
            <!--<% else %>
            <div class="pull-right col-xs-3">
                <div class="dropdown">
                    <div class="form-group">
                        <select class=" form-control dropdown-toggle">
                            <option><%= t('errors.no_organizations_found') %></option>
                        </select>
                    </div>
                </div>
            </div>
            <% end %>
            <div class="invite_user_modal">
            <button class="pull-right btn btn-sucess">
            Invite
            </button>
            </div>-->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 margintb_15">
            <ul class="nav nav-pills c_nav_pills">
                {{organization-tab orgPanels=orgPanels orgSelectedTab=orgSelectedTab orgTab="user"}}
                {{organization-tab orgPanels=orgPanels orgSelectedTab=orgSelectedTab orgTab="domain"}}
            </ul>
            <div class="org-datas">
            {{#each orgPanels as |orgTab|}}
                {{component orgTab orgSelectedTab=orgSelectedTab}}
            {{/each}}
          </div>

        </div>
    </div>
