<div class="prof bottom_border_grey">
  <div class="row">
    <div class="col-xs-10 col-sm-9">
        <h4>Your Api Key</h4>
      </div>
          <button class='btn btn-success col-md-2 col-xs-2 pull-right' {{action "update"}}>update</button>
        </div>
      </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <table class="table tb_list">
            <thead>
                <tr>
                    <th>Keys</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="set_title"> 02b78b82fc268a8b89d781f4e937d0fb1332d85d</td>
                    <td> 2016-06-15 05:22:01 +0000	</td>
                    <td> <i class="glyphicon glyphicon-trash"></i>Delete</td>
                </tr>
            </tbody>
        </table>

</div>
