{{#if searchBarVisible}}
    <div class="row pad_5">
        <div class="col-md-11">
            {{#search-text-field value=searchService.term id="search-term" }}{{/search-text-field}}
        </div>
        <div class="col-md-1 pad_5">
            {{conditional-loading-spinner condition=loading size="large"}}
        </div>
    </div>
{{/if}}
{{#unless loading}}
    <div class="results">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>name</th>
                    <th>publisher</th>
                    <th>category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#if noResults}}
                    <div class="no-results">
                        {{i18n "search.no_results"}}
                    </div>
                {{else}}
                    {{#each content.resultTypes as |resultType|}}
                        {{component resultType.componentName category=category resultType=resultType.results gotoSummarize=gotoSummarize}}
                    {{/each}}
                {{/if}}
            </tbody>
        </table>
    </div>
{{/unless}}
