<tr>
    <td>{{showBrandImage}} {{resultType.name}}</td>
    <td>{{resultType.provider}}</td>
    <td>{{resultType.category}}</td>
    <td><button class="btn-block btnFooter">next</button></td>
</tr>
