<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <a href {{action "download"}} class="btn btn-dark-blue pad_zero">
        <i class="c_icon-in"></i><span>{{showType}}</span>
        <span class="pull-right">
      {{conditional-loading-spinner condition=showSpinner size="large"}}
      </span>
    </a>
</div>
