<div class="container">
<div class="tab-content">
              <div class="row tab-pane active" id="quota">
                <div class="col-xs-12 col-md-4 col-custom-1200">
                    <div class="custom-1200-plan" id="explore_plans">
                        <div id="explore_bar">
                            <div class="explore_bar_type_dev" id="explore_bar_type">
                                <div class="explorestx_browsebar_brand_logo_stxcl" id="explorestx_browsebar_brand_logo">
                                    <h2>DET:Compute</h2>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                            <div id="explorestx_specs">
                                <ul>
                                    <li>Scalable
                                        <div class="explorestx_specs_blank">
                                            <div class="explorestx_specs_fill_workload_cl" id="explorestx_specs_fill_workload">
                                            </div>
                                        </div>
                                    </li>
                                    <li>Performance
                                        <div class="explorestx_specs_blank">
                                            <div class="explorestx_specs_fill_performance_cl" id="explorestx_specs_fill_performance">
                                            </div>
                                        </div>
                                    </li>
                                    <li>Capacity
                                        <div class="explorestx_specs_blank">
                                            <div class="explorestx_specs_fill_capacity_cl" id="explorestx_specs_fill_capacity">
                                            </div>
                                        </div>
                                    </li>
                                    <li>Reliability
                                        <div class="explorestx_specs_blank">
                                            <div class="explorestx_specs_fill_reliability_cl" id="explorestx_specs_fill_reliability">
                                            </div>
                                        </div>
                                    </li>
                                    <li>Cost
                                        <div class="explorestx_specs_blank">
                                            <div class="explorestx_specs_fill_cost_cl" id="explorestx_specs_fill_cost">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div style="clear:both;"></div>
                            </div>
                            <div id="explorestx_specs_2">
                                <div class="explorestx_specs_2_list_cl" id="explorestx_specs_2_list">
                                    <ul>
                                        <li>Drive Type:<span>SATA
                                            7.2K</span></li>
                                        <li>Network Port:
                                            <span>100Mbit/s</span></li>
                                    </ul>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid clearfix sub-features custom-1200-grid" id="grid">
                        <a href="#" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                            <figure>
                                <img src="img/feature-icon.png">
                                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                    <path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
                                </svg>
                                <figcaption>
                                    <h2>Feature list</h2>
                                    <p>Compare all types of computing services to match your needs!</p>
                                    <button>View</button>
                                </figcaption>
                            </figure>
                        </a>

                    </div>
                </div>
                <div class="price-box col-sm-12 col-md-10 col-md-offset-1 col-lg-8">
                    <form class="form-horizontal form-pricing" role="form">
                      <div class="price-slider">
                          <h4 class="great">Regions</h4>
                              {{sub-region regions=regions subRegionOption=subRegionOption model=model}}
                          </div>
                        <div class="price-slider">
                            <h4 class="great">Summary</h4>
                            <div class="col-sm-12">
                                <div id="slider2"></div>
                            </div>
                        </div>
                        <div class="price-form">
                          <!-- {{sub-unit-hour-cost model=model}} -->
                            <div class="form-group">
                          {{sub-quotas model=model}}
                            </div>
                            <hr class="style">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Proceed <span class="glyphicon glyphicon-chevron-right pull-right" style="padding-right: 10px;"></span></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12"><img class="img-responsive payment" src="img/payment.png"></div>
                        </div>
                    </form>
                </div>
        </div>
      </div>
