<div class="col-md-12 text-center">
    {{#super-number-directional-link action="handleIncrement" }}
        <a class="increment" href="#">+</a>
    {{/super-number-directional-link}}
      {{input type="text" value=value disabled="disabled" size="10"}}
    {{#super-number-directional-link action="handleDecrement" }}
        <a class="decrement" href="#">-</a>
    {{/super-number-directional-link}}
</div>
