<ul>
    <li>{{d-link route='user' model=currentUser class="topic-control-link" icon="play-circle" label="topic.start"}}</li>
    <li>{{d-link route='user' model=currentUser class="topic-control-link" icon="record" label="topic.start"}}</li>
    <li>{{d-link route='user' model=currentUser class="topic-control-link" icon="refresh" label="topic.stop"}}</li>
    <li>{{d-link route='user' model=currentUser class="topic-control-link" icon="trash" label="topic.destroy"}}</li>
</ul>
