<h4 class="">Basic Information <span class="pull-right" >vino@gmail.com</span></h4>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cloud_signup_save c_tab-content-top">
  <form class="form-horizontal" id="megamform" novalidate="novalidate">
    <div class="form-group">
    <label class="col-md-3 control-label label-profile lable-color">Profile Name</label>
    <div class="col-md-5 input-group margin-top-10">
      {{text-field class="form-control" placeholder="Enter the text" readonly="true" value=profilename}}
    </div>
    <span class="input-group-addon " ><a {{action "change_name"}} class="pull-left btn">change?</a></span>
  </div>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-3 input-group margin-top-10 ">
        <button class='btn disabled btn-success col-md-5 col-xs-12' {{action "update"}}>update</button>
      </div>
    </div>
</form>
</div>
