<div class="row">
    <div class="col-md-6 info-center">
        <table>
            <tr>
                <td>
                    <h5><b>{{content_ram_size}}</b></h5></td>
                <td>{{model.ram}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 info">
        {{chart-ram ip=model.publicIP}}
    </div>
</div>
