<button type="button" class="btn btn-default pull-right link-icons"  {{bind-attr disabled="buttonDisabled"}} {{action "showVNC"}}>
    <span class="glyphicon glyphicon-console"></span> CONSOLE
</button>
