<% @products = Product.all %>
<div class="row-fluid">
	<div class="span12" id="folders">
		<p class="help-block">
			<span class="label label-info">select</span><strong> Select a cloud application</strong>
		</p>
		<div class="flexslider">
			<ul class="slides">
				<% @products.each do |product| %>
				<li>
					<%= link_to import_path(:api_name => product.name, :url => product.url, :app_url => product.deccanplato_url), :remote => true, :type => "submit", :method => "post", data: { spinlock: '#dec'}  do %>
					<i class="logoc_<%= product.image_url %>", id ="slider-image"></i>
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<%= form_tag "/deccanplato", :id => 'form_json', :remote => true do %>
<div class="row-fluid">
	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="fa fa-th-list"></i> </span>
			<h5>Live Cloud</h5>
		</div>
		<div class="widget-content">
			<div id="output_display"></div>
			</br>
			<strong><span class="label label-info">*selection</span> Select any one URL to create </strong>
			</br>

			<table class="table table-striped table-bordered">
				<br/>
				<tbody>
					<tr>
						<td>
						<div style="height: 340px;  overflow-y: scroll;">
							<h4>Cloud Application URL's'</h4>
							<div  id="cloud_rest_api">
								<div class="alert alert-info">
									<h5>App not yet selected.</h5>
								</div>
							</div>
						</div></td>
						<td>
						<div  style="height: 340px;  overflow-y: scroll;">
							<h4>Data Explorer</h4>
							Connector Bed :
							<div id="c_bed">
								<div class="alert alert-info">
									<span ><h5>Connector Bed not yet selected.</h5></span>
								</div>
							</div>
							<br/>
							<div class="control-group">
								<div class="controls">
									Cloud Application URL :
									<div id="c_appurl">
										<div class="alert alert-info">
											<span><h5>Cloud Application URL not yet selected.</h5></span>
										</div>
									</div>
									<br/>
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									Query string
									<br/>
									<%= text_field :json_text, :id => 'json_text', placeholder: "json" %>
								</div>								
							</div>
						</div></td>
						<td>
						<div id="json_text">
							<div class="alert alert-info">
								<h5>Choose Cloud Application URL.</h5>
							</div>
						</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
<% end %>
