<% if @result_class != "Megam_Error" %>
<div class="alert alert-success">
	<button class="close" data-dismiss="alert">
		×
	</button>
	<h4><%= @result %></h4>
</div>
<% else %>
<div class="alert alert-error">
	<button class="close" data-dismiss="alert">
		×
	</button>
	<h4><%= @result %><%= link_to "http://support.megam.co/", :target => "_blank"  do %> http://support.megam.co/ .
	<% end %></h4>
</div>

<% end %>
