<h4>JSON</h4>
<textarea name="json" cols="80" rows="13"><%= @json %></textarea>
<div class="offset3">
	<%= submit_tag "Run Query", :class => "btn btn-primary", :remote => true, data: { spinner: '#spin_deccan'} %>
	<!--<%= link_to "Run Query" , deccanplato_path(:url => @url, :deccanplato_url => @app_url, :json => @json), :class => "btn btn-large", :remote => true, data: { spinner: '#spin_deccan'} %>-->
    <%= spinner_tag 'spin_deccan' %>
</div>
