
var selected_entity = '#cloud_rest_api';

var api1 = '<%= @api_name %>';
var bed =  '<%= @url %>';
var appurl = '<%= @app_url %>';

$("<h4>"+bed+"</h4>").replaceAll('#c_bed');
$("<h4>"+appurl+"</h4>").replaceAll('#c_appurl'); 

$(selected_entity).toggle();

$(selected_entity).fadeIn("slow");

var to_insert_content = "<%= escape_javascript(render :partial => 'connector_projects/rest_api', :locals => {:api_name => @api_name }) %>";
	
insertAt(selected_entity, to_insert_content);


