<% content_for :content_settings do %>
<% provide(:title, 'New Connector_projects') %>

<h2> New project</h2>
<div id="toolbar" class="navbar-inner">
	<% @products.each do |product| %>
	<% @apps_item.each do |apps_item_el| %>
	<% if apps_item_el.product_id === product.id %>
	<%= image_tag product.image_url, :id => product.name, :alt => "Megam", :size => "50x50" %>
	<% end %>
	<% end %>
	<% end %>
</div>
<br/>

<%= render "load" %>
<hr></hr>

<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> Click to see the execution output (Default) </a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">

				<div id="connector_output_default" class="span4">
					Nothing to display yet. Waiting for submission.
				</div>

			</div>
		</div>
	</div>
</div>

<% end %>
<%= render :template => customizations_show_path %>
