<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->

<div class="row">
	<div class="col-sm-6 float_nav">
		<ul class="list-inline">
			<li>
				App:
			</li>
			<a href="">
			<li>
				Overview
			</a></li>
		</ul>
	</div>
	<div class="container" id="overview" class="toggle" style="display:none" ng-cloak>
		<input type="hidden" ng-model="dashboard_id" value="<%= @id %>">
		<div class="widget" ng-repeat="widget in widgets" widgetpernode></div>
	</div>
	<div class="container" id="microservices" class="toggle" style="display:none" ng-cloak>
		<input type="hidden" ng-model="dashboard_id" value="<%= @id %>">
		<div class="widget" ng-repeat="widget in widgets" widgetpercontainer></div>
	</div>
	<br/>
	</br/>
	<script type="text/javascript">
		$(document).ready(function() {
			if ($.CatType != "MICROSERVICES") {
				$("#overview").show();
			} else {
				$("#microservices").show();
			}
		});

	</script>
