

<div class="row">
<div class="col-sm-12 col-xs-12">
	<%= select_tag "source", options_for_select(@repos_arr.map{ |c| [c] }, :selected=>@repos_arr[0]), :class =>"form-control" %>	
    
</div>
</div>
