<div class="row">
  <div class="col-xs-6">
    <h4>RAM</h4>
    <div class="form-group">
<%= text_field_tag 'ram', nil, placeholder: "Enter RAM size in bytes (minimum: 5000000)", :class =>"form-control" %>
    </div>
  </div>
<div class="col-xs-6">
    <h4>CPU</h4>
    <div class="form-group">
<%= text_field_tag 'cpu', nil, placeholder: "Enter number of CPU (Eg: 1)", :class =>"form-control" %>
    </div>
  </div>
</div>

<br/>

