<div class="row">
  <div class="col-xs-6">
    <h4><%= t('marketplace.ram') %></h4>
    <div class="form-group">
      <%= select_tag "ram", options_for_select(["896","1024"]), :class =>"form-control" %>
    </div>
  </div>
<div class="col-xs-6">
    <h4><%= t('marketplace.cpu') %></h4>
    <div class="form-group">
      <%= select_tag "cpu", options_for_select(["0.5","1"]), :class =>"form-control" %>
    </div>
  </div>
</div>

<br/>
