<div class="row">
  <div class="col-xs-6">
    <h4><%= t('marketplace.ram') %></h4>
    <div class="form-group">
<%= text_field_tag 'ram', nil, placeholder: t('marketplace.dockers_ram_placeholder'), :class =>"form-control" %>
    </div>
  </div>
<div class="col-xs-6">
    <h4><%= t('marketplace.cpu') %></h4>
    <div class="form-group">
<%= text_field_tag 'cpu', nil, placeholder: t('marketplace.dockers_cpu_placeholder'), :class =>"form-control" %>
    </div>
  </div>
</div>

<br/>
