<%= form_for @user, :html => { :multipart => true, :id =>'password_validate', :novalidate => 'novalidate' } do |f| %>


<div class="control-group">
	<div class="controls">
		<%= f.password_field :password,:class=> 'required', placeholder: "Password" %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<%= f.password_field :password_confirmation,  :class=> 'required', placeholder: "Confirm password" %>
	</div>
</div>
<%= render :partial => "users/add_button", :locals => {:user => f}%>

<% end %>
