<%= form_for @user, :html => {:id =>'password_validate', :novalidate => 'novalidate' }, :method => 'patch', data: { spinner: '#spin_user_password',:remote => true}  do |f| %>


<div class="control-group">
	<div class="controls">
		<%= f.password_field :password,:class=> 'required', placeholder: "Password" %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<%= f.password_field :password_confirmation,  :class=> 'required', placeholder: "Confirm password" %>
	</div>
</div>

<%= f.submit nil, :class => 'btn btn-large btn-success btn-block',:remote => true %>

<% end %>