<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->

<div class="">
  <div class="row c_pading-b15">
    <div class="">
      <div class="col-xs-12 col-sm-6 col-md-6 header_title">
        <h3>
          <b><%= title_name %></b>
        </h3>
      </div>
      <% if defined?(grid_list) %>
       <div class="col-xs-12 col-sm-6 col-md-6 settings_grid yf-upload-cover">
        <a data-toggle="modal" class="btn blue col-xs-12 col-sm-7 col-sm-offset-4 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-7" href="#obj_upload" >+ Upload File</a>

       </div>
      <% else %>
      <div class="col-xs-12 col-sm-6 col-md-6 settings_grid">
        <ul class="list-inline pull-right rt-top-list">
          <li class="mar_l20">
            <i class="c_icon-grid pull-right" id="app-btn-grid"></i>
          </li>
          <li>
            <i class="c_icon-list pull-right lg-mar-r-15" id="app-btn-list"></i>
          </li>
        </ul>
       </div>
      <% end %>
    </div>
  </div>
</div>
<div class="bottom-divider"></div>
