<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<div class="col-xs-3 col-sm-6 col-md-5 settings_grid pad_t25">
	<div class="row">
		<div class="mplace-icons">
			<div class="cil-xs-6">
				<a href="/marketplaces" class="pull-right"><span class="pull-right" style="color:#8BB6DD"> Marketplace </span>
				<i class="c_icon-window-lg pull-right"></i></a>
			</div>


			<div class="cil-xs-6">
			    <% url = "http://#{Rails.configuration.designer_host}:#{Rails.configuration.designer_port}/?email=#{current_user.email}&api_key=#{current_user.api_key}&callbackURL=https://www.megam.co/visualCallback" %>
				<a href="<%= url %>" target="_blank" class="pull-right" ><span class="pull-right" style="color:#8BB6DD">Visual Designer</span>
				<i class="c_icon-grid-25 pull-right"></i></a>
			</div>
		</div>
	</div>
</div>



