<div class="col-xs-12 col-sm-6 settings_grid pad_t25">
	<div class="pull-right mplace-icons">
		<%= link_to marketplaces_path, :class =>"btn btn-lg", :title=> "Marketplace", :id => "marketplace_link", :target => "_self"  do %>
		<span>Marketplace</span>
		<i class="c_icon-window-lg"></i>
		<% end %>

		<%= link_to "http://#{Rails.configuration.designer_host}:#{Rails.configuration.designer_port}/?email=#{current_user.email}&api_key=#{current_user.api_token}&callbackURL=https://www.megam.co/visualCallback", :class =>"btn btn-lg", :title=> "TOSCA Designer", :id => "designer_link", :target => "_blank"  do %>
		<span>Visual Designer</span>
		<i class="c_icon-grid-25"></i>
		<% end %>
	</div>
</div>

