<div class="col-xs-3 col-sm-6 col-md-5 settings_grid pad_t25">
	<div class="row">
		<div class="mplace-icons">
			<div class="cil-xs-6">
				<%= link_to marketplaces_path, :class =>"btn btn-lg", :title=> "Marketplace", :id => "marketplace_link", :target => "_self"  do %>
				<span class="mplace-selected hidden-xs hidden-sm pull-right">Marketplace</span>
				<i class="c_icon-window-lg pull-right"></i>
				<% end %>
			</div>
			<div class="cil-xs-6">
				<%= link_to "http://#{Rails.configuration.designer_host}:#{Rails.configuration.designer_port}/?email=#{current_user.email}&api_key=#{current_user.api_token}&callbackURL=https://www.megam.co/visualCallback", :class =>"btn btn-lg", :title=> "TOSCA Designer", :id => "designer_link", :target => "_blank"  do %>
				<span class="hidden-xs hidden-sm pull-right">Visual Designer</span>
				<i class="c_icon-grid-25 pull-right"></i>
				<% end %>
			</div>
		</div>
	</div>
</div>


