<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<div class="col-xs-12 col-sm-6 col-md-5 settings_grid pad_t25">
	<div class="row">
		<div class="mplace-icons">
				<ul>
					<li class="two">
						<%= link_to marketplaces_path , :data => {:remote => true} do %>
							<i class="fa fa-life-saver"></i>
							<span class="pull-right">Marketplaces</span>
						<% end %>
				</ul>
		</div>
	</div>
</div>
