<% content_for :content_settings do %>
<%= provide(:title, 'Edit user') %>

<div class="container-fluid">
	<div class="row-fluid">
		<div id="box_sign">
			<div class="span6 box">
				<div>
					<div class="head">
						<h4>Update your account</h4>
					</div>
					<div class="form">
						<%= render :partial => "users/user_fields_form" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
<%= render :template => users_show_path %>