<% content_for :content_settings do %>
<%= provide(:title, 'Edit user') %>
<h3>Update your profile.</h3>
	<%= render :partial => "users/user_fields_form" %>
<% end %>
<%= render :template => customizations_show_path %>
