<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">
	<div class="row c_pading-b15 settings_top">
		<div class="col-xs-12 col-sm-6">
			<h3> My profile <small> Settings > My Account </small></h3>
		</div>
		<div class="col-xs-12 col-sm-6 settings_grid pad_t25">
			<div class="pull-right mplace-icons">
				<i class="c_icon-window-lg"></i>
				<span class="mplace-selected mar_r15">Marketplace</span>
				<i class="c_icon-grid-25"></i>
				<span>Visual Designer</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<div class="alert alert-info">
				<strong></strong> Tip  Change your account settings , Organization ,API Key etc here
			</div>
		</div>
	</div>
	<div class="row">
		<div class="tabbable-custom nav-justified">
			<ul class="nav nav-tabs nav-justified">
				<li class="active">
					<a href="#profile_1" data-toggle="tab"> My Account </a>
				</li>
				<li>
					<a href="#profile_2" data-toggle="tab"> Organization </a>
				</li>
				<!-- <li><a href="#profile_3" data-toggle="tab"> API Key </a></li> -->
			</ul>
			<div class="tab-content c_tab-content">
				<div class="tab-pane active" id="profile_1">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<h4 class="bottom_border_grey">Basic information</h4>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cloud_signup_save">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-md-3 control-label label-profile">Profile name</label>
									<div class="col-md-6 input-group margin-top-10">
										<input type="text" class="form-control" placeholder="Enter text">
										<span class="input-group-addon" ><a href="#">Change ?</a></span>
									</div>
									<div class="col-md-3 pull-right c_cog_icon">
										<span>View only</span>
										<i class="icon-cog"></i>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label label-profile">Phone</label>
									<div class="col-md-6 input-group margin-top-10">
										<input type="text" class="form-control" placeholder="Enter text">
										<span class="input-group-addon" ><a href="#">Change ?</a></span>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-6 col-md-offset-3 input-group margin-top-10">
										<!-- <a class="btn btn-success col-md-5 col-xs-12" href="#"> Save </a> -->
										<button type="submit" class="btn btn-success col-md-5 col-xs-12">
											Save
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<h4 class="bottom_border_grey">Change password</h4>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cloud_signup_save">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-md-3 control-label label-profile">Current</label>
									<div class="col-md-6 input-group margin-top-10">
										<input type="text" class="form-control" placeholder="Current password">
										<span class="input-group-addon" ><a href="#">Change ?</a></span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label label-profile">New</label>
									<div class="col-xs-12 col-md-6 input-group margin-top-10 pad_rt-9">
										<input type="password" readonly class="form-control" placeholder="New password">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label label-profile">Retype</label>
									<div class="col-xs-12 col-md-6 input-group margin-top-10 pad_rt-9">
										<input type="password" readonly class="form-control" placeholder="Confirm new password">
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-6 col-md-offset-3 input-group margin-top-10">

										<!-- <a class="btn btn-success col-md-5 col-xs-12" href="#">Update</a> -->
										<button type="submit" class="btn btn-success col-md-5 col-xs-12">
											Update
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				<!-- PROFILE-1 tab ENDS HERE -->
				<div class="tab-pane" id="profile_2">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<h4 class="bottom_border_grey">Basic information</h4>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cloud_signup_save">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-md-3 control-label label-profile">Profile name</label>
									<div class="col-md-6 input-group margin-top-10">
										<input type="text" class="form-control" placeholder="Enter text">
										<span class="input-group-addon" ><a href="#">Change ?</a></span>
									</div>
									<div class="col-md-3 pull-right c_cog_icon">
										<span>View only</span>
										<i class="icon-cog"></i>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label label-profile">Phone</label>
									<div class="col-md-6 input-group margin-top-10">
										<input type="text" class="form-control" placeholder="Enter text">
										<span class="input-group-addon" ><a href="#">Change ?</a></span>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-6 col-md-offset-3 input-group margin-top-10">
										<!-- <a class="btn btn-success col-md-5 col-xs-12" href="#"> Save </a> -->
										<button type="submit" class="btn btn-success col-md-5 col-xs-12">
											Save
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<h4 class="bottom_border_grey">Change password</h4>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cloud_signup_save">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-md-3 control-label label-profile">Current</label>
									<div class="col-md-6 input-group margin-top-10">
										<input type="text" class="form-control" placeholder="Current password">
										<span class="input-group-addon" ><a href="#">Change ?</a></span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label label-profile">New</label>
									<div class="col-xs-12 col-md-6 input-group margin-top-10 pad_rt-9">
										<input type="password" readonly class="form-control" placeholder="New password">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label label-profile">Retype</label>
									<div class="col-xs-12 col-md-6 input-group margin-top-10 pad_rt-9">
										<input type="password" readonly class="form-control" placeholder="Confirm new password">
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-6 col-md-offset-3 input-group margin-top-10">

										<!-- <a class="btn btn-success col-md-5 col-xs-12" href="#">Update</a> -->
										<button type="submit" class="btn btn-success col-md-5 col-xs-12">
											Update
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

