<% provide(:title, "Forgot password") %> 
<h5> <%- flash.each do |name, msg| -%>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
<%- end -%> </h5>
  <div id="box_login">
        <div class="container">
            <div class="span12 box_wrapper">
                <div class="offset2 span12 box">
                    <div>
                        <div class="head">
                            <h4>Enter your email address below to receive instructions on how to reset your password.</h4>
                        </div>
                        <div class="form">
                            <form>
                                <input type="text" placeholder="Email address"/>
                                <input type="submit" class="btn" value="Reset password"/>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="already">Know your password? <%= link_to "Sign in", signin_path %></p>
            </div>
        </div>
    </div>


