<% provide(:title, 'Sign up') %> <h1>Sign up</h1>
<div class="row">
	<div class="span10">
		<div class="alert alert-info">
			<span class="label label-info">Heads Up!</span>
			<button class="close" data-dismiss="alert">
				×
			</button>
			<strong>Warning!</strong> Please read before trying to signup. Administrators to create an account here. If you are an user contact your administrator from here.
		</div>
	</div><!-- /.span 10-->
	<%= render :partial => "users/user_fields_form" %>
</div>