<% content_for :content_settings do %>
<% provide(:title, @user.first_name) %>
<%= image_tag "blue.png", :alt => "Megam" %>
<% if !@user.organizations.nil? %>
<ol class="organization">
	<%= render @organization %>
</ol>
<%= will_paginate @organization %>
<% else %>
<div class="alert alert-warning">
	<span class="label label-important">!</span>
	<strong>Warning!</strong> Your account isn't complete. Kindly complete your profile before we could proceed further.
</div>
<button type="submit" class="btn btn-large btn-warning">
	Edit
</button>
<% end %>
<hr>
</hr>
Cloud Applications
<% end %>
<%= render :template => customizations_show_path %>

