$blue-color: #549dd6;
$green-color: #27ae60;
$dark-blue: #35495e;
$boldWeight: 500;
$normalWeight: 400;
$lightWeight: 300;
$thinWeight: 100;
$hiddenContent: "input#vm, input#app, .hideme, .hideme2, .hideme3, .hideme-custom";
#{$hiddenContent} {
    display: none;
}
.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
}
.centerBlock {
    display: table;
    margin: 15px auto;
}
.invisible {
    display: none;
}
.launcher-section {
    width: 90%;
    margin: auto;
}
.type {
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
}
.step1 {
    text-align: center;
}
.steps {
    padding-top: 30px;
}
.stepTabs {
    width: 80%;
    margin: auto;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin btnSelected {
    background-color: white;
    color: $dark-blue;
    box-shadow: 0 0 0 5pt $dark-blue;
}
@mixin btnSelect {
     @include border-radius(10px);
    transition: all 0.5s ease;
    font-weight: $normalWeight;
    text-align: center;
    width: 200px;
    height: 150px;
    padding-top: 10px;
    margin-top: 30px;
    background-color: #c9dded;
    color: $dark-blue;
    font-size: 18px;
    &:hover {
        @include btnSelected;
    }
    &.active {
        @include btnSelected;
    }
}
#component-create .btnSelect {
    @include btnSelect;
}
#component-create .right {
    float: right;
}
ul.nav.nav-tabs.nav-justified.stepTabs {
    margin: auto;
    width: 60%;
}
.selectBg {
    /* Blue background behind 'VM'/'Application' */
    background-color: $blue-color;
    min-height: 208px;
}
img.inSelect {
    max-width: 90%;
    width: 125px;
}
.head {
    /*White area behind 'Let's Get Started' */
    padding-top: 13px;
    padding-bottom: 13px;
}
.head h1 {
    text-align: center;
    margin-bottom: 3px;
}
.head h2 {
    text-align: center;
    margin-top: 0;
}
.body {
    /* Margin auto to center, and make it around the size of 60%? */
}
.box {
    width: 700px;
    margin: 50px auto;
    border: 1px solid;
}
.roundText {
    font-weight: $lightWeight;
    @include border-radius(5px);
    box-shadow: 0 0 0 2pt $blue-color;
    width: 150px;
    margin-right: 5px;
    border: 0;
    text-align: center;
    &::-webkit-input-placeholder {
        color: $dark-blue;
    }
}

.roundFlag {
    font-weight: $lightWeight;
    @include border-radius(10px);
    border: 0;
}

/* LOCATIONS / RESOURCES*/
.locations,
.resources {
    margin-bottom: 15px;
}
.lCover,
.rCover {
    width: 100%;
    margin: auto;
}
.lInner,
.rInner {
    text-align: -webkit-center;
    color: #373a3c;
    width: 210px;
    &.middle {
        margin: auto;
    }
}
.lBox,
.rBox {
    height: 190px;
    width: 210px;
    &.shorter {
        height: 160px;
    }
}
.lHead {
    height: 160px;
    border: 1px solid #e5e6ef;
}
.rHead {
    height: 111px;
    border: 1px solid #e5e6ef;
}
.rTitle {
    height: 30px;
    border-bottom-color: rgb(229, 230, 239);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top: 5px;
    span {
        font-size: 14px;
        color: $blue-color;
        font-weight: 400;
    }
}
.rContent {
    padding-top: 10px;
    span {
        font-weight: 600;
    }
}
.seperator {
    margin-top: 15px;
}
.lIcon {
    padding-top: 50px;
    text-align: center;
    h3 {
        font-size: 22px;
        color: $dark-blue;
    }
    img {
        width: 100px;
    }
}
.lFooter,
.rFooter {
    height: 30px;
    width: 100%;
    .btn-block {
        font-weight: $lightWeight;
        color: white;
        padding: 0;
        font-size: 21px;
        transition: all 0.5s ease;
        border-radius: 0;
        border: 0;
        height: 100%;
        background-color: $green-color;
        &:hover {
            background-color: $blue-color;
        }
        &.active {
            background-color: $blue-color;
        }
    }
}
.advanced {
    width: 100%;
    border: 1px solid #e5e6ef;
    margin-top: 10px;
    .aHead {
        background-color: $blue-color;
        color: white;
        text-align: center;
        height: 25px;
        cursor: pointer;
        width: 100%;
    }
    .aContent {
        display: none;
        padding: 5px;
        .minified-margin {
            margin-bottom: 0;
        }
    }
}
.footer {
    border-top: 1px solid #e5e6ef;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    h4 {
        margin: 0;
    }
    h3 {
        margin: 0;
    }
    .btnFooter {
        background-color: $blue-color;
        font-size: 16px;
        padding: 12px 40px;
        height: 50px;
        margin-left: 1px;
        border: 0;
        color: white;
    }
    .smaller {
        font-size: 16px;
    }
}
.no-padding {
    padding: 0;
    height: 100%;
    &.footer {
        height: 50px;
    }
}
.btn-storage-container {
    width: 250px;
    margin: 0px auto;
    padding: 0;
    .btn-storage {
        transition: all 0.5s ease;
        line-height: 45px !important;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 0;
        margin: 0 0 0px;
        width: 125px;
        background-color: lightgray;
        color: white;
        &.active {
            background-color: $blue-color;
        }
    }
}
.btn-storage-container.bigger {
    width: 400px;
    .btn-storage {
        width: 200px;
    }
}
/* Start migrate from CSS to SASS */
.tabsos {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    margin-bottom: 35px;
    position: relative;
    z-index: 10;
    background-color: transparent;
}
.tabsos li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #dcdcdc;
    margin-left: -0.18%;
    margin-top: 30px;
    background-color: #E9E7E7;
    width: 98px;
}
.tabsos li:first-child {
    margin-left: 0;
}
.tabsos a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    color: #666;
    font-size: 17px;
    padding: 0;
}
.tabsos li.active {
    background-color: #fff;
    color: #333;
    font-weight: 800;
    margin-top: 0;
    height: 113px;
    border-bottom: 0;
    background-color: #f5f5f5;
    border-radius: 5px 5px 0 0;
    padding-right: 0;
}
.tabs2 li.active {
    margin-top: 1px;
}
.tabsos li.active a {
    padding: 0;
    width: 100%;
    color: #549DD6;
    font-size: 20px;
    padding-top: 5px;
}
.tabs2 li.active a {
    line-height: 45px;
}
.tabsos li.active .distro span {
    display: block !important;
}
.tabsos li.active .icon-dist {
    height: 72px;
    margin: 10px auto;
    width: 72px;
    margin-top: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
.tabs2 li.active {
    height: 50px;
}
.tabs2 li {
    margin-top: 15px;
}
.tabs2 li a {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.distro {
  display: inline;
  float: left;
  text-align: center;
  color: #c2c2c2;
  width: 100%; }
  .distro span {
    display: none;
    color: #549DD6; }
  .distro .icon-dist {
    -webkit-border-radius: 51%;

    -moz-border-radius: 51%;
    border-radius: 51%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    margin: 10px auto;
    width: 53px;
    margin-top: 12px;
    margin-bottom: 10px;
    background-image: url(../images/launch/vmdistros.png); }

.tabsos li.active .ubuntu .icon-dist {
  background-position: 6px -221px; }
.tabsos li.active .fedora .icon-dist {
  background-position: 6px -144px; }
.tabsos li.active .centos .icon-dist {
  background-position: 8px 9px; }
.tabsos li.active .debian .icon-dist {
  background-position: 8px -62px; }
.tabsos li.active .windows .icon-dist {
  background-position: 3px -297px; }

.ubuntu .icon-dist {
  background-position: -94px -224px; }

.fedora .icon-dist {
  background-position: -92px -150px; }

.centos .icon-dist {
  background-position: -99px -9px; }

.debian .icon-dist {
  background-position: -95px -77px; }

.windows .icon-dist {
  background-position: -93px -308px; }

.opensuse .icon-dist {
  background-image: url(../images/opensuse1.png);
  background-size: 94%; }

.tabsos li.active .opensuse .icon-dist {
  background-image: url(../images/opensuse.png);
  background-size: 90%; }

.coreos .icon-dist {
  background-image: url(../images/icons/coreos1.png);
  background-size: 94%; }

.tabsos li.active .coreos .icon-dist {
  background-image: url(../images/icons/coreos.png);
  background-size: 90%; }

.applications .icon-dist, .snapshots .icon-dist {
  background-image: url(../images/icons/snapshots1.png);
  background-size: 74%; }

.tabsos li.active .snapshots .icon-dist, .tabsos li.active .snapshots .icon-dist {
  background-image: url(../images/icons/snapshots.png);
  background-size: 70%; }


.oscontainer {
  border: 1px solid #dcdcdc;
  border-top: 0px;
  margin-top: -36px;
  padding: 10px;
  padding-top: 38px;
  margin-right: 0px;
  background-color: #f5f5f5;
  margin-bottom: 25px;
  padding-bottom: 2px;
  width: 99.9%;
}

  a {
    text-decoration: none;
    color: #398bce;
}
.tabsos a:hover {
    text-decoration: none !important;
    color: #666;
}
.tabs li.first,
.tabs li:first-child {
    padding-left: 0;
}
.tabs .active a {
    color: #333;
    font-weight: 500;
}
.version {
    width: 195px;
    float: left;
    height: 150px;
    padding: 12px;
    border: 2px solid #4196E4;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.selectlinux {
    width: 100%;
    height: 190px;
}

.version_select, .wind {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background-color: #E9E7E7;
  color: #666;
  padding: 10px 0;
  width: 205px;
  text-align: center;
  margin: 0 10px 20px;
  line-height: 24px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}

.version_select.apps {
  width: 148px;
  height: 148px;
  border-radius: 0px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  padding-top: 0px;
}

.apps .appsicon {
    width: 100%;
    height: 110px;
    background-color: #fff;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center;
}
.na {
    cursor: not-allowed;
}
.version_select.versionactive {
    background-color: #549DD6;
    color: #fff;
}
.version_select.apps.versionactive {
    border: 1px solid #549DD6;
}
.version_select input[type='radio'] {
    display: none;
}
.regionContainer input[type='radio'] {
    display: none;
}
.tabsos li.active {
    width: 18%;
}
.tabsos li {
    width: 11.877142857142857%;
}
.tabsos.tabs2 li {
    width: 50%;
}

.input-error {
    border: 1px solid #FB2C0B !important;
}
.input-search {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 30px;
}
.form-control.flat {
    border-radius: 0;
}
.tabDisabled a:hover {
    text-decoration: none;
}

/* Content */
.content-wrap {
  position: relative; }

.content-wrap section {
  display: none;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center; }

.content-wrap section.content-current {
  display: block; }

.content-wrap section p {
  margin: 0;
  padding: 0.75em 0;
  color: #35495e;
  font-weight: 400;
  font-size: 13px;
}

//predeploy.css progress bar
.predeploybar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.predeploybar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.predeploybar-title-none {
  background:  #0DABFF;
}

.predeploybar-title-success {
   background: #0DFF61;
}

.predeploybar-title-danger{
  background: #FF610D;
}


.predeploybar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.progress-bar  {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.predeploybar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}

///predeploy.css blinker
.blink-me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
