.ui-collapsible {
    margin: 0 -1em;
}
.ui-collapsible-inset, .ui-collapsible-set {
    margin: .5em 0;
}
.ui-input-text, .ui-input-search {
    margin: .5em 0;
    border-width: 1px;
    border-style: solid;
}
.ui-mobile fieldset {
    min-width: 0px;
}
.ui-controlgroup, fieldset.ui-controlgroup {
    padding: 0;
    margin: .5em 0;
}
.uibtnactive {
    cursor: pointer !important;
}
.ui-corner-all {
    -webkit-border-radius: .1em;
    border-radius: .1em;
}
.ui-btn-corner-all {
    -webkit-background-clip: padding;
    background-clip: padding-box;
}
.ui-corner-all {
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-mobile label, .ui-controlgroup-label {
    display: block;
    margin: 0 0 .4em;
}
.ui-mobile label, div.ui-controlgroup-label {
    font-weight: normal;
    font-size: 16px;
}
.ui-btn {
    font-size: 16px;
    margin: .5em 0;
    padding: .7em 1em;
    display: block;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-btn {
    font-size: 1em;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 1px;
    border-width: 1px;
    border-style: solid;
}
label.ui-btn {
    border-width: 1px;
    border-style: solid;
}
.ui-btn {
    text-decoration: none !important;
}
.ui-shadow {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 3px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 3px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 3px 0 rgba(0, 0, 0, 0.6);
}
.ui-input-search, .ui-input-text {
    box-shadow: none;
}
#home-page .logs {
    clear: both;
}
.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 1em;
    margin: 0px auto;
    max-width: 1200px;
    overflow: visible !important;
    padding: 15px;
}
.header-grid {
    margin: 0px auto;
    max-width: 1200px;
    overflow: visible !important;
    padding: 15px;
}
.ui-mobile fieldset, .ui-page {
    padding: 0;
    margin: 0;
}
.ui-page-active {
    min-height: 100% !important;
}
.ui-mobile [data-role=page], .ui-mobile [data-role=dialog] {
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: none;
    border: 0;
}
.ui-page {
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: none;
    border: 0;
    outline: 0;
}
.ui-mobile-viewport {
    margin: 0;
    overflow-x: visible;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}
.ui-overlay-a {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    color: #000000;
    text-shadow: none;
}
.ui-page-theme-a {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    color: #000000;
    text-shadow: none;
}
.ui-page-theme-a .ui-panel-wrapper {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    color: #000000;
    text-shadow: none;
}
.ui-mobile .ui-page-active {
    display: block;
    overflow: visible;
    overflow-x: hidden;
}
.ui-mobile .ui-page {
    min-height: 300px;
}

/* @media screen and (orientation:landscape) */

html {
    font-size: 100%;
}
.ui-mobile {
    height: 99.9%;
}
.ui-mobile body {
    height: 99.9%;
}
body.ui-mobile-viewport, div.ui-mobile-viewport {
    overflow-x: hidden;
}
.ui-mobile {
    height: 0px !important;
}
.ui-mobile body {
    height: 0px !important;
}
h4 {
    font-weight: 400;
}
.ui-collapsible-heading {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
.ui-collapsible-heading .ui-btn {
    text-align: left;
    margin: 0;
    border-left-width: 0px;
    border-right-width: 0px;
}
.ui-collapsible-heading > .ui-btn {
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
.ui-caps {
    text-transform: uppercase;
}
.ui-collapsible-heading {
    text-transform: uppercase;
    color: #474747 !important;
}
:not(.ui-collapsible-collapsed).ui-collapsible-themed-content > .ui-collapsible-heading {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0px;
}
.ui-collapsible-content {
    display: block;
    margin: 0;
    padding: .5em 1em;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.ui-collapsible-set .ui-collapsible.ui-last-child {
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.ui-collapsible-themed-content .ui-collapsible-content {
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
}
.ui-collapsible-inset .ui-collapsible-content {
    margin: 0;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit {
    background-color: #FFF;
    border-color: #b5b5b5;
    color: #000000;
    text-shadow: none;
}
html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #FFF;
    border-color: #b5b5b5;
    color: #000000;
    text-shadow: none;
}
.logs .ui-input-text {
    width: 44%;
    float: right;
    margin-top: -45px;
    margin-right: 10px;
    position: relative;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit {
    overflow: hidden;
}
html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    overflow: hidden;
}
.ui-collapsible-inset .ui-collapsible-content {
    padding-top: 0px;
    overflow: visible;
    border-width: 0 !important;
    padding: 0 !important;
    background-color: transparent;
}
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border-left-width: 1px;
    border-right-width: 1px;
}
.log-list {
    clear: both;
    background-color: #FFF;
}
.ui-shadow-inset {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.ui-input-search::after {
    right: 0.6em !important;
    left: inherit;
    top: 50%;
    margin-top: -7px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    position: absolute;
}
.ui-input-text::after {
    right: 0.6em !important;
    left: inherit;
    top: 50%;
    margin-top: -7px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    position: absolute;
    display: none;
}
.ui-mobile a img, .ui-mobile fieldset {
    border-width: 0;
}
.log-list fieldset {
    background-color: #fff;
    margin: 0;
}
.log-list .ui-listview {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #d4d4d4;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
}
.modal-tab-log {
    position: absolute;
    width: 100%;
}
.ui-listview > li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.log-list ul {
    font-size: 14px;
    margin-top: 1em;
}
.ui-content .ui-listview, .ui-panel-inner > .ui-listview {
    margin: -1em;
}
.log-list ul.ui-listview {
    margin: 0;
    border-top: 1px solid #d4d4d4;
}
#home-page .ui-listview {
    clear: both;
}
.mid-padding {
    height: 50px;
    width: 100%;
}
.ui-listview > li {
    display: block;
    position: relative;
    overflow: visible;
}
.log-list ul li {
    padding: 0 !important;
    border-bottom: 1px solid #D4D4D4;
}
#home-page ul.ui-listview > li {
    font-weight: 300;
    color: #444;
}
.ui-page-theme-a a {
    color: #3388cc;
}
html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #3388cc;
}
.log-list li a {
    margin: 0;
}
.log-list ul li a {
    margin: 0 !important;
    padding: .8em 1em .8em;
    border: none;
}
label[for='event-warning'], .tag.tag-warning {
    color: #d48900 !important;
}
.ui-mini .ui-btn {
    font-size: inherit;
}
.ui-controlgroup-controls .ui-btn, .ui-controlgroup-controls .ui-checkbox, .ui-controlgroup-controls .ui-radio, .ui-controlgroup-controls .ui-select {
    margin: 0;
}
.ui-checkbox .ui-btn, .ui-radio .ui-btn {
    margin: 0;
    text-align: left;
    white-space: normal;
    z-index: 2;
}
.ui-btn-corner-all, .ui-btn.ui-corner-all, .ui-slider-track.ui-corner-all, .ui-flipswitch.ui-corner-all, .ui-li-count {
    -webkit-border-radius: .1em;
    border-radius: .1em;
}
.ui-page-theme-a .ui-btn {
    background-color: #FFF;
    border-color: transparent;
    color: #000000;
    text-shadow: none;
}
html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a {
    background-color: #FFF;
    border-color: transparent;
    color: #000000;
    text-shadow: none;
}
.ui-page-theme-a .ui-btn:visited {
    background-color: #FFF;
    border-color: transparent;
    color: #000000;
    text-shadow: none;
}
html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    background-color: #FFF;
    border-color: transparent;
    color: #000000;
    text-shadow: none;
}
.ui-grid-a, .ui-grid-b, .ui-grid-c, .ui-grid-d, .ui-grid-solo {
    overflow: hidden;
}
#home-page .ui-content .ui-grid-a, #home-page .ui-content .ui-grid-b, #home-page .ui-content .ui-grid-c {
    overflow: visible;
}
.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ui-block-a {
    clear: left;
}
.ui-grid-b > .ui-block-a {
    width: 20%;
}
.ui-grid-b > .ui-block-b {
    width: 10%;
}
.ui-grid-b > .ui-block-c {
    width: 50%;
}
.ui-grid-b > .ui-block-d {
    width: 20%;
}
.log-list a .ui-block-a {
    text-align: left;
}
#home-page .ui-block-a {
    padding-right: 15px;
}
#home-page .ui-block-b {
    padding-left: 15px;
}
.log-list a .ui-block-c {
    text-align: right;
}
.log-list .ui-block-c div {
    float: right;
    margin-right: 10px;
}
.tag {
    margin: 0 6px 0 0;
    color: #444 !important;
    padding: 0;
    font-weight: normal;
    display: inline-block;
    float: right;
    max-width: 250px;
}
.log-list .tag {
    float: none;
}
label[for='event-actions'], .tag.tag-actions {
    color: #177283 !important;
}
.log-list .ui-block-a div {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    float: left;
    margin: 0;
}
.ui-mini {
    font-size: 12.5px;
}
.ui-checkbox, .ui-radio {
    margin: .5em 0;
    position: relative;
}
.ui-mini {
    margin: .446em;
}
label[for='event-shell'], .tag.tag-shell {
    color: #838e00 !important;
}
label[for='event-incidents'], .tag.tag-incident {
    color: #d96557 !important;
}
.ui-controlgroup-controls {
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
.ui-controlgroup-controls .ui-radio, .ui-controlgroup-controls .ui-checkbox, .ui-controlgroup-controls .ui-select, .ui-controlgroup-controls li {
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls {
    display: inline-block;
    vertical-align: middle;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls::before {
    content: "";
    display: table;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls::after {
    content: "";
    display: table;
    clear: both;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls > .ui-btn, .ui-controlgroup-horizontal .ui-controlgroup-controls li > .ui-btn, .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-checkbox, .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-radio, .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-select {
    float: left;
    clear: none;
}
label[for='event-error'] {
    color: #ff513d !important;
}
.ui-btn.ui-checkbox-off::after, .ui-btn.ui-checkbox-on::after, .ui-btn.ui-radio-off::after, .ui-btn.ui-radio-on::after {
    display: block;
    width: 18px;
    height: 18px;
    margin: -9px 2px 0 2px;
}
.ui-checkbox-off::after, .ui-btn.ui-radio-off::after {
    filter: Alpha(Opacity=30);
    opacity: 0.3;
}
.ui-page-theme-a .ui-radio-on::after {
    border-color: #3388cc;
}
html .ui-bar-a .ui-radio-on::after, html .ui-body-a .ui-radio-on::after, html body .ui-group-theme-a .ui-radio-on::after {
    border-color: #3388cc;
}
.ui-btn.ui-radio-on.ui-btn-a::after {
    border-color: #3388cc;
}
.log-list fieldset .ui-btn {
    text-transform: uppercase;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom: 2px solid #FAF9F5 !important;
}
.log-list fieldset .uibtnactive {
    border-bottom: 2px solid #444 !important;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn {
    border-right-width: 0px;
}
.ui-controlgroup-controls .ui-btn-corner-all, .ui-controlgroup-controls .ui-btn.ui-corner-all {
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-controlgroup-horizontal .ui-btn.ui-last-child {
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
}
.ui-page-theme-a .ui-btn.uibtnactive {
    background-color: #FAF9F5;
    border-color: #FAF9F5;
    color: #444;
    text-shadow: 0px 0px 0px #faf9f5;
}
html .ui-bar-a .ui-btn.uibtnactive, html .ui-body-a .ui-btn.uibtnactive, html body .ui-group-theme-a .ui-btn.uibtnactive, html head + body .ui-btn.ui-btn-a.uibtnactive {
    background-color: #FAF9F5;
    border-color: #FAF9F5;
    color: #444;
    text-shadow: 0px 0px 0px #faf9f5;
}
.ui-page-theme-a .ui-checkbox-on::after {
    background-color: #FAF9F5;
    border-color: #FAF9F5;
    color: #444;
    text-shadow: 0px 0px 0px #faf9f5;
}
html .ui-bar-a .ui-checkbox-on::after, html .ui-body-a .ui-checkbox-on::after, html body .ui-group-theme-a .ui-checkbox-on::after {
    background-color: #FAF9F5;
    border-color: #FAF9F5;
    color: #444;
    text-shadow: 0px 0px 0px #faf9f5;
}
.ui-btn.ui-checkbox-on.ui-btn-a::after, .ui-page-theme-a .ui-flipswitch-active {
    background-color: #FAF9F5;
    border-color: #FAF9F5;
    color: #444;
    text-shadow: 0px 0px 0px #faf9f5;
}
html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active {
    background-color: #FAF9F5;
    border-color: #FAF9F5;
    color: #444;
    text-shadow: 0px 0px 0px #faf9f5;
}
html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active {
    background-color: #FAF9F5;
    border-color: #FAF9F5;
    color: #444;
    text-shadow: 0px 0px 0px #faf9f5;
}
.ui-page-theme-a .ui-slider-track .uibtnactive {
    background-color: #FAF9F5;
    border-color: #FAF9F5;
    color: #444;
    text-shadow: 0px 0px 0px #faf9f5;
}
html .ui-bar-a .ui-slider-track .uibtnactive, html .ui-body-a .ui-slider-track .uibtnactive {
    background-color: #FAF9F5;
    border-color: #FAF9F5;
    color: #444;
    text-shadow: 0px 0px 0px #faf9f5;
}
html body .ui-group-theme-a .ui-slider-track .uibtnactive, html body div.ui-slider-track.ui-body-a .uibtnactive {
    background-color: #FAF9F5;
    border-color: #FAF9F5;
    color: #444;
    text-shadow: 0px 0px 0px #faf9f5;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn {
    border: none;
}
.ui-controlgroup-horizontal .ui-checkbox .ui-btn::after, .ui-controlgroup-horizontal .ui-radio .ui-btn::after {
    content: none;
    display: none;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-last-child {
    border-right-width: 1px;
}
.ui-radio .ui-btn.ui-radio-on::after {
    background-image: none;
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-width: 5px;
    border-style: solid;
}
.log-list .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn {
    padding: 1.2em 1.5em .8em;
    box-sizing: border-box;
    font-size: 14px;
    height: 47px;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-last-child {
    border-right-width: 0px;
}
.ui-checkbox input, .ui-radio input {
    position: absolute;
    left: 0.46em;
    top: 50%;
    width: 22px;
    height: 22px;
    margin: -11px 0 0 0;
    outline: 0 !important;
    z-index: 1;
}
.ui-controlgroup-horizontal .ui-checkbox input, .ui-controlgroup-horizontal .ui-radio input {
    left: 50%;
    margin-left: -9px;
}
.ui-controlgroup-horizontal .ui-btn.ui-first-child {
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
input#event-all {
    display: none;
}
.ui-input-text input, .ui-input-search input, textarea.ui-input-text {
    padding: .4em;
    line-height: 1.4em;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
.ui-input-text input, .ui-input-search input {
    margin: 0;
    min-height: 2.2em;
    text-align: left;
    border: 0;
    background: transparent none;
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
legend, .ui-input-text input, .ui-input-search input {
    color: inherit;
    text-shadow: inherit;
}
textarea.ui-input-text {
    padding-left: 0.75em;
    padding-right: 1.75em;
    background: #fff;
    border-radius: 0;
    color: #444;
    text-shadow: none;
    font-size: 14px;
}
.ui-input-text input {
    padding-left: 0.75em;
    padding-right: 1.75em;
    background: #fff;
    border-radius: 0;
    color: #444;
    text-shadow: none;
    font-size: 14px;
    padding-right: 0.75em;
}
.ui-input-text input:-ms-input-placeholder {
    color: #aaa;
}
.ui-input-search input:-ms-input-placeholder, textarea:-ms-input-placeholder.ui-input-text {
    color: #aaa;
}
.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
    border-right-width: 1px;
    border-left-width: 1px;
}
.logs.ui-collapsible h4.ui-collapsible-heading a {
    background-color: #F5F5F5 !important;
    padding: 20px 30px 16px !important;
    border: none;
}
.ui-collapsible-heading-status {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.log-actions a {
  color: #60cc5D;
}

.log-actions a:hover {
  font-weight: bold;
  color: #60cc5D !important;
}

.log-all a {
  color: #000000;
}

.log-all a:hover {
  font-weight: bold;
  color: #000000 !important;
}

.log-info a, .log-info span {
  color: #0000FF;
}

.log-info a:hover {
  font-weight: bold;
  color: #0000FF !important;
}

.log-warnings a, .log-warning span {
  color: #FFA500;
}

.log-warnings a:hover {
  font-weight: bold;
  color: #FFA500 !important;
}

.log-errors a, .log-error span {
  color: #FF0000;
}

.log-errors a:hover {
  font-weight: bold;
  color: #FF0000 !important;
}

.log_pacman {
  height: 20px;
  width: 20px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  background-image: url(../images/icons/pacman.gif);
}

.log_message_color span {
  color: #6e7181;
}
