.docked #hamburger-menu {
  position: fixed;
}

#hamburger-menu {
  position: absolute;
  top: 63px;
  // compensate on the other end for this top
  .hamburger-body {
    bottom: 100px;
  }
}

.notifications .logout {
  padding: 0.25em;
  &:hover {
    background-color: dark-light-diff($highlight, $secondary, 50%, -55%);
  }
}
