// Copied from custom.css, megam.css

.c_modal-footer
{
    border:none;
    text-align: center;
}
.c_modal-content
{
    font-size: 18px;
}

.modal {
  z-index: 10050 !important;
  outline: none !important;
}

.modal-header {
  border-bottom: 1px solid #EFEFEF;
}

.modal-header h3 {
  font-weight: 300;
}

.modal-wide {
  width: 60% !important;
}

.modal-tab {
  position: absolute;
  width: 95%;
}

.modal-full {
  width: 100% !important;
}



/***
Modal header close button fix
***/
.modal-header .close {
//  margin-top: 14px;
  float: right;
}

.modal > .loading {
  position: absolute;
  top: 50%;
  left:50%;
  margin-top: -22px;
  margin-left: -22px;
}

.modal-backdrop {
  border: 0 !important;
  outline: none !important;
  z-index: 10049 !important;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  background-color: #333 !important;
}

.modal-open .header .container-fluid {
  padding-right: 37px;
}

body.modal-open {
}
