.c_icon-compose {
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image: url(../images/icons/sshkey_icon_compose.png);
    margin-bottom: 3px !important;
    margin-right: 5px;
}
.c_icon-import {
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image: url(../images/icons/sshkey_icon_import.png);
    margin-bottom: 3px !important;
    margin-right: 5px;
}
.c_icon-calendar {
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image: url(../images/icons/sshkey_icon_calendar.png);
    margin-bottom: 3px !important;
    margin-right: 5px;
}
.ssh-alert-success {
    color: #468847;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6;
    font-size: 14px;
}
.ssh-modal {
    .modal-dialog {
        width: 30%;
    }
    .modal-title {
        font-size: 18px;
        text-align: center;
    }
}
.keep-line {
    padding: 2% !important;
}
.pad {
    padding: 0%;
}
.pad_zero {
    padding-left: 0%;
}
.pad_two {
    padding-left: 2% !important;
}
.pad_bottom {
    margin-bottom: -2%;
}

.ssh-well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.ssh-well-without-background {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.ssh-well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
}
.ssh-well-lg {
    padding: 24px;
    border-radius: 6px;
}
.ssh-well-sm {
    padding: 9px;
    border-radius: 3px;
}
.verticalLine {
    border-right: 1px solid #e3e3e3;
}

.top-pad{
  padding-top: 12px;
}
