
<% if object.errors.any? %>
<div id="error_explanation">
	<div class="alert alert-error">
		<strong> The form contains <%= pluralize(object.errors.count, "error") %>. </strong>
		<ul>
			<% object.errors.full_messages.each do |msg| %>
			<li>
				* <%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>