<div id="addpayment_btn">
    <%= link_to "Add", upgrade_path, :class => "btn btn-large btn-success btn-block", :id => "link_addpayment", :remote => true, data: { spinlock: '#spin_addpayment'} %>
</div>
