.c_bg_grey {
  background-color: #f5f5f5;
}
.bg_white {
  background-color: #fff;
}
.white {
  color: #fff;
}
.c_bg_white {
  background-color: #fff;
}
.c_height_5 {
  min-height: 500px;
}
.c_height_2 {
  min-height: 200px;
}
.c_pading-b15 {
  padding-bottom: 15px;
}
.colr-bluegrey {
  color: #a2a5b8;
}
.colr-denimblue {
  color: #6dabe5;
}
.pad_rt-9 {
  padding-right: 95px;
}

.pad_rt-90 {
  padding-right: 15px;
}

.pad_0 {
  padding: 0px;
}
.pad_t25 {
  padding-top: 23px !important;
}
.pad_tb25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.bottom_border_grey {
  border-bottom: 1px solid #e5e6ef;
  padding-bottom: 10px;
}
.border_grey {
  border: 2px solid #e5e6ef;
}

.bottom-divider {
  border-bottom: 1px solid #e5e6ef;
}

.divider {
    height: 1px;
    width: 75%;
    display: block;
    /* for use on default inline elements like span */
    margin: 9px auto 15px;
    overflow: hidden;
    background-color: #e5e6ef;
}
