<div class="span12">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-refresh"></i> </span>
					<h5>Latest updates</h5>
				</div>

				<div class="widget-content nopadding updates">
					<div class="new-update clearfix">
						<i class="icon-ok-sign"></i>
						<div class="update-done">
							<a title="" href="#"><strong>A new server is on the board!</strong></a>
							<span>We've just set up a cloud identity. Our gurus ...</span>
						</div>
						<div class="update-date">
							<span class="update-day">08</span>feb
						</div>

					</div>

					<div class="new-update clearfix">
						<i class="icon-exclamation-sign"></i>
						<span class="update-alert"> <a title="" href="#"><strong>[ URGENT ] node_name is reaching 70% limit. </strong></a> <span>But already everything was solved. It will ...</span> </span>
						<span class="update-date"><span class="update-day">08</span>feb</span>
					</div>

					<div class="new-update clearfix">
						<i class="icon-ok-sign"></i>
						<span class="update-done"> <a title="" href="#"><strong>Live cloud - Salesforce to Google App</strong></a> <span>We just synched up for ya!.</span> </span>
						<span class="update-date"><span class="update-day">07</span>feb</span>
					</div>

					<div class="new-update clearfix">
						<i class="icon-question-sign"></i>
						<span class="update-notice"> <a title="" href="#"><strong>Live cloud - Meet a new team member - Don Corleone</strong></a> <span>Added in Google Contacts</span> </span>
						<span class="update-date"><span class="update-day">06</span>feb</span>
					</div>

				</div>
			</div>
		</div>