<% provide(:title, 'About') %>
<br>
<br>
<h1>About</h1>
<br>
<br>
<p>
	Megam Systems was founded in July 2011 working on integration of SaaS apps (Cloud apps). We are a team of 3 located in chennai, and enjoy programming in Java, Ruby on Rails, PostgreSQL, Spring and other fun stuff. We have started this blog to announce the open source work we do, share code tips, , cloud SaaS, PaaS, IaaS intergration we do with Google App, Salesforce.com, Zoho, Liferay etc..,  Amazon EC2, Heroku.
	Wanna hang around with us ? Catch us at http://github.com/indykish (or) twitter : @indykish
</p>
<p>
	Have fun reading our blog! Oh Yeah "Megam" in Tamil dialect stands for "Cloud"
<p>
	<a href="http://blog.megam.co/about">Keep watching our blog. You are welcome to contribute.</a>.
</p>
