<% provide(:title, 'About') %>
<div class="container-fluid">
<br>
<br>
<h1>About</h1>
<br>
<br>
<p>
	<div class="span12 alert alert-success">
		Megam Systems was founded in mid July 2012 working on integration of SaaS apps (Cloud apps). We are a team of 3 located in chennai, and enjoy programming in Java, Ruby on Rails, PostgreSQL, Spring and other fun stuff. We have started this blog to announce the open source work we do, share code tips, , cloud SaaS, PaaS, IaaS intergration we do with Google App, Salesforce.com, Zoho, Liferay etc..,  Amazon EC2, Heroku.
		Wanna hang around with us ? Catch us at <%= link_to "blog.megam.co", "http://blog.megam.con" %> ,
		<%= link_to "Github/indykish", "http://github.com/indykish" %> (or) <%= link_to "twitter : @indykish","http://twitter.com/indykish" %>
	</div>

</p>
<p>
	Have fun reading our blog! Oh Yeah "Megam" in Tamil dialect stands for "Cloud"
</p>
<div class="span4 contact_us">
				<h3>Contact Us</h3>
				<form class="form-horizontal">
					<div class="field">
						<div class="label_field">
							<label for="inputName">Name</label>
						</div>
						<input type="text" id="inputName" />
					</div>

					<div class="field">
						<div class="label_field">
							<label for="inputEmail">Email</label>
						</div>
						<input type="text" id="inputEmail" />
					</div>

					<div class="field">
						<div class="label_field">
							<label for="inputCity">City</label>
						</div>
						<input type="text" id="inputCity" />
					</div>

					<div class="field">
						<div class="label_field">
							<label for="inputComment">Comments</label>
						</div>
						<textarea name="comments"></textarea>
					</div>
					<button type="submit" class="btn">
						Send
					</button>
				</form>
			</div>

<p>
	<a href="http://blog.megam.co/about">Keep watching our blog. You are welcome to contribute.</a>.
</p>
</div>
