<% provide(:title, 'About') %> <!-- features -->
<div id="about" class="about_page">
	<div class="container">
		<!-- header -->
		<h2 class="section_header">
		<hr class="left visible-desktop">
		<span>About Us</span>
		<hr class="right visible-desktop">
		</h2>

		<div class="row">
			<div class="span12">
				<h3 class="intro"> Megam Systems - Polygot PaaS [Cross Cloud + Metering/Monitoring + Realtime Log] </h3>
			</div>
		</div>

		<!-- description -->
		<div class="row">
			<div class="span6">
				<p>
					While creating a live cloud experience, we found a need to build a private PaaS.
					<br>
					This is an enterprise wide problem as enterprises "Refactor &  Rehost app code".
					<br>
					This is when our Open Source Cloud Platform 'Megam' was born. Our team was
					<br>
					grouped in July 2012 at <a href="https://maps.google.com/maps?q=Megam+systems,+Chennai,+Tamil+Nadu,+India&hl=en&sll=37.0625,-95.677068&sspn=39.916234,80.859375&oq=Megam+syst&hq=Megam+systems,&hnear=Chennai,+Tamil+Nadu,+India&t=m&z=11&iwloc=A" target="_blank">Chennai</a>, and &nbsp; we started &nbsp;&nbsp;getting our  &nbsp;hands dirty.
					<br>
					The tech stack we use are - <a href="http://www.opscode.com/community/" target="_blank">Chef 11</a>, <a href="http://www.playframework.com" target="_blank">Play</a><a href="http://www.scala-lang.org" target="_blank">(Scala)</a>/<a href="http://www.akka.io" target="_blank">Akka</a> for the Cloud API, <a href="http://www.ruby-lang.org" target="_blank">Ruby</a>/<a href="http://rubyonrails.org" target="_blank">RoR</a>
				</p>
			</div>
			<div class="span6">
				<p>
					Read our killer start-up &nbsp;story &nbsp;&nbsp;in &nbsp;&nbsp;<a href="http://www.slideshare.net/indykish/startup-story-birth-of-megam-cloud" target="_blank">Slideshare</a>. We &nbsp;started &nbsp;with the first step to abstract the
					<br>
					 cloud provisioner (Chef). Then we added an API layer using Play(Scala) to service a Medium. 
					<br>
					The Medium can be WebApp, Mobile, CLI(Command line interface). The API will service the 
					<br>
					medium &nbsp;&nbsp;for &nbsp;&nbsp;any &nbsp;&nbsp;cloud &nbsp;&nbsp;request. &nbsp;&nbsp;Metering and &nbsp;&nbsp;realtime &nbsp;&nbsp;logstreaming&nbsp;&nbsp; was added using <a href="http://ganglia.sourceforge.net/" target="_blank">Ganglia</a>, <a href="http://www.elasticsearch.org/" target="_blank">Elasticsearch</a>/<a href="http://logstash.net/" target="_blank">Logstash</a>.
					<b>Read more about our</b>
					<a href="https://slideshare.net/indykish/megam_cloud" target="_blank"> vision in slide share. </a>
				</p>
			</div>
		</div>

		<!-- header -->
		<h2 class="section_header team">
		<hr class="left visible-desktop">
		<span>Our Team</span>
		<hr class="right visible-desktop">
		</h2>

		<div class="row">
			<div class="span3 teammate">
				<%= image_tag "kishore.png", :alt => "Kishorekumar Neelamegam", :class => "img-circle img-polaroid" %>
				<h5>Kishorekumar Neelamegam</h5>
				<p>
					Founder & Managing Director
				</p>
				<hr>
				<p class="description">
					An electrical engineer with 15+ years of experience in complex environment as an Architect, Specialist.
					Passionately writes code.
				</p>
				<div class="social">
					<a href="http://twitter.com/indykish" target="_blank"> <i class="social tw"></i> </a>
					<a href="https://www.facebook.com/kishore.neelamegam.5" target="_blank"> <i class="social fb"></i> </a>
					<a href="http://www.linkedin.com/pub/kishore-kumar-neelamegam/75/97a/7ab" target="_blank"> <i class="social in"></i> </a>
				</div>
			</div>
			<div class="span3 teammate">
				<%= image_tag "thomas.png", :alt => "Thomas alrin", :class => "img-circle img-polaroid" %>
				<h5>Thomas Alrin</h5>
				<p>
					Infrastructure Engineer
				</p>
				<hr>
				<p class="description">
					Graduate from Alagappa , Responsible for the Cloud Infrastrucure for Megam platform. Avid Ruby, Chef Recipe maker.
				</p>
				<div class="social">
					<a href="https://twitter.com/ThomasAlrin" target="_blank"> <i class="social tw"></i> </a>
					<a href="https://www.facebook.com/thomasalrin" target="_blank"> <i class="social fb"></i> </a>
					<a href="http://www.linkedin.com/pub/thomas-alrin/61/35a/a48" target="_blank"> <i class="social in"></i> </a>
				</div>
			</div>
			<div class="span3 teammate">
				<%= image_tag "thilak.png", :alt => "Raj Thilak", :class => "img-circle img-polaroid" %>
				<h5>Raj Thilak</h5>
				<p>
					Platform Engineer
				</p>
				<hr>
				<p class="description">
					Graduate from Alagappa , Responsible for the interfaces to the provisioner for Megam platform.
					Passionate coder in Scala/Akka/Play and others.
				</p>
				<div class="social">
					<a href="#" target="_blank"> <i class="social tw"></i> </a>
					<a href="#" target="_blank"> <i class="social fb"></i> </a>
					<a href="http://in.linkedin.com/pub/r-rajthilak/4a/262/854" target="_blank"> <i class="social in"></i> </a>
				</div>
			</div>
			<div class="span3 teammate">
				<%= image_tag "oscontributors.png", :alt => "OS Contributors", :class => "img-circle img-polaroid" %>
				<h5>Other Contributors</h5>
				<p>
					Opensource
				</p>
				<hr>
				<p class="description">
					We are thankful to Pandiyaraja Ramamoorthy, Subash Sethurajan for their contributions.
				</p>
			</div>
		</div>
	</div>
</div>
