<% provide(:title, 'About') %>
<div id="about" class="about_page">
	<div class="container">
		<h2 class="section_header">
		<hr class="left visible-desktop">
		<span>About Us</span>
		<hr class="right visible-desktop">
		</h2>

		<div class="row">
			<div class="span12">
				<h3 class="intro"> Megam Systems was founded in mid July 2012 - a bootstrapped entity working on "Live Cloud integration of
				Cloud Application using a Cloud Identity.

				We are a brilliant exhuberant small team located in chennai, and enjoy programming in Java, Ruby on Rails,
				PostgreSQL, Oh, Yeah on Cloud.</br>

				Wanna Contribute - Read our Contribution page.</br>

				Our deck in slideshare will be a good starting point to know about our thought leaderhsip.</br>

				Looking for jobs, We'd love to hear ? Send us through our Mobile App. </br>
				(or) <%= link_to "twitter : @megamsystems","http://twitter.com/megamsystems" %> </br>
				Are you a summer intern ? Great. Join us for "Our Dew Drop Code".</br> </h3>
			</div>
		</div>
	</div>
</div>
