<% provide(:title, 'About') %> <!-- features -->
<div id="about" class="about_page">
	<div class="container">
		<!-- header -->
		<h2 class="section_header">
		<hr class="left visible-desktop">
		<span>About Us</span>
		<hr class="right visible-desktop">
		</h2>

		<div class="row">
			<div class="span12">
				<h3 class="intro"> Megam Cloud - Fun team to work @ </h3>
			</div>
		</div>

		<!-- description -->
		<div class="row">
			<div class="span6">
				<p>
					We never sleep and work round the cloud at <a href="https://maps.google.com/maps?q=Megam+systems,+Chennai,+Tamil+Nadu,+India&hl=en&sll=37.0625,-95.677068&sspn=39.916234,80.859375&oq=Megam+syst&hq=Megam+systems,&hnear=Chennai,+Tamil+Nadu,+India&t=m&z=11&iwloc=A" target="_blank">Chennai</a>,
					and our CEO Rad from <a href="https://www.google.com/maps/preview#!q=1806+Arrowgrass+way+Ottawa%2C+ON%2C+Canada&data=!4m15!2m14!1m13!1s0x4cce12e4a325a107%3A0x72aaef48bb62e028!3m8!1m3!1d20681896!2d-95.677068!3d37.0625!3m2!1i1301!2i609!4f13.1!4m2!3d45.4628849!4d-75.4554516"> Ottawa, Canada</a>

				</p>
			</div>
			<div class="span6">
				<p>
					Read our killer start-up &nbsp;story &nbsp;&nbsp;in &nbsp;&nbsp;<a href="http://www.slideshare.net/indykish/startup-story-birth-of-megam-cloud" target="_blank">Slideshare</a>
					and about our
					<a href="https://slideshare.net/indykish/megam_cloud" target="_blank"> Vision </a>
				</p>
			</div>
		</div>

		<!-- header -->
		<h2 class="section_header team">
		<hr class="left visible-desktop">
		<span>Our Team</span>
		<hr class="right visible-desktop">
		</h2>

		<div class="row">
			<div class="span12 teammate">
				<%= image_tag "rad.png", :alt => "Varadarajan Adhi Narayanan", :class => "img-circle img-polaroid" %>
				<h5>Varadarajan(Rad) Narayanan</h5>
				<p>
					CEO
				</p>
				<hr>
				<p class="description" align="justify">
					<b>Rad</b> brings with him more than two decades of experience in Industry and his penchant for groundbreaking for new technologies. His passion&nbsp; for open source and lateral thinking brings in strategic thought leadership to Megam.
					&nbsp;
					</br>
					Electrical Engineer with 15+ in&nbsp; Computers and Communication Industry&nbsp; &nbsp;&nbsp;specialized in&nbsp; turnkey projects. &nbsp;A hands-on &nbsp; person with &nbsp;crisis management and &nbsp; &nbsp;problem solving ability with extensive domain knowledge in various process industries. An advocate of Open Source , SAAS and cloud computing technologies.
					He was instrumental in introducing PON ( Passive Optical Networking)  and EOC ( Ethernet over Coax ) technologies for retail broadband delivery in India.

				</p>
				<div class="social">
					<a href="http://ca.linkedin.com/in/thinteknix" target="_blank"> <i class="social in"></i> </a>
					<a href="mailto:rad@megam.co.in" target="_blank"> rad@megam.co.in</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12 teammate">
				<%= image_tag "kishore.png", :alt => "Kishorekumar Neelamegam", :class => "img-circle img-polaroid" %>
				<h5>Kishorekumar Neelamegam</h5>
				<p>
					CTO
				</p>
				<hr>
				<p class="description" align="justify">
					An electrical engineer with 15+ years of experience in product development and architecting/engineering complex system integration solutions in an avid
					hands on specialist in hacking anything.
				</p>
				<div class="social">
					<a href="http://twitter.com/indykish" target="_blank"> <i class="social tw"></i> </a>
					<a href="http://www.linkedin.com/in/kishorekumarneelamegam" target="_blank"> <i class="social in"></i> </a>
					<a href="mailto:rad@megam.co.in" target="_blank">nkishore@@megam.co.in</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span6 teammate">
				<%= image_tag "thilak.png", :alt => "Raj Thilak", :class => "img-circle img-polaroid" %>
				<h5>Raj Thilak</h5>
				<p>
					Platform Engineer
				</p>
				<hr>
				<p class="description" align="justify">
					Graduate from Alagappa , Responsible for the interfaces to the provisioner for Megam platform.
					Passionate coder in Scala/Akka/Play and others.
				</p>
				<div class="social">
					<a href="https://twitter.com/rajthilakmca" target="_blank"> <i class="social tw"></i> </a>
					<a href="http://in.linkedin.com/pub/r-rajthilak/4a/262/854" target="_blank"> <i class="social in"></i> </a>
				</div>
			</div>
			<div class="span6 teammate">
				<%= image_tag "thomas.png", :alt => "Thomas alrin", :class => "img-circle img-polaroid" %>
				<h5>Thomas Alrin</h5>
				<p>
					Infrastructure Engineer
				</p>
				<hr>
				<p class="description" align="justify">
					Graduate from Alagappa , Responsible for the Cloud Infrastrucure for Megam cloud. Avid Ruby, Chef Recipe maker.
				</p>
				<div class="social">
					<a href="https://twitter.com/thomasalrin" target="_blank"> <i class="social tw"></i> </a>
					<a href="http://www.linkedin.com/in/thomasalrin" target="_blank"> <i class="social in"></i> </a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span6 teammate">
				<h5>Opensource Contributors</h5>
				<p>
					A Big Thank You
				</p>
				<hr>
				<p class="description">
					We are thankful to Pandiyaraja Ramamoorthy, Subash Sethurajan for their contributions.
				</p>
			</div>
		</div>

	</div>
</div>
