<div class="container-fluid">  
<% provide(:title, 'Contact us') %><br><br>
<h1>Contact us</h1><br><br>
<p>
  Write to us <a href="mailto:nkishore@megam.co.in">nkishore@megam.co.in</a> (or) send us a tweet.
</p>

<div class="span4 contact_us">
				<h3>Contact Us</h3>
				<form class="form-horizontal">
					<div class="field">
						<div class="label_field">
							<label for="inputName">Name</label>
						</div>
						<input type="text" id="inputName" />
					</div>

					<div class="field">
						<div class="label_field">
							<label for="inputEmail">Email</label>
						</div>
						<input type="text" id="inputEmail" />
					</div>

					<div class="field">
						<div class="label_field">
							<label for="inputCity">City</label>
						</div>
						<input type="text" id="inputCity" />
					</div>

					<div class="field">
						<div class="label_field">
							<label for="inputComment">Comments</label>
						</div>
						<textarea name="comments"></textarea>
					</div>
					<button type="submit" class="btn">
						Send
					</button>
				</form>
			</div>

</div>
