<div class="container-fluid">
	<% provide(:title, 'Contact us') %>
	<div id="contact" class="contact_page">
		<div class="container">
			<h2 class="section_header">
			<hr class="left visible-desktop">
			<span>Contact Us</span>
			<hr class="right visible-desktop">
			</h2>

			<div class="row map">
				<div class="span12">
					<div class="gmaps">
						<iframe style="width: 100%; height: 100%; border: none;" src="https://maps.google.com/maps?q=Megam+systems,+Chennai,+Tamil+Nadu,+India&hl=en&sll=37.0625,-95.677068&sspn=39.916234,80.859375&oq=Megam+syst&hq=Megam+systems,&hnear=Chennai,+Tamil+Nadu,+India&t=m&z=11&iwloc=A&amp;output=embed"></iframe>
					</div>
					<h3>Do you consume or produce Cloud/Business Applications ?
					Our current stuff doesn't help you.  Yes Sir !</br>We are interested in hearing you business use case. Write to us. </h3>
				</div>
			</div>

			<div class="row form">
				<div class="span6">
					<%= spinner_tag 'spin_reset' %>
					<%= form_tag contact_us_path, :method => :post, :name => "basic_validate", :id => "basic_validate", :novalidate => "novalidate", :remote => true, data: { spinlock: '#spin_reset'} do %>
					<!--<form class="form-horizontal" method=post name="basic_validate" id="basic_validate" novalidate="novalidate">-->
					<div class="control-group">
						<label class="control-label">Name</label>
						<div class="controls">
							<input type="text" class="span4 required" name="inputName" id="inputName">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Email</label>
						<div class="controls">
							<input type="text" class="span4 required" name="inputEmail" id="inputEmail">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Mobile Phone</label>
						<div class="controls">
							<input type="text" class="span4" name="inputPhone" id="inputPhone">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">PaaS - You Wish</label>
						<div class="controls">
							<select class="required" multiple name="multiple_selects">
								<option value="oracle">Oracle</option>
								<option value="db2" selected>DB2</option>
								<option value="mysql">MySQL</option>
								<option value="php">PHP</option>
								<option value="python">Python</option>
								<option value="mongodb">MongoDB</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Use case</label>
						<div class="controls">
							<textarea class="span4 required" name="inputComment" id="inputComment" rows="6" , placeholder="Briefly describe your cloud application, How do you intend to access it ?"></textarea>
						</div>
					</div>
					<div class="control-group">
						<div class="controls action">

							<%= submit_tag "Submit" %>
							<!--<button type="submit" class="btn">
							Send
							</button>-->
						</div>
					</div>
					<!--</form>-->
					<% end %>
				</div>
				<div class="span5 offset1">
					<div class="address">
						<h3>Address</h3>
						<p>
							Plot No. 53, Door No. 2/1075, Second cross, Radha nagar, Perumbakkam.
							<br>
							Perumbakkam, Chennai
							<br>
							TamilNadu, India, Zip Code 600100.
						</p>
						<div class="info">
							<i class="contact phone"></i>
							91 9840559300
						</div>
						<div class="info">
							<i class="contact email"></i>
							admin@megam.co
						</div>
						<hr>
						<h3>Social media</h3>
						<div class="social">
							<a href="https://twitter.com/indykish" target="_blank"><i class="social tw"></i></a>
							<a href="https://www.facebook.com/megamsys" target="_blank"><i class="social fb"></i></a>
							<a href="https://plus.google.com/+KishorekumarNeelamegam" target="_blank"><i class="social gp"></i></a>
							<a href="http://blog.megam.co" target="_blank"><i class="social wp"></i></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div id="contact_mail_success" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×
			</button>
			<h3 id="myModalLabel">Success</h3>
		</div>
		<div class="modal-body">
			<div class="alert alert-success">
			<p>
				<b>Coolness. Thank you for your interest.</b></br>Your valuable information has been sent to Megam. A forum link was created at 
				<a href="http://support.megam.co" target="_blank">support.megam.co</a>. We'll get back to shortly.
			</p>
			</div>
		</div>

		<div class="modal-footer" id="contact_modal"></div>

	</div>
