  
<% provide(:title, 'Document') %><br><br>
<div class="row">
<ul class="thumbnails">
  <li class="span5">
   <div class="thumbnail">
   <a href=document class="thumbnail">
    <%= image_tag "architecture.png" %>
    <h4>Megam API Documentation</h4>
    </a>
   </div>
  </li>
</ul>
</div>

<%= button_to 'OpenStack Forums', 'http://forums.openstack.org/', :class => 'btn btn-info' %>
