<% provide(:title, 'Document') %>

<hr/><h1>Megam Document</h1>
<hr/>

<%= image_tag "architecture.png", :size => "600x600" %>
<hr/>
<div class="row">
<div class="span3">
<h3>Megam.co</h3>
<p>	Our megam.co is to provide identities to the organizations who are in need. User can get identity by simply clicking a button. User can choose as many cloud applications he wants like <em> Google app, Salesforce, Zoho etc </em> . For more details click the below link</p>
<%= button_to 'Megam.co', 'https://github.com/indykish/identityprov', :class => 'btn btn-info' %>
</div>

<div class="span3">
<h3>Ironfist</h3>
<p>	Just like 1971 with mainframes and IBM's iron fist, cloud providers are after one single thing, a revenue stream they can put on the books several quarters in advance. For more details click the below link</p><br/>
<%= button_to 'Ironfist', 'https://github.com/indykish/ironfist', :class => 'btn btn-info' %>
</div>

<div class="span3">
<h3>Mammoth</h3>
<p>	Mammoth is to create an instance of amazon for the users. It controlles the cloud applications like <em> Google app, Salesforce, Zoho etc </em> which are provided by the megam. For more details click the below link</p><br/>
<%= button_to 'Mammoth', 'https://github.com/indykish/mammoth', :class => 'btn btn-info' %>
</div>

</div>
