  
<% provide(:title, 'Document') %><br><br>
<div class="row">
<ul class="thumbnails">
  <li class="span3">
   <div class="thumbnail">
   <a href=document class="thumbnail">
    <%= image_tag "megam_doc2.jpeg" %>
    <h4>Megam API Documentation</h4>
    </a>
   </div>
  </li>
</ul>
</div>


