<% provide(:title, 'Document') %>
<div class="container-fluid">
<hr/><h1>Megam Features</h1>

<div id="features" class="features_page">
        <div class="container">
            <div class="features1">
                <!-- header -->
                <h2 class="section_header">
                    <hr class="left visible-desktop">
                    <span>Features</span>
                    <hr class="right visible-desktop">
                </h2>

                <div class="row">
                    <div class="span12">
                        <h3 class="intro">
                            Whether you need to create a brand from scratch, including marketing materials
                            and a beautiful and functional website or whether you are looking for a design
                            refresh pleased with the results.
                        </h3>
                    </div>
                </div>

                <!-- feature list -->
                <div class="row">
                    <div class="span4 feature">
                        <img src="img/feature1.jpg" alt="feature1" class="thumb" />
                        <h3>
                            <i class="i_cloud"></i> Responsive clean theme
                        </h3>
                        <p class="description">
                            There are many variations of passages of Lorem Ipsum available, but the 
                            majority have suffered alteration in some form, by injected humour, or randomised 
                            words which don't look even slightly believable.
                        </p>
                    </div>
                    <div class="span4 feature">
                        <img src="img/feature2.jpg" alt="feature2" class="thumb" />
                        <h3>
                            <i class="i_chart"></i> Responsive clean theme
                        </h3>
                        <p class="description">
                            There are many variations of passages of Lorem Ipsum available, but the 
                            majority have suffered alteration in some form, by injected humour, or randomised 
                            words which don't look even slightly believable.
                        </p>
                    </div>
                    <div class="span4 feature">
                        <img src="img/feature3.jpg" alt="feature3" class="thumb" />
                        <h3>
                            <i class="i_movil"></i> Responsive clean theme
                        </h3>
                        <p class="description">
                            There are many variations of passages of Lorem Ipsum available, but the 
                            majority have suffered alteration in some form, by injected humour, or randomised 
                            words which don't look even slightly believable.
                        </p>
                    </div>
                </div>
            </div>
            <div class="features2">
                <!-- features 2 -->
                <h2 class="section_header">
                    <hr class="left visible-desktop">
                    <span>Features 2</span>
                    <hr class="right visible-desktop">
                </h2>

                <div class="row">
                    <div class="span12">
                        <h3 class="intro">
                            Whether you need to create a brand from scratch, including marketing materials
                            and a beautiful and functional website or whether you are looking for a design
                            refresh pleased with the results.
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="span4 feature2">
                        <div class="icon">
                            <i class="cloud"></i></div>
                        <h4>Many desktop publishing editor these available</h4>
                        <p>
                            You can't do better design with a computer, but you can speed up your work
                            enormously.
                        </p>
                    </div>
                    <div class="span4 feature2">
                        <div class="icon">
                            <i class="tools"></i></div>
                        <h4>Many desktop publishing editor these available</h4>
                        <p>
                            You can't do better design with a computer, but you can speed up your work
                            enormously.
                        </p>
                    </div>
                    <div class="span4 feature2">
                        <div class="icon">
                            <i class="graph"></i></div>
                        <h4>Many desktop publishing editor these available</h4>
                        <p>
                            You can't do better design with a computer, but you can speed up your work
                            enormously.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span4 feature2">
                        <div class="icon">
                            <i class="mobile"></i></div>
                        <h4>Many desktop publishing editor these available</h4>
                        <p>
                            You can't do better design with a computer, but you can speed up your work
                            enormously.
                        </p>
                    </div>
                    <div class="span4 feature2">
                        <div class="icon">
                            <i class="lab"></i></div>
                        <h4>Many desktop publishing editor these available</h4>
                        <p>
                            You can't do better design with a computer, but you can speed up your work
                            enormously.
                        </p>
                    </div>
                    <div class="span4 feature2">
                        <div class="icon">
                            <i class="secure"></i></div>
                        <h4>Many desktop publishing editor these available</h4>
                        <p>
                            You can't do better design with a computer, but you can speed up your work
                            enormously.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
