<% provide(:title, 'Document') %>
<div id="features" class="features_page">
	<div class="container">
		<div class="features1">
			<!-- header -->
			<h2 class="section_header">
			<hr class="left visible-desktop">
			<span>Features</span>
			<hr class="right visible-desktop">
			</h2>

			<div class="row">
				<div class="col-md-12">
					<h3 class="intro"> Whether you need to create a (Java, Node.js, Play(Scala), Akka, RoR) app from scratch,
					quick deployment with Cross cloud ability and an awesome  and  functional realtime log
					and metering/monitoring you will be pleased with  hybrid PaaS Megam. </h3>
				</div>
			</div>

			<!-- feature list -->
			<div class="row">
				<div class="col-md-4 feature">
					<h3><i class="i_cloud"></i> Visible PaaS </h3>
					<p class="description">
						Embraces developers and DevOps and not be a black box that strips away IT
						control and visibility
					</p>
				</div>
				<div class="col-md-4 feature">
					<h3><i class="i_chart"></i> Pluggable Architecture </h3>
					<p class="description">
						Pluggable architecture from the inside out so that the system grows and expands with
						increased and diverse deployments. DevOps can extend the
						<a href="https://github.com/indykish/chef-repo.git" target="_blank">deployable maker</a> based on the
						their IT Policy.
					</p>
				</div>
				<div class="col-md-4 feature">
					<h3><i class="i_movil"></i> Infra Agnostic </h3>
					<p class="description">
						It is infrastructure agnostic leveraging existing IT infrastructure and investments to avoid vendor lock-in
						(Support for openstack, rackspace, AWS for the  beta launch) 
					</p>
				</div>
			</div>
		</div>
		<div class="features2">
			<!-- features 2 -->
			<h2 class="section_header">
			<hr class="left visible-desktop">
			<span>Features 2</span>
			<hr class="right visible-desktop">
			</h2>
			<div class="row">
				<div class="col-md-12">
					<h3 class="intro"> Whether you need to create a brand from scratch, including marketing materials
					and a beautiful and functional website or whether you are looking for a design
					refresh pleased with the results. </h3>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 feature2">
					<div class="icon">
						<i class="cloud"></i>
					</div>
					<h4>Seamless interaction</h4>
					<p>
						Seamless interaction model between users of the system. No system forced policy in the client libraries
						for developers.
					</p>
				</div>
				<div class="col-md-4 feature2">
					<div class="icon">
						<i class="tools"></i>
					</div>
					<h4>Instant Onboarding</h4>
					<p>
						Frictionless onboarding that does not require a rewrite to your code base or
						the addition of large metadata that is specific to the system.
					</p>
				</div>
				<div class="col-md-4 feature2">
					<div class="icon">
						<i class="graph"></i>
					</div>
					<h4>SCM Connectors (GITHub)</h4>
					<p>
						Injectable dependencies for the app from external means. (SCM - source control
						management system supported to start with is Github. More connectors to be added.)
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 feature2">
					<div class="icon">
						<i class="mobile"></i>
					</div>
					<h4>Multi build engine</h4>
					<p>
						Multi build engine support (eg: Java - MVN (Maven), Play(Scala) - MVN, SBT(Simple build tool), Node.js (npm),
						RoR (Ruby on rails) - Bundle).
					</p>
				</div>
				<div class="col-md-4 feature2">
					<div class="icon">
						<i class="lab"></i>
					</div>
					<h4>Quick App Provisioning</h4>
					<p>
						Quick app provisioning for IT using an UI (userinterface), CLI (Command line interface).
					</p>
				</div>
				<div class="col-md-4 feature2">
					<div class="icon">
						<i class="secure"></i>
					</div>
					<h4>Roadmap(Mobile & SCM Support)</h4>
					<p>
						Mobile single click deployment and monitoring and support for other SCMS are in the road map.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
