<!-- Main hero unit for a primary marketing message or call to action -->
<div class="leaderboard">
	<h1>Megam - opensource</h1>
	<p>
		Cloud IT at your doorstep...Let us drive and conquer your IT. Step right in..!
		Try and gets your hands wet to enhance your IT for free.
	</p>
     <% if !current_user %>
	<p>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
	</p>
     <% end %>
</div>
<div class="row">
	<div class="span3">
		<h2>Mammoth</h2>
		<%= image_tag "mammoth_full.png", :size => "200x200" %>
	</div>
	<div class="span3">
		<h2>Ironfist</h2>
		<%= image_tag "ironfist.jpeg", :size => "150x200" %>
	</div>
	<div class="span3">
		<h2>Identityprov</h2>
		<%= image_tag "megam_doc2.jpeg", :size => "200x200" %>
	</div>
</div>
