<!-- Main hero unit for a primary marketing message or call to action -->
<div class="leaderboard">
	<h1>Megam - opensource</h1>
	<p>
		Cloud IT at your doorstep...Let us drive and conquer your IT. Step right in..!
		Try and gets your hands wet to enhance your IT for free.
	</p>
	<p>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
	</p>
</div>
<div class="row">
	<div class="span3">
		<h2>Cloud Application</h2>
		
	</div>
	<div class="span3">
		<h2>Watch it</h2>
		<May be a media ?>
	</div>
	<div class="span2">
		<h2>Get started</h2>
		<p>
		<br>
			To provisioning someing...
		</p>

	</div>
</div>
