<% provide(:title, 'Tour') %>
<div id="blog_wrapper">
	<div class="container">
		<div class="row">

			<div class="span8">

				<h1 class="header">Screencasts
				<hr>				
				</h1>

				<div class="post">
					<div class="row">
						<div class="span3">
								<p>
										<iframe  src="//www.youtube.com/embed/QcXkpZ1-O7Q" frameborder="0" allowfullscreen>
										
										</iframe>										
									</p>
						</div>
						<div class="span4 info">
							<a href="blog-post.html"> <h3>Installation</h3> </a>
							<p>
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
							</p>
							<div class="post_info">
								<div class="author">
									Kishorekumar Neelamegam
								</div>
								<div class="date">
									Oct 12, 2012
								</div>
							</div>
						</div>
					</div>
					<a href="http://docs.megam.co" class="btn" target="_blank">more</a>
				</div>

				<div class="post">
					<div class="row">
						<div class="span3">
							<a href="blog-post.html"> <img class="main_pic" alt="main pic" src="img/pic_blog.png" /> </a>
						</div>
						<div class="span4 info">
							<a href="blog-post.html"> <h3>Java App in a Minute</h3> </a>
							<p>
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
							</p>
							<div class="post_info">
								<div class="author">
									Thomas Alrin
								</div>
								<div class="date">
									Oct 12, 2012
								</div>
							</div>
						</div>
					</div>
					<a href="blog-post.html" class="btn">more</a>
				</div>

				<div class="post">
					<div class="row">
						<div class="span3">
							<a href="blog-post.html"> <img class="main_pic" alt="main pic" src="img/pic_blog.png" /> </a>
						</div>
						<div class="span4 info">
							<a href="blog-post.html"> <h3>Instant Rails App</h3> </a>
							<p>
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
							</p>
							<div class="post_info">
								<div class="author">
									Thomas Alrin
								</div>
								<div class="date">
									Oct 12, 2012
								</div>
							</div>
						</div>
					</div>
					<a href="blog-post.html" class="btn">more</a>
				</div>

				<div class="post">
					<div class="row">
						<div class="span3">
							<a href="blog-post.html"> <img class="main_pic" alt="main pic" src="img/pic_blog.png" /> </a>
						</div>
						<div class="span4 info">
							<a href="blog-post.html"> <h3>Play App</h3> </a>
							<p>
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
							</p>
							<div class="post_info">
								<div class="author">
									Thomas Alrin
								</div>
								<div class="date">
									Oct 12, 2012
								</div>
							</div>
						</div>
					</div>
					<a href="blog-post.html" class="btn">more</a>
				</div>

				<div class="pagination">
					<ul>
						<li>
							<a href="#">Prev</a>
						</li>
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">Next</a>
						</li>
					</ul>
				</div>

			</div>

			<div class="span3 sidebar offset1">

				<input type="text" class="input-large search-query" placeholder="Search">

				<h4 class="sidebar_header"> Menu </h4>

				<ul class="sidebar_menu">
					<li>
						<a href="#">Installation</a>
					</li>
					<li>
						<a href="#">Developer</a>
					</li>
					<li>
						<a href="#">DevOps</a>
					</li>					
				</ul>

				<h4 class="sidebar_header"> Recent posts </h4>

				<ul class="recent_posts">
					<li>
						<div class="row">
							<div class="span1">
								<a href="blog-post.html"> <img class="thumb" alt="thumb post" src="img/pic_blog.png" /> </a>
							</div>
							<div class="span2">
								<a class="link" href="blog-post.html">Java App</a>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="span1">
								<a href="blog-post.html"> <img class="thumb" alt="thumb post" src="img/pic_blog.png" /> </a>
							</div>
							<div class="span2">
								<a class="link" href="blog-post.html">Rails App</a>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="span1">
								<a href="blog-post.html"> <img class="thumb" alt="thumb post" src="img/pic_blog.png" /> </a>
							</div>
							<div class="span2">
								<a class="link" href="blog-post.html">PostgreSQL</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>