<% provide(:title, 'Tour') %>
<div id="blog_wrapper">
	<div class="container">
		<div class="row">
			<div class="span8">
				<h1 class="header">Screencasts
				<hr>
				</h1>
				<div class="post">
					<div class="row">
						<div class="span3">
							<br>
							</br>
							<iframe  id="ytPlayer" src="//www.youtube.com/embed/QcXkpZ1-O7Q" frameborder="1"
							type="text/html"></iframe>
						</div>
						<div class="span3 offset1 info">
							<a href="http://docs.megam.co/install" target="_blank"> <h3>Installation</h3> </a>
							<p>
								This video walksthrough the <b>Installation of Megam Opensource Cloud.</b> The prerequisites needed are <b>Chef11</b>In this video well cover (i) Intro on Prereqs (ii) Megam Cloud API Server (ii) Megam Cloud Bridge.
							</p>
							<div class="post_info">
								<div class="author">
									Kishorekumar Neelamegam
								</div>
								<div class="date">
									Oct 12, 2012
								</div>
							</div>
						</div>
					</div>
					<a href="http://docs.megam.co/install" class="btn" target="_blank">more</a>
				</div>

				<div class="post">
					<div class="row">
						<div class="span3">
							<br>
							</br>
							<iframe  id="ytPlayer" src="//www.youtube.com/embed/QcXkpZ1-O7Q" frameborder="1"
							type="text/html"></iframe>
						</div>
						<div class="span3 offset1 info">
							<a href="http://docs.megam.co/paas/javaapp" target="_blank"> <h3>Java App in Cloud</h3> </a>
							<p>
								This screencast walksthrough "How to get your Java App code in Git <b>to Megam Hosted Cloud</b>". Create a <b>GitHub</b> account, if you don't have one. We'll cover (i) Initializing code in GitHub (ii) Stand Up Java App in a Minute using Megam Hosted Cloud.
							</p>
							<div class="post_info">
								<div class="author">
									Thomas Alrin
								</div>
								<div class="date">
									Oct 12, 2012
								</div>
							</div>
						</div>
					</div>
					<a href="http://docs.megam.co/paas/javaapp" class="btn" target="_blank">more</a>
				</div>

				<div class="post">
					<div class="row">
						<div class="span3">
							<br>
							</br>
							<iframe  id="ytPlayer" src="//www.youtube.com/embed/o2TYJPEi1EQ" frameborder="1"
							type="text/html"></iframe>
						</div>
						<div class="span3 offset1 info">
							<a href="http://docs.megam.co/paas/javaapp" target="_blank"> <h3>Instant Rails App in Cloud</h3> </a>
							<p>
								This screencast walksthrough "How to get your Rails 4.0 App code in Git <b>to Megam Hosted Cloud</b>". Create a <b>GitHub</b> account, if you don't have one. We'll cover (i) Initializing code in GitHub (ii) Stand Up Rails 4.0 App in a Minute using Megam Hosted Cloud.
							</p>
							</p>
							<div class="post_info">
								<div class="author">
									Thomas Alrin
								</div>
								<div class="date">
									Oct 12, 2012
								</div>
							</div>
						</div>
					</div>
					<a href="http://docs.megam.co/paas/javaapp" target="_blank" class="btn">more</a>
				</div>

				<div class="post">
					<div class="row">
						<div class="span3">
							<br>
							</br>
							<!--<a href="http://www.youtube.com/watch?v=s52Tev3k3zU" rel="prettyPhoto" > <img src="http://img.youtube.com/vi/s52Tev3k3zU/mqdefault.jpg">
							</a>-->
							<iframe  id="ytPlayer" src="//www.youtube.com/embed/QcXkpZ1-O7Q" frameborder="1" type="text/html"></iframe>
						</div>
						<div class="span3 offset1 info">
							<a href="blog-post.html"> <h3>Play(Scala) App</h3> </a>
							<p>
								This screencast walksthrough "How to get your Play App code in Git/Zip <b>to Megam Hosted Cloud</b>". Create a <b>GitHub</b> account, if you don't have one. We'll cover (i) Initializing code in GitHub (ii) Stand Up Play(Scala) App in a Minute using Megam Hosted Cloud.
							</p>
							</p>
							<div class="post_info">
								<div class="author">
									Thomas Alrin
								</div>
								<div class="date">
									Oct 12, 2012
								</div>
							</div>
						</div>
					</div>
					<a href="http://docs.megam.co/paas/javaapp" target="_blank" class="btn">more</a>
				</div>

				<div class="pagination">
					<ul>
						<li>
							<a href="#">1</a>
						</li>

					</ul>
				</div>

			</div>

			<div class="span3 sidebar offset1">

				<input type="text" class="input-large search-query" placeholder="Search">

				<h4 class="sidebar_header"> Menu </h4>

				<ul class="sidebar_menu">
					<li>
						<a href="http://docs.megam.co/install" target="_blank">Installation</a>
					</li>
					<li>
						<a href="http://docs.megam.co/developer">Developer</a>
					</li>
					<li>
						<a href="http://docs.megam.co/devops">DevOps</a>
					</li>
				</ul>

				<h4 class="sidebar_header"> Recent posts </h4>

				<ul class="recent_posts">
					<li>
						<div class="row">
							<div class="span1">
								<i class="fa fa-chevron-right"></i>
							</div>
							<div class="span2">
								<a class="link" href="http://support.megam.co/kb/platform-applications/how-do-you-develop-a-java-application-on-megam" target="_blank">Develop Java App</a>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="span1">
								<i class="fa fa-chevron-right"></i>
							</div>
							<div class="span2">
								<a class="link" href="http://support.megam.co/kb/platform-applications/how-do-you-develop-a-rails-application-on-megam" target="_blank">Develop Rails App</a>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="span1">
								<i class="fa fa-chevron-right"></i>
							</div>
							<div class="span2">
								<a class="link" href="http://support.megam.co/kb/platform-applications/how-do-you-develop-a-playframework-application-on-megam" target="_blank">Develop Play App(Scala)</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>