<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Last Modified</th>
			<th>Created At</th>
		</tr>
	</thead>
	<tbody ng-repeat="dashboard in dashboards">
		<tr>
			<td><a href="/dashboards/{{dashboard.id}}">{{dashboard.name}}</a></td>
			<td>{{dashboard.updated_at | date:'medium' }}</td>
			<td>{{dashboard.created_at | date:'medium' }}</td>
		</tr>
	</tbody>
</table>