<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<a href="/dashboards/{{dashboard.id}}" class="btn btn-lg btn-success btn-block" title="Click here to see cloud book's metrics"> <h3>Click Here to See Your Cloud  Metrics </h3></a>
	</div>
	<div class="col-md-3"></div>
</div>
