<div class="rowfluid">
	<div class="span3"></div>
	<div class="span6">
		<a href="/dashboards/{{dashboard.id}}" class="btn btn-large btn-success btn-block" title="Click here to see cloud book's metrics"> <h3>Click Here to See Your Cloud  Metrics </h3></a>
	</div>
	<div class="span3"></div>
</div>
