<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="icon-signal"></i></span><h5>Summary</h5>
		<span class="title"><img ng-show="enableSpinner" class="ajax-spinner" width="12" height="12" src="<%= asset_path('spinner2.gif') %>"></img></span>
	</div>
	<div class="widget-content">
		<div class="row-fluid ">
			<div class="span12 center" style="text-align: center;">
				<div class="widget" ng-repeat="widget in widgets" widgetsummary/>
			</div>
		</div>
	</div>
</div>
</div>

<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="icon-signal"></i></span><h5>PerNode</h5>
		<span class="title"><img ng-show="enableSpinner" class="ajax-spinner" width="12" height="12" src="<%= asset_path('spinner2.gif') %>"></img></span>
	</div>
	<div class="widget-content">
		<div class="widget" ng-repeat="widget in widgets" widgetpernode/>
	</div>
</div>
</div>

<!--<div class="widget-box">
<div class="widget-title">
<span class="icon"><i class="icon-signal"></i></span><h5>Site Statistics</h5>
<div class="buttons">
<a href="#" class="btn btn-mini"><i class="icon-refresh"></i> Update stats</a>
</div>
</div>
<div class="widget-content" ng-init= "widget in widgets" >
<div class="row-fluid">
<div class="span4">
<ul class="site-stats">
<li ng-hide="showError" ng-show="widget.requestserved" class="widget_content_requestserved" widgetpernode/>
</li>
<li class="divider"></li>
<li ng-hide="showError" class="widget_content_uptime" widgetpernode/>

</li>
</ul>
</div>
<div class="span8">
<div ng-hide="showError" class="widget_content_graph"></div>
</div>
</div>
</div>
</div>-->
<!--<div class="widget" ng-repeat="widget in widgets" widget/>
</div>-->