<div class="row">
	<div class="col-md-12">
		{{button}}
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="icon-signal"></i></span><h5>Summary</h5>
				<span class="title"><img ng-show="enableSpinner" class="ajax-spinner" width="12" height="12" src="<%= asset_path('openup_spinner.gif') %>"></img></span>
			</div>
			<div class="widget-content">
				<div class="row">
					<div class="col-md-12">
						<div class="widget" ng-repeat="widget in widgets" widgetsummary/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="icon-signal"></i></span><h5>Live Monitor & Metrics</h5>
				<span class="title"><img ng-show="enableSpinner" class="ajax-spinner" width="12" height="12" src="<%= asset_path('openup_spinner.gif') %>"></img></span>
			</div>
			<div class="widget-content">
				<div class="container-fluid">
					<div class="widget" ng-repeat="widget in widgets" widgetpernode/>
				</div>
			</div>
		</div>
	</div>
