{{button}}
<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="icon-signal"></i></span><h5>Summary</h5>
		<span class="title"><img ng-show="enableSpinner" class="ajax-spinner" width="12" height="12" src="<%= asset_path('openup_spinner.gif') %>"></img></span>
	</div>
	<div class="widget-content">
		<div class="row">
			<div class="col-xs-12 center" style="text-align: center;">
				<div class="widget" ng-repeat="widget in widgets" widgetsummary/>
			</div>
		</div>
	</div>
</div>
</div>

<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="icon-signal"></i></span><h5>Live Monitor & Metrics Of Your Books</h5>
		<span class="title"><img ng-show="enableSpinner" class="ajax-spinner" width="12" height="12" src="<%= asset_path('openup_spinner.gif') %>"></img></span>
	</div>
	<div class="widget-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-info alert-block">
						<h4 class="alert-heading">Go Ahead Select a Book</h4>
						<div>
							<p class="help-block"></p>
							<i class="icon-chevron-down"></i>&nbsp; &nbsp; We Are Showing :<span class="label label-success"> {{c_book_name}} None</span>
							</br>
						</div>
						<a class="close" data-dismiss="alert alert-warning" href="#">×</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<div class="btn-toolbar" style="padding-left:12%;">
						<div class="btn-group "  title="select a book to watch METRICS " class="tip-bottom">
							<button class="btn btn-default btn-lg">
								Books
							</button>
							<button data-toggle="dropdown" class="btn btn-default btn-lg dropdown-toggle">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="b in a_books">
									<!--<a href="#" ng-click="update_widget_book(b.value, widget)">{{b.value}}</a>-->
									<a href="/dashboards/{{dashboard_id}}/{{b.value}}" ng-click="sm_view()">{{b.value}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--<div ng-include src="templateUrl"></div>-->
				<div class="widget" ng-repeat="widget in widgets" widgetpernode/>
			</div>
		</div>
	</div>
</div>

