<!-- 
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<input type="hidden" value="pkts_out" ng-model="xaxis_label">
<div class="row">
<div class="col-xs-12 col-sm-8">
						<div class="row">
							<ul class="pagination">
								<li class="active">
									<a href="#">Last</a>
								</li>
								<li >
									<a href="#" ng-click="update_widget_range('hour', widget)">hour</a>
								</li>
								<li>
									<a href="#" ng-click="update_widget_range('2hr', widget)">2hr</a>
								</li>
								<li>
									<a href="#" ng-click="update_widget_range('4hr', widget)">4hr</a>
								</li>
								<li>
									<a href="#" ng-click="update_widget_range('day', widget)">day</a>
								</li>
								<li>
									<a href="#" ng-click="update_widget_range('week', widget)">week</a>
								</li>
								<li>
									<a href="#" ng-click="update_widget_range('month', widget)">month</a>
								</li>
							</ul>
						</div>
						
						<div class="row">
							<div id="networks_graph_packets"></div>
						</div>
						
						<div class="row">
							<div id="networks_graph_pkts_out"></div>
						</div>
						
						<div class="row">
							<div id="networks_graph_pkts_in"></div>
						</div>
						
						<div class="row">
							<div id="networks_graph_bytes_in"></div>
						</div>
						
						<div class="row">
							<div id="networks_graph_bytes_out"></div>
						</div>
						
						<br />
						

						<!-- TODO_TOM -->
					</div>
					</div>
