<div class="col-sm-3 storage-rt-list ">
  <dl>
    <h3>Usage</h3>
    <dt>
      Total Storage
    </dt>
    <dd>
    <%= @listed_buckets[:spaced].buckets_count %>
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      Total Objects
    </dt>
    <dd>
      <%= @listed_buckets[:spaced].buckets_size_humanized %>
    </dd>
  </dl>
</div>
