<div class="col-sm-3 storage-rt-list ">
  <dl>
    <h3>Usage</h3>
    <dt>
      Total Storage
    </dt>
    <dd>
      <%=  @listed_buckets[:spaced].buckets_count %>
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      Total Buckets
    </dt>
    <dd>
      <%= @listed_buckets[:spaced].buckets_size_humanized %>
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      Last updated
    </dt>
    <dd>
    </dd>
    <h3>Billing</h3>
    <dt>
      Last billed amount
    </dt>
    <dd>
      0
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      Current due
    </dt>
    <dd>
      0
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      Region
    </dt>
    <dd>
<!--      <%= image_tag "flag_IN.png", :alt => "flag" %> INDIA -->
    </dd>
  </dl>
</div>
