
<div class="row">
	<div class="col-md-12">
		<div class="widget-box nopadding">
			
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Image</th>
							<th>Flavor</th>
						</tr>
					</thead>
					<tbody>
						<% @details.each do |d| %>
						<tr>
							<td align="center"> <%= d.name %></td>
							<td align="center"><%= d.spec[:image] %> </td>
							<td align="center"> <%= d.spec[:flavor] %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>