<% unless @ssh_keys.nil? %>
$("#tab_cloud").html('<%= escape_javascript(render :partial => "cross_clouds/select_cross_cloud" )%>');
<% else %>
$('#notification').removeClass('badge badge-success').addClass('badge badge-alert');

$("#events").prepend('<li style="background-color: white;"><p><span class="label label-sm label-icon label-success"><i class="icon-plus"></i></span> <%= @err_msg %> <span class="time">Just now</span></p></li>');

$('#settings_tab a[href="#tab_sshkey"]').tab('show')
<% end %>

