<% provide(:title, 'Error occurred') %>

<div class="container">
	<div class="row">
		<div class="span5"></div>
		<div class="span5">
		</div>
	</div>
	<div class="row">
		<div class="span5"></div>
		<div class="span5">

		</div>
	</div>
	<div class="row">
		<div class="span5">
			<%= image_tag "error_monkey.png", :alt => "error"%>
		</div>
		<div class="span5">
			<h2>Feed me more bananas.</h2>
			<h4>? <%= @status %></h4>
		</div>
	</div>
	<div class="row">
		<div class="span5"></div>
		<div class="span5">

		</div>
	</div>
	<div class="row">
		<div class="span5"></div>
		<div class="span5">
		</div>
	</div>
</div>

