<% provide(:title, 'Error occurred') %>

<div class="container">
	</br>
	</br>
	</br>
	</br>
	<div class="row-fluid">
		<div class="span12">
			<h2 align="center"><%= @status %></h2>
		</div>

	</div>
	<div class="row-fluid">
		<div class="span4">
			<%= image_tag "specman.png", :alt => "error"%>
		</div>
		<div class="span7">
			<div class="well">
				<h2>Cloud server flunked.</h2>
				<h3>Megam support was notified at hashtag #supportmegam and
				support.megam.co</h3>
			</div>
		</div>
	</div>
	</br>
	</br>
	</br>
	</br>
</div>

