<% provide(:title, 'Internal Server Error') %>

<div class="container">

	<div class='row'>
		<div class='span10 offset1'>

			<h2>We flunked.</h2>

			<p>
				<a href='javascript:history.back();'>Go Back</a> to the previous page, return to the <a href='/'>home page or
<a href="mailto:support@megam.co.in?subject=Help me">Email Us</a> 
				about this problem.
				<hr />
				If you were looking for some information regarding our services, we&#39;ve listed a few resources below where you can find additional information and help.
			</p>

			<h4> <%= link_to "Visit Support", "http://support.megam.co/?user=#{current_user.email}",:target => "_blank" %> </h4>

			<p>
				Get help from our skilled staff of Ruby and Rails. Scala experts.
			</p>
			</h4>
			We track these errors automatically, but if the problem persists feel free to contact us.
			A twit was sent to (#supportmegam).
			</h4>

		</div>
	</div>
</div>
