<% content_for :content_settings do %>
<% provide(:title, @cloud_app) %>

<h1>Cloud_Apps #delete</h1>
<p>Find me in app/views/cloud_apps/delete.html.erb</p>

<% end %>

<%= render :template => customizations_show_path %>
