<%= form_tag billings_path, multipart: true, :id => "megamform", :novalidate => "novalidate", :method => "post", :remote => true, data: { spinlock: "#spin_cross_cloud"}  do %>
<div class="c_inline">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<%= text_field_tag 'amount', nil, :required => true, :id => 'amount', :class => 'form-control', placeholder: "Amount", :data => {:placement=>"right"} %>
		</div>
	</div>
</div>
<%= submit_tag "Pay with Paypal", :id => "la-button", :data => {:anim => "la-anim-1"}, :class => "btn btn-success" %>

<% end %>