<a class="col-md-5 col-sm-6" data-toggle="collapse" href="#collapsePayPal" aria-expanded="false" aria-controls="collapsePayPal"> <%= image_tag "paypal.png",:class=> "img-responsive "%> </a>
<a class="col-md-5 col-sm-6" data-toggle="collapse" href="#collapseBitcoin" aria-expanded="false" aria-controls="collapseBitcoin"> <%= image_tag "bitcoin.png",:class=> "img-responsive "%> </a>
