<%= render 'layouts/header' %>
<div id="sidebar">
	<ul ng-controller="MainCtrl">
		<li >
			<a target="_self" href="#overview" > <i class="fa fa-bar-chart-o" ></i>Server</a>
		</li>
	</ul>
</div>

<div id="content">
	<%= content_for?(:content_settings) ? yield(:content_settings) : yield %>
</div>

