<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="icon"> <i class="icon-th-list"></i> </span>
		<h4>App <span class="label label-info"><%= @cloud_book.node_name %></span></h4>
		<button type="button" class="close" data-dismiss="panel" aria-hidden="true">
			×
		</button>
		<div class="row">
			<div class="col-xs-12 center" style="text-align: center;">
				<ul class="quick-actions">
					<li>
						<%= link_to  app_path( :id => @cloud_book.id, :name => @cloud_book.node_name), :remote => true, data: { spinlock: '#book'}  do %> <i class="icon-cabinet"></i> General <% end %>
					</li>
					<li>
						<%= link_to  activities_path(:name => @cloud_book.node_name, :book_type => @cloud_book.node_type), :remote => true, data: { spinlock: '#book'}  do %> <i class="icon-cabinet"></i> Activities <% end %>
					</li>
					<li>
						<a href="#"> <i class="icon-shopping-bag"></i> Marketplace Items </a>
					</li>
					<li>
						<a href="#"> <i class="icon-survey"></i> Settings </a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="panel-content">
		<%= render :partial => "apps/showoneapp" , :locals => {:cloud_book => @cloud_book, :requests => @requests,:defnrequests => @defnrequests }%>
	</div>
</div>

