<div class="rt-box col-xs-12 col-sm-9 col-md-10 c_bg_white c_height_5">
    {{raw "topic-list-header" currentUser=currentUser title=title nameEnabled=nameEnabled name=name subTitleEnabled=subTitleEnabled subTitle=subTitle}}
    <div class="bottom-divider"></div>
    <div class="col-xs-12 col-sm-9 col-md-9 br_grey">
        <div class="row app_box app_storage">
            <a href {{action "bucketCreate"}}>
                <div class="col-xs-12 col-sm-6 col-md-3  app_cover create_bucket_modal">
                    <div class="app_inner">
                        <div class="app_new ">
                            {{#conditional-loading-spinner condition=loading size="extra-large" }}
                                <span class="glyphicon glyphicon-plus"></span>
                                <p>
                                    Create Storage
                                </p>
                            {{/conditional-loading-spinner}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {{storage-usage}}
</div>
