<div class="rt-box col-xs-12 col-sm-9 col-md-10 c_bg_white c_height_5">
    {{raw "topic-list-header" currentUser=currentUser title=title nameEnabled=nameEnabled name=name subTitleEnabled=subTitleEnabled subTitle=subTitle}}
    <div class="bottom-divider"></div>
    <div class="row app_box app_storage">
        <div class="col-xs-12 col-sm-6 col-md-3  app_cover create_bucket_modal">
            <div class="app_inner">
                <div class="app_new ">
                    <span class="glyphicon glyphicon-plus"></span>
                    <p>
                        Create Storage
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
