
<% @products = Product.all %>


<table class="table table-condensed">

<% @products.each do |product| %>

<% if apps_item.product_id === product.id %>

<tr class="success">
 <td>
  <%= image_tag product.image_url, :size => "128x100" %>
 </td> <dd></dd>
 <td>
  <h3><%= product.name %></h3>
 </td> <dd></dd>
 <td>
  <h5><%= product.description %></h5>
 </td> <dd></dd>
 
</tr>
<% end %>


<% end %> <!-- each product -->
</table>


