<% @products = Product.all %>

<table class="table table-condensed">

	<% @products.each do |product| %>

	<% if apps_item.product_id === product.id %>

	<tr class="success">
		<td><i class="logoc_<%= product.image_url %>", id =<%= product.name%> ></i></td><dd></dd>
		<td><h3><%= product.name %></h3></td><dd></dd>
		<td><h5><%= product.description %></h5></td><dd></dd>
	</tr>
	<% end %>
	<% end %> <!-- each product -->
</table>

