//colors
$color_oslo_gray_approx: #7f8c8d;
$black_50: rgba(0, 0, 0, 0.5);
$white: #ffffff;
$color_celeste_approx: #ccc;
$black_10: rgba(0, 0, 0, 0.1);
$black_30: rgba(0, 0, 0, 0.3);
$black_13: rgba(0, 0, 0, 0.13);
$black_12: rgba(0, 0, 0, 0.12);
$color_studio_90_approx: rgba(142, 68, 173, 0.9);
$color_pickled_bluewood_approx: #2c3e50;

//@extend-elements
//original selectors
//.rangeSlider, .rangeSlider__fill
%extend_1 {
	background: $color_oslo_gray_approx;
	display: block;
	height: 8px;
	width: 100%;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 1px 3px $black_50;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
}


.rangeSlider {
	@extend %extend_1;
	position: relative;
}
.rangeSlider__fill {
	@extend %extend_1;
	background: $white;
	position: absolute;
	top: 0;
	z-index: 2;
}
.rangeSlider--disabled {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity: 0.4;
}
.rangeSlider__handle {
	background: $white;
	border: 1px solid $color_celeste_approx;
	cursor: pointer;
	display: inline-block;
	width: 22px;
	height: 21px;
	position: absolute;
	top: -7px;
	z-index: 3;
	background-image: linear-gradient(rgba(255, 255, 255, 0), $black_10);
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 4px $black_30;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	&:after {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient($black_13, rgba(255, 255, 255, 0));
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
	}
	&:active {
		background-image: linear-gradient($black_10, $black_12);
		outline: none;
	}
}
.rangeSlider__buffer {
	z-index: 1;
	position: absolute;
	top: 2px;
	height: 4px;
	background: $color_pickled_bluewood_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
}
input[type="range"]:focus + .rangeSlider .rangeSlider__handle {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 8px $color_studio_90_approx;
}