$blue-color: #549dd6;

/*****************************/
/* Top Line */
/*****************************/

.tabs-style-topline {
	max-width: 1200px;
}

.tabs-style-topline nav li {
	border: 1px solid rgba(40,44,42,0.1);
}

.tabs-style-topline nav li:not(:last-child) {
	border-right: none;
}

.tabs-style-topline nav li.tab-current {
	border-top-color: $blue-color;
	border-bottom: none;
}

.tabs-style-topline nav a {
	padding: 0.65em 0 0.5em;
	background: rgba(40,44,42,0.05);
	color: #b1b1b1;
	line-height: 1;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.tabs-style-topline nav li.tab-current a {
	background: none;
	box-shadow: inset 0 3px 0 $blue-color;
	color: $blue-color !important;
}

.tabs-style-topline nav a:hover,
.tabs-style-topline nav a:focus {
	text-decoration: none;
}

.tabs-style-topline .icon::before {
	display: block;
	margin: 0;
}

.tabs-style-topline nav a span {
	font-weight: 400;
	font-size: 0.5em;
}
