<input type="hidden" value="pkts_out" ng-model="xaxis_label">
<div class="row">
<div class="col-xs-12 col-sm-8">
						<div class="row">
							<ul class="pagination">
								<li class="active">
									<a href="#">Last</a>
								</li>
								<li >
									<a href="#" ng-click="update_widget_range('hour', widget)">hour</a>
								</li>
								<li>
									<a href="#" ng-click="update_widget_range('2hr', widget)">2hr</a>
								</li>
								<li>
									<a href="#" ng-click="update_widget_range('4hr', widget)">4hr</a>
								</li>
								<li>
									<a href="#" ng-click="update_widget_range('day', widget)">day</a>
								</li>
								<li>
									<a href="#" ng-click="update_widget_range('week', widget)">week</a>
								</li>
								<li>
									<a href="#" ng-click="update_widget_range('month', widget)">month</a>
								</li>
							</ul>
						</div>
						
						<div class="row">
							<div id="networks_graph_packets"></div>
						</div>
						
						<div class="row">
							<div id="networks_graph_pkts_out"></div>
						</div>
						
						<div class="row">
							<div id="networks_graph_pkts_in"></div>
						</div>
						
						<div class="row">
							<div id="networks_graph_bytes_in"></div>
						</div>
						
						<div class="row">
							<div id="networks_graph_bytes_out"></div>
						</div>
						
						<br />
						

						<!-- TODO_TOM -->
					</div>
					</div>
