<span class="app_left_name"><%= t('marketplace.launch_description') %></span>
<P class="model-description">
  <%= @launch_item.description %>
  <a href="<%= SiteSetting.faq_url %>" target="_blank">
    <%= t('marketplace.view_docs') %></a>
</p>
