<div class="row">
  <div class="col-xs-12">
    <h4><%= t('launch.compute_setting') %></h4>
    <div class="form-group">
      <%= select_tag "compute_setting", options_for_select(SiteSetting.favourize_for_cs_items), :class =>"form-control" %>
    </div>
  </div>
</div>
<br/>
