
<h4><%= t('marketplace.image_name') %></h4>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= text_field_tag 'source', nil, placeholder: t('marketplace.image_name_placeholder'), :class =>"form-control", :required => true %>
    </div>
  </div>
  <%= hidden_field_tag 'type', nil, placeholder: "DockerHub", :class =>"form-control", :value => "image" %>
  <%= hidden_field_tag 'scm_name', nil, placeholder: 'DockerHub', :class =>"form-control", :value => "https://hub.docker.com" %>
</div>
