<div class="row">
  <div class="col-xs-12">
    <h4><%= t('marketplace.ram') %></h4>
    <div class="form-group">
      <%= select_tag "ram", options_for_select(SiteSetting.favourize_for_vm_items), :class =>"form-control" %>
    </div>
  </div>
</div>
<br/>
