// Support for app launches

.circle_red, .circle-stopped, .circle-nuked, .circle-error, .circle-cookbook_failure, .circle-authkeys_failure, .circle-ips_failure, .circle-container_network_failure, .circle-servicestopped {
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ff6e2e;
    float: left;
    margin-top: 4px;
}
.mar_l10 {
  margin-left: 10px;
}

.circle_green, .circle-launched, .circle-running, .circle-started, .circle-upgraded, .circle-stateup_started,
.circle-snapshotted, .circle-vnchostupdated, .circle-dnscnamecreated, .circle-gitcloned, .circle-chefsolofinished,
.circle-cookbook_downloaded, .circle-authkeys_updated, .circle-authkeys_updated, .circle-ips_updated, .circle-container_network_success {
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #6fde86;
    float: left;
    margin-top: 4px;
}

.circle_yellow, .circle-destroying, .circle-stopping, .circle-starting, .circle-stateup_starting, .circle-bootstrapping, .circle-launching, .circle-restarting,
.circle-snapshotting, .circle-vnchostupdating, .circle-dnscnamecreating, .circle-gitcloning, .circle-chefsolostarting, .circle-buildstarting, .circle-servicestarting,
.circle-cookbook_downloading, .circle-authkeys_updating, .circle-ips_updating, .circle-chefconfigsetup_starting, .circle-chefconfigsetup_started {
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f1c40f;
    float: left;
    margin-top: 4px;
}
.app {
  height: 300px;
  width: 100%;
}

.control-label, .app_body {
  font-style: normal;
}

.app_inner {
  text-align: -webkit-center;
}
.app_inner {
  text-align: -webkit-center;
}
.app_header-title {
  font-style: normal;
  padding-top: 18px;
  margin-left: 25px;
}

.app_version {
  margin-top: 25px;
}
.app_version .control-label {
  font-family: proxima_nova_bold;
  color: #8d8f99;
}
.app_version .close {
  margin-top: 9px !important;
}
.app_body .body_left {
  padding: 30px;
}
.app_body .body_right {
  padding: 30px;
  border-left: 1px solid #e8e8e8;
}
.app_body {
  padding-top: 0px;
  padding-bottom: 0px;
}
.app_left_name {
  font-size: 16px;
  color: #70a5d5;
  font-family: proxima_nova_rg;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.app_left_desc {
  padding-top: 15px;
  padding-bottom: 15px;
}
.app_left_desc span a {
  color: #70a5d5;
  border-bottom: 1px solid #70a5d5;
}
.app_left_desc a:hover {
  text-decoration: none;
}
.app_left_desc .form-control {
  height: 45px !important;
  border-radius: 3px;
}

.app_icon {
  text-align: center;
  padding-top: 50px;
}
.app_icon h5 {
  margin: 3px;
  color: #a4a6b8;
}
.app_icon a {
  color: #4f9de6;
}
.app_icon_bottom {
  /*padding-top: 43px;*/
  margin-top: 10px;
}

.app_head {
  height: 150px;
}
.app_footer {
  height: 40px;
  padding: 12px 5px;
  /*margin-top: 5px;*/
  border-top: 1px solid #e5e6ef;
}

.app_footer i, .app_footer span {
  margin-right: 5px;
  margin-left: 5px;
}

.app_footerstrg {
  height: 45px;
  padding: 12px 5px;
  /*margin-top: 5px;*/
  border-top: 1px solid #e5e6ef;
}
.app_footer_padding {
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    /*margin-top: 5px;*/
    border-top: 1px solid #e5e6ef;
    span {
      margin-left: 10px;
    }
  }

.app_config {
  padding: 5px 10px;
  margin-right: 16px;
  /*background-color: #f4f4f5;*/
  z-index: 100;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  right: 0;
}

.app_cover {
   /*border: 10px solid #fff;
    margin: 10px;*/
  margin-bottom: 10px;
}
.app_inner {
  /*min-height: 250px;*/
  border: 1px solid #e5e6ef;
  color: #c4c6d9;
}
.app_inner:hover {
  border-color: #4e9de6;
  transition: all 1s ease 0.1s;
  background: #e5f2fe;
  cursor: pointer;
}
.app_new {
  height: 160px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  background-color: #f5f5f5;
  padding-top: 40px;
  &.padding {
    padding-top: 40px;
  }
  &.no-pad {
    padding-top: 0px;
  }
}
.app_new span {
  font-size: 36px;
}
.app_new p {
  /*line-height: 70px;*/
  font-weight: bold;
  padding-top: 20px;
}
.app_new:hover {
  color: #4f9de6;
}
.app_box {
  margin-right: -30px;
  margin-left: -30px;
  margin-top: 15px;
  padding-bottom: 30px;
}
.app_box_grid {
  /*margin-right: -30px;*/
  margin-left: -30px;
  margin-top: 15px;
  padding-bottom: 50px;
}


.config_menu {
  display: none;
  position: absolute;
  background-color: #f4f4f5;
  right: 16px;
  top: 30px;
  border: 1px solid #e5e6ef;
  z-index: 10;
}
.config_menu ul {
  width: 130px;
  /*padding: 5px 0px 0px 10px ;*/
  margin-bottom: 0px;
  padding: 0px;
}
.config_menu li {
  list-style: none;
  border-bottom: 1px solid #e5e6ef;
  padding: 5px 0px 5px 0px;
  text-align: left;
  margin-left: 15px;
}
.config_menu li a {
  text-decoration: none;
  color: #c4c6d9;
}
.config_menu li i {
  padding-left: 5px;
  padding-right: 5px;
}
.config_acive {
  background-color: #f4f4f5;
  border-top: 1px solid #e5e6ef;
  border-left: 1px solid #e5e6ef;
  border-right: 1px solid #e5e6ef;
}

/* Megam change for app */
.img-responsive_byoc {
  /*display: block; */
  height: 70px;
  max-width: 70px !important;
}
