.margin-top-10 {
    margin-top: 10px !important;
}

.tab-pane > p:last-child {
    margin-bottom: 0;
}


.c_tab-content {
  padding-top: 35px !important;
  color: #989aab;
}

.cloud_signup_save h5 {
  line-height: 30px;
  border-bottom: 1px solid #e5e6ef;
  margin-right: 35px;
  margin-top: 45px;
}
.cloud_signup_save .input-group-addon {
  background-color: #fff !important;
  border: none !important;
}
.cloud_signup_save .input-group input {
}
