<h3><span class="label label-inverse"><%= @cloud_tool_setting.cloud_type %></span></h3>
<table class="table table-bordered">
	<tbody>
		<tr>
			<td>Provisioner type</td>
			<td><b><%= @cloud_tool_setting.cloud_type %></b></td>
		</tr>
		<tr>
			<td>Using repository</td>
			<td><b><%= @cloud_tool_setting.repo %></b></td>
		</tr>					
	</tbody>
</table>