<div class="container-fluid main-cover">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-2 col-xl-1 c_bg_white">
      <div class="row">
        <div class="page-sidebar navbar-collapse collapse">
          {{outlet "navigation-bar"}}
        </div>
      </div>
    </div>
    <div id="list-container">
      {{outlet "list-container"}}
    </div>
  </div>
</div>
