<!--
** Copyright [2013-2016] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<!-- BEGIN HEADER -->
<div class="header navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="header-inner">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
          <!-- BEGIN LOGO -->
          <a class="navbar-brand" href='/'>

            <!-- END LOGO -->
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 col-lg-offset-6 col-md-offset-6 col-sm-offset-6">
          <div class="row">
            <!-- <div class="col-xs-4 col-sm-1"> -->
            <ul class="nav navbar-nav pull-right">
              <li id="marketplace_top_right">

              </li>

              <li class="dropdown" id="header_notification_bar">
              <a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#"> <i class="c_glob header_user_profile"></i> </a>
              <ul class="dropdown-menu extended notification">
                <ul class="dropdown-menu-list scroller">
                  <li>
                  </li>
                  <li>
                  </li>
                </ul>
              </ul>
            </li>
          </ul>
          <!-- BEGIN RESPONSIVE MENU TOGGLER -->
          <a class="navbar-toggle collapsed pull-right" data-target=".navbar-collapse" data-toggle="collapse" href="javascript:;"></a>
          <!-- END RESPONSIVE MENU TOGGLER -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
