// Place all the styles related to the cloud_books_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//#node_names {
 //   background-color: transparent;
 //   border: none;
 //   color: #3B5998;
 //   font: 85% "Arial",Verdana,sans-serif;  
//}

.log_info {
  color:blue;
}

.log_error {
  color:red;
}

.log_warn {
  color:yellow;
}

