// Place all the styles related to the cloud_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full_text input[type="text"]{
  border-color: #DBDBDB #EAEAEA #EAEAEA #DBDBDB;
    border-left: 1px solid #DBDBDB;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    height: 30px;
    margin-bottom: 16px;
    width: 98%;
}

.full_text {
  width:100%
}
