// Place all the styles related to the cloud_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "icheck/line/_all";