// Place all the styles related to the cloud_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[class^="logo_"], [class*="logo_"] {
  background-image: url('platformapp_sprites.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 101px;
  width: 147px;
}

.logo_rabbitmq{
  background-position: 0 0;
  width: 170px;
  height: 101px;
}

.logo_redis{
  background-position: -173px 0;
  width: 147px;
  height: 101px;
}

.logo_nodejs{
  background-position: -323px 0;
  width: 192px;
  height: 101px;
}

.logo_chef{
  background-position: 0 -104px ;
  width: 147px;
  height: 101px;
}

.logo_riak{
  background-position: -150px -104px ;
  width: 147px;
  height: 101px;
}

.logo_ganglia{
  background-position: -300px -104px ;
  width: 147px;
  height: 101px;
}

.logo_logstash{
  background-position: 0 -210px ;
  width: 147px;
  height: 101px;
}

.logo_postgresql{
  background-position: -150px -210px ;
  width: 147px;
  height: 101px;
}

.logo_akka{
  background-position: -302px -209px ;
  width: 147px;
  height: 101px;
}

.logo_java{
  background-position: 0 -315px ;
  width: 147px;
  height: 101px;
}

.logo_rails{
  background-position: -150px -315px ;
  width: 147px;
  height: 101px;
}

.logo_scala{
  background-position: -1px -420px ;
  width: 147px;
  height: 101px;
}

.logo_play{
  background-position: -300px -313px ;
  width: 147px;
  height: 101px;
}




.selected {
    background-color: #ccc;
}




#scalebooks {
  border: 1px solid #CCC;
  background: rgba(214, 219, 222, .25);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFF;
    padding: 0;
}

.overflow {
  overflow: auto;
  height: 125px;
  display: block;
}

#scalabooks td, #calculator th {
  text-align: center;
  vertical-align: middle;
}

#scalebooks th {
  border-top: none;
}

#scalabooks td a {
  background: none;
    border: 1px solid transparent;
    border-radius: 23px 23px 23px 23px;
    color: linkColor;
    font-weight: 100;
    opacity: 0.5;
    text-align: center;
  padding: 5px 8px;
  width: 20px;
  color: #333;
}

#scalebooks td a:hover {
  opacity: 1;
  border: 1px solid #CCC;
  text-decoration: none;
}

.overlay {
  display: none;
  border-radius: 3px;
  margin-left: -5px;
  margin-top: -5px;
  padding: 26px 56px;
    position: absolute;
    text-align: center;
  color: #222;
  font-size: 18px;
  border: 1px solid transparent;
}

.large_text_field {
 width: 50%;
}

.books_total {
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
}

.selected_platformapp {
    font-size: 30px;
  border-left: 5px solid #CCC;
}


.cb_box {  
background:#FFFFFF ; 
height: 150px; 
border:2px solid #CCC;
margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}
//.cb_box h4 {background:#660033; color: #FFFFFF ; padding:10px;} #8B7355 #00EEEE #556B2F #EEC900 #8B7500 FF0099 #99CC66 #8B7E66 CCFFBB 66FFFF C7C7C7 C7B200 CC66CC
//background-image: -moz-radial-gradient(center, ellipse closest-corner, #999966 0%, #FFFFFF 100%);
//background-image: -moz-radial-gradient(center, ellipse closest-side, #FF33CC 0%, #FFFFFF 100%);
//background-image: -moz-radial-gradient(center, ellipse closest-side, #63A8F7 0%, #19780B 100%);
//ROSE = > background-image: -moz-radial-gradient(center, ellipse closest-side, #FF33CC 0%, #FFFFFF 100%);
.cb_box h4 {color: #000000 ; padding:10px;}
.cb_box p {padding:10px;}

.cb_box {
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
