#folders {
	border-bottom: 1px solid;
	border-color: #BDBDBD;
	display: inline;
	padding-bottom: 20px;
}

.div2 {
	width: 800px;
	height: 150px;
	margin: 0 auto;
	padding-top: 30px;
	border: 1px solid #BDBDBD;
	border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
}

.div2 a {
	color: #07C;	
}

.div2 li {
	padding-top: 6px;
	padding-bottom: 6px;
}
.floatLeft {
	float: left;
}

﻿
#mcts1 {
	width: 700px;
	height: 30px;
	margin: 0 auto;
	padding: 36px 20px;
	border: 1px solid #BDBDBD;
	background: #f2f1ea url(loading.gif) no-repeat 50% 50%;
	box-shadow: 0px 1px 11px #CCCCCC;
	/* Do not alter the below settings */
	white-space: nowrap;
	position: relative;
	font-size: 0px;
}

/*-------- div.item is each thumbnail's wrapper created by the javascript ------*/
#mcts1 div.item {
	padding: 2px;
	margin-right: 6px; /* this specifies the distance between each thumbnail */
	background-color: White;
	border: 1px solid #ddd;
	text-align: center;
	position: relative;
}

#mcts1 img {
	border: none;		
}


/*---------built-in navigation buttons-------*/
#mcts1 .navPrev, #mcts1 .navNext, #mcts1 .navPlay, #mcts1 .navPause {
	width: 16px;
	height: 22px;
	position: absolute;
	background: url(navbuttons.png);
	display: inline-block;
	z-index: 5;
	cursor: pointer;
}
#mcts1 .navPrev {
	background-position: 0 -22px;
	top: 60px;
	left: -40px;
}
#mcts1 .navPrev:hover {
	background-position: 0 -44px;
}
#mcts1 .navPrevDisabled, #mcts1 .navPrevDisabled:hover {
	background-position: 0 0;
	cursor: default;
}

#mcts1 .navNext {
	background-position: -16px -22px;
	top: 60px;
	right: -40px;
}
#mcts1 .navNext:hover {
	background-position: -16px -44px;
}
#mcts1 .navNextDisabled, #mcts1 .navNextDisabled:hover {
	background-position: -16px 0;
	cursor: default;
}

#mcts1 .navPause, #mcts1 .navPlay {
	left: 360px;
	top: 130px;
}
#mcts1 .navPause {
	background-position: 0 -66px;
}
#mcts1 .navPause:hover {
	background-position: 0 -88px;
}
#mcts1 .navPlay {
	background-position: -16px -66px;
}
#mcts1 .navPlay:hover {
	background-position: -16px -88px;
}

.navPrev, .navPlay, .navPause, .navNext {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/*---------built-in navigation bullets--------*/
/* Note: the navBullets won't be available when "scrollByEachThumb" was set to false in the Javascript.*/
#mcts1 .navBullets {
	display: none;
}

/*--------- class1 that is for the slide with HTML content------------*/
.class1 {
	width: 130px;
	height: 80px;
	background: #444;
	text-align: center;
	color: White;
	font: normal 11px/14px Arial;
	white-space: normal;
}
.class1 p {
	margin-top: 0;
	margin-bottom: 6px;
	padding-top: 6px;
	font: bold 13px Verdana;
	color: #F90;
}

/* --------- Others ------- */
#mcts1 {
	transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}


﻿/*Tooltip component by www.menucool.com */

/*For tooltip target element that has set class="tooltip" */
.tooltip {text-decoration: none; border-bottom:1px dotted #36c;color: #36c; outline: none; }

/*For tooltip box*/
div#mcTooltip 
{
    line-height:16px;
    border-width: 2px;   
    color:#333; 
    border-color:#D1C7B1;
    padding:20px;
    font-size: 12px;
    font-family: Verdana, Arial;
    border-radius:9px; /*Rounded corners. N/A for IE 8 and below.*/
    box-shadow: 0 1px 11px #CCC; /*Drop shadow. N/A for IE 8 and below.*/
}

div#mcTooltip, div.mcTooltipInner 
{
    background-color:#EFEEE7;
}

/* For hyperlink within tooltip */
div#mcTooltip a { color:#36c; }

/*Close button. Available when sticky or overlay has been set to true, or is on iPhone, iPad, Android, BlackBerry, or IEMobile devices. */
div#mcttCloseButton 
{
    width:14px;height:14px;position:absolute;background-image:url(closeBtn.gif);cursor:pointer; overflow:hidden;
    top:12px; right:12px; left:auto;
}            

/* Only applies when overlay has been set to true or 1 */
div#mcOverlay 
{
    background-color: white;
    opacity:0.8; filter: alpha(opacity=80); 
    display:none;top:0;left:0;width:100%;height: 100%;overflow:visible;z-index:4; 
}

/*Only available when calling by tooltip.ajax(...). It will be a spinning image indicating a request is in progress.*/
div#tooltipAjaxSpin {margin:20px 50px; background:transparent url(loading.gif) no-repeat center center; width:50px; height:30px; font-size:0;}

/*The settings below should remain unchanged*/
div#mcTooltipWrapper {position:absolute;visibility:hidden;overflow:visible;z-index:9999999999;top:0px;}
div#mcTooltip {float:left;border-style:solid;position:relative;overflow:hidden;}
div.mcTooltipInner {float:left;position:relative;width:auto;height:auto;}
div#mcttCo {position:absolute;text-align:left;}
div#mcttCo em, div#mcttCo b {display:block; width:0; height:0;overflow:hidden;}
