.flexslider #slider-image {
	width: 128px;  
	height: 128px;
}

[class^="logoc_"], [class*="logoc_"] {
  background-image: url('cloudconnectors_sprites.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 101px;
  width: 147px;
}

.logoc_salesforce{
	background-position: 0 0;
	width: 128px;
	height: 128px;
}

.logoc_zohocrm{
	background-position: -135px 0;
	width: 128px;
	height: 128px;
}

.logoc_sugarcrm{
	background-position: -135px -135px ;
	width: 128px;
	height: 128px;
}

.logoc_dropbox{
	background-position: 0 -135px ;
	width: 128px;
	height: 128px;
}

.logoc_box{
	background-position: -270px 0;
	width: 128px;
	height: 128px;
}

.logoc_twilio{
	background-position: -271px -135px ;
	width: 128px;
	height: 128px;
}

.logoc_xero{
	background-position: 0 -270px ;
	width: 128px;
	height: 128px;
}

.logoc_googleapp{
	background-position: -135px -270px ;
	width: 127px;
	height: 123px;
}