.div_border {
	border-bottom-style:solid; 
	border-color:#999933;
}

[class^="logor_"], [class*="logor_"] {
  background-image: url('cross_clouds_sprites.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.logor_aws{
	background-position: -49px -157px ;
	width: 105px;
	height: 124px;
}

.logor_gce{
	background-position: -215px -174px ;
	width: 90px;
	height: 92px;
}

.logor_hp{
	background-position: -370px -173px ;
	width: 105px;
	height: 102px;
}

.logor_artisan{
	background-position: -37px -37px ;
	width: 100px;
	height: 100px;
}

.logor_podnix{
	background-position: -215px -33px ;
	width: 100px;
	height: 100px;
}

.logor_profitbricks{
	background-position: -386px -41px ;
	width: 78px;
	height: 100px;
}

