.underlineolivegreen {
	border-bottom-style: solid;
	border-color: #999933;
}

div.rule {
	height: 6px;
	background: #f18a20;
	position: relative;
	margin: 0px 0px 20px -8px;
	z-index: 1
}
div.rule:before {
	content: '';
	position: absolute;
	border-top: 6px solid #fff;
	border-right: 6px solid #f18a20;
	width: 0
}
div.rule:after {
	content: '';
	position: absolute;
	left: 100%;
	border-bottom: 6px solid #fff;
	border-left: 6px solid #f18a20;
	width: 0
}

[class^="logor_"], [class*="logor_"] {
	background-image: url('cross_clouds_sprites.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	width: 120px;
}

.logor_artisan{
	background-position: -306px -184px ;
	width: 100px;
	height: 100px;
}

.logor_aws{
	background-position: -468px -33px ;
	width: 100px;
	height: 119px;
}

.logor_gce{
	background-position: -168px -190px ;
	width: 100px;
	height: 99px;
}

.logor_gogrid{
	background-position: -303px -52px ;
	width: 108px;
	height: 100px;
}

.logor_hp{
	background-position: -12px -193px ;
	width: 100px;
	height: 100px;
}

.logor_openqrm{
	background-position: -166px -42px ;
	width: 100px;
	height: 100px;
}

.logor_podnix{
	background-position: -20px -38px ;
	width: 100px;
	height: 100px;
}

.logor_profitbricks{
	background-position: -453px -182px ;
	width: 100px;
	height: 128px;
}
