
.current a {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 2px solid #3498db;
  border-bottom: 0;
  color: #333;

}

.bdown {

  padding-top: 15px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h3{font-weight: normal;}
select.form-control
{
    border-radius:2px !important;
}
input
{
    border-radius: 3px !important;
}
a:hover
{
    color: #4e9de6 !important;
}
.c_bg_grey
{
    background-color: #f5f5f5;
}
.bg_white
{
    background-color: #fff;
}
.white
{
    color: #fff;
}
.c_bg_white
{
    background-color: #fff;
}
.c_height_5
{
    min-height: 500px;
}
.c_height_2
{
    min-height: 200px;
}
.c_pading-b15
{
    padding-bottom: 15px;
}
.colr-bluegrey
{
    color: #a2a5b8;
}
.colr-denimblue
{
    color: #6dabe5;
}
.pad_rt-9
{
    padding-right: 95px;
}
.pad_0
{
    padding: 0px;
}
.pad_t25
{
    padding-top: 23px !important;
}
.pad_tb25
{
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.login
{
  background-color: #edeef5 !important;
}
.login .outer
{
    /*margin-bottom: 200px;*/
    /*background-color: #fff;*/
    padding-bottom: 20px;
}
.bottom_border_grey
{
    border-bottom: 1px solid #e5e6ef;
    padding-bottom: 10px;
}
.border_grey
{
    border: 2px solid #e5e6ef;
}
.login .logo {
  margin: 0 auto;
  /*margin-top:60px;*/
  padding: 50px;
  text-align: center;
}

.btn-plain
{
    background-color: #fff;
    border: 2px solid #4e9de6 !important;
    color: #c6c8d4;
    width: 100%;

}
.btn-plain:hover
{
    background-color: #4e9de6 !important;
    color: #fff;
}

.btn-plain-green
{
    background-color: #fff;
    border: 2px solid #6fde86 !important;
    color: #8ddc9d;
    width: 100%;
}
.btn-plain-green:hover
{
    background-color: #6fde86;
    color: #fff;
}
.tour-btn
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.login-social
{
    font-size: 18px;
    /*text-align: center;*/
    color: #a2a5b8;
    padding: 25px;
}
.social li
{
    padding: 5px;
}
@font-face {
    font-family: 'proxima_nova_rg';
    src: url('proximanova-regular-webfont.eot');
    src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_light';
    src: url('proximanova-light-webfont.eot');
    src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-light-webfont.woff') format('woff'),
         url('proximanova-light-webfont.ttf') format('truetype'),
         url('proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_bold';
    src: url('proximanova-bold-webfont.eot');
    src: url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-bold-webfont.woff') format('woff'),
         url('proximanova-bold-webfont.ttf') format('truetype'),
         url('proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ElegantIcons';
    src:url('ElegantIcons.eot');
    src:url('ElegantIcons.eot?#iefix') format('embedded-opentype'),
        url('ElegantIcons.woff') format('woff'),
        url('ElegantIcons.ttf') format('truetype'),
        url('ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: proxima_nova_light !important;
}
.login h2
{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #8d8f99;
}
.bottom-divider
{
    border-bottom: 1px solid #e5e6ef;
}
.login .outer
{
    /*float: none;
    margin: auto;*/
    /*padding: 20px;*/
}
.login .cover, .cover
{
    /*padding-left: 70px;
    padding-right: 70px;*/
    /*margin-top: 70px;*/
}
.login .c_inline
{
    /*margin-top: 0px;
    margin-bottom: 0px;*/
}
.login .footer
{
    margin-top: 30px;
}
.signin .footer
{
    margin-top: 0px;
}
.login .footer p, .signin .footer span
{
    font-size: 16px;
}
.login .footer p a
{
    padding-right: 20px;
}
.login .tooltip-arrow
{
    /*min-width: 200px;*/
    border-right-color: #ed8f8f !important;
}
.login .tooltip-inner
{
    background-color: #ffb8b8;
    min-width: 200px;
    /*height: 50px;*/
    border: 2px solid #ed8f8f;
    color: #f56b6b;
    font-size: 14px;
    background-image: url(ico-triangle-warning.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    /*background-position-y: 10px;*/
    padding: 14px;
}
.login .footer-bottom
{
    padding-top: 20px;
}
.login .footer-bottom p
{
    font-size: 12px;
    color: #a2a5b8;
}

.login form
{
    padding-top: 20px;
}
.c_inline input, .form-group
{
    /*margin-top: 15px;*/
    margin-bottom: 25px;
}
.signin .c_inline input, .signin .form-group
{
    /*margin-top: 15px;*/
    margin-bottom: 15px;
}
.signin .footer
{
    padding-bottom: 30px;
    padding-top: 0px;
}
.login input
{
    border-radius: 3px;
    font-size: 16px;
}
.loginhre
{
    margin-right: -20px;
}
.c_ico-excla
{
    background-image: url(ico-exclamation.png);
    padding: 14px;
    height: 16px;
    clear: both;
    /* padding: 10px; */
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    margin: 20px;
}
.c_ico-tick
{
    background-image: url(ico-tick.png);
    padding: 14px;
    height: 16px;
    clear: both;
    /* padding: 10px; */
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    margin: 20px;
}
.c_ico-arrow-down {
background-image: url(ico-arrow_down.png);
padding: 14px;
height: 16px;
clear: both;
/* padding: 10px; */
background-repeat: no-repeat;
position: absolute;
left: 0px;
margin: 20px 56px;
background-color: white;
}
.c_select
{
    height: 100%;
    -moz-padding: 20px;
    /*-webkit-padding: 0px;*/

}
.c_input-group-addon
{
    padding:0px;
}
.sign_up_small
{
    font-size: 14px;
    float: right;
    padding-top: 10px;
}

.icon {
  /*Hide text*/
  color: transparent;
  overflow:hidden;

  display:inline-block;
  height: 4em;
  width: 4em;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  /*border-radius: 50%;*/
  background-color: #eeeeee;
  /*opacity:0.5;*/
  transition: all .25s ease-in-out;
}

.icon:hover, .icon:focus {
  transform: scale(1.1);
  box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.25),
              inset 0em 0em 0em rgba(0,0,0,0.25);
  opacity:1;
}

.icon:active, .icon:target {
  transform: scale(0.9);

  box-shadow: 0em 0em 0em rgba(0,0,0,0.25),
              inset 0.1em 0.1em 0.1em rgba(0,0,0,0.25);
}

.twitter {
  background-image:url(twitter.png);
  background-color:#00ACED;
}

.facebook {
  background-image: url(facebook.png);
  background-color:#3B579D;
}

.google {
  background-image:url(gplus.png);
  background-color:#DF4A32;
}

.linkedin {
  background-color:#006699;background-image:url(linkedin.png);
}

.github {
  background-image:url(gh.png);
  background-color:white;/*#4183C4*/
}

.cover
{
    /*border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;*/
}
.c_icon-angle-down
{
    line-height: 25px !important;
    font-size: 28px !important;
    color: #D5D7E3 !important;
}
.c_user_dd a i
{
    color: #D5D7E3 !important;
}
.c_icon
{
    color: transparent;
  overflow:hidden;

  display:inline-block;
  height: 32px;
  width: 32px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  /*border-radius: 50%;*/
  vertical-align: middle;
}
.c-iocn-window-lg
{
    background-image:url(icon-window-lg-sel.png);
}
.c_icon-dash
{
    background-image:url(icon-dashboard.png);
}

.c_icon-browser
{
    background-image:url(icon-browser.png);
}

.c_icon-layer
{
    background-image:url(icon-layer.png);
}

.c_icon-stack
{
    background-image:url(icon-stack_file.png);
}

.c_icon-settings
{
    background-image:url(icon-settings.png);
}

.c_icon-rocket
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 21px;
    width: 21px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-rocket.png);
    margin-left: 10px;
    margin-right: 10px;
}
.c_icon-grid-hover
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-grid-hover.png);
}
.c_icon-grid-25
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-grid.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}
.c_icon-plus
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 35px;
    width: 33px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-plus.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.c_icon-star
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 17px;
    width: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-star.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.c_icon-window
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-window.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.c_icon-window-lg-sel
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-window-lg.png);
    margin-left: 5px;
    margin-right: 5px;
}
.c_icon-form
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-form.png);
    margin-left: 5px;
    margin-right: 5px;
}
.c_icon-window-lg
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-window-lg-sel.png);
    margin-left: 5px;
    margin-right: 5px;
}

.c_icon-layer_lg
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 32px;
    width: 33px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-layer.png);
    /*margin-left: 10px;*/
    margin-right: 10px;
}

.c_icon-config
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon_config.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

/*.c_icon-user
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 23px;
    width: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image:url(icon_user.png);
    margin-bottom: 15px !important;
}*/
.icon-user
{
    font-size: 26px !important;
    color: #d5d7e3;
    padding-top: 16px;
}

.c_icon-compose
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-compose.png);
    margin-bottom: 3px !important;
    margin-right: 5px;
}
.c_icon-import
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-import.png);
    margin-bottom: 3px !important;
    margin-right: 5px;
}

.c_icon-calendar
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 22px;
    width: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-calendar.png);
    margin-bottom: 3px !important;
    margin-right: 5px;
}

.c_icon-sett
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 19px;
    width: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-sett.png);
    margin-bottom: 3px !important;
    margin-right: 5px;
}

.c_icon-in
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-in.png);
    margin-bottom: 3px !important;
    margin-right: 5px;
}

.c_icon-inBlue
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-in-blue.png);
    margin-bottom: 3px !important;
    margin-right: 5px;
}
.c_icon-grid
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(grid.png);
    /*margin-left: 10px;*/
    margin-right: 10px;
}
.c_icon-list
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(list.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}
.c_icon-trash
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 24px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(c_icon-trash.png);
}
.c_icon-d
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(c_icon-d.png);
}
.c_icon-list:hover
{
    background-image:url(list-hover.png);

}
.c_icon-grid:hover
{
    background-image:url(grid-hover.png);

}
.title
{
    font-size: 18px;
    /*font-weight: bold;*/
    /*padding-left: 15px;*/
    /*padding-top: 5px;*/
    /*display: inline !important;*/
}
.header
{
    background-color: #f5f5f5;
}

.page-sidebar-menu a
{

}
.rt-box
{
    /*border-left: 1px solid #e6e6e6;*/
    padding-top: 80px;
    min-height: 800px;
}
.main-cover
{
    border: 1px solid #e6e6e6;
}
.portlet-body-head
{
    font-size: 22px;
    color: #a4a6b8;
}
.portlet-body-head span
{
    font-size: 16px;
}
.progress
{
    height: 35px !important;
    border: 1px solid #e6e6e6 !important;
    padding: 1px !important;
    background-color: #fff !important;
}
.portlet
{
    color: #a4a6b8;
}
.progressbar-cover
{
    padding-bottom: 40px;
    padding-top: 40px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
.circle_red {
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ff6e2e;
    float: left;
    margin-top: 4px;
}
.circle_green {
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #6fde86;
    float: left;
    margin-top: 4px;
}
.app_footer i, .app_footer span
{
    margin-right: 5px;
    margin-left: 5px;
}
.portlet-title
{
    border: 2px solid #70b1ee;
}
.portlet-title .c_small
{
    font-size: 12px;
}
.portlet-title .c_small a
{
    border-bottom: 1px dotted;
}
.portlet-title .c_small a:hover
{
    text-decoration: none;
}

.app_cover {
    /*border: 10px solid #fff;
     margin: 10px;*/
    margin-bottom: 10px;
}
.app_inner {
    /*min-height: 250px;*/
    border: 1px solid #e5e6ef;
    color: #c4c6d9;
}
.app_inner:hover {
    border-color: #4e9de6;
    transition: all 1s ease 0.1s;
    background: #e5f2fe;
    cursor: pointer;
}
.app_new {
    height: 160px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    padding-top: 40px;
    background-color: #f5f5f5;
}
.app_new span {
    font-size: 36px;
}
.app_new p {
    /*line-height: 70px;*/
    font-weight: bold;
    padding-top: 20px;
}
.app_new:hover {
    color: #4f9de6;
}
.app_box {
    margin-right: -30px;
    margin-left: -30px;
    margin-top: 15px;
    padding-bottom: 30px;
}

.app_box_grid {
    /*margin-right: -30px;*/
    margin-left: -30px;
    margin-top: 15px;
    padding-bottom: 50px;
}
.app {
    height: 190px;
    width: 100%;/*vertical-align: middle;*/
    /*text-align: center;*/
}
.app_head {
    height: 150px;
}
.app_footer {
    height: 40px;
    padding: 12px 5px;
    /*margin-top: 5px;*/
    border-top: 1px solid #e5e6ef;
}
.app_footerstrg {
    height: 45px;
    padding: 12px 5px;
    /*margin-top: 5px;*/
    border-top: 1px solid #e5e6ef;
}

.app_config
{
    padding: 5px 10px;
    margin-right: 16px;
    /*background-color: #f4f4f5;*/
    z-index: 100;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
    right: 0;

}
.config_menu
{
    display: none;
    position: absolute;
    background-color: #f4f4f5;
    right: 16px;
    top: 30px;
    border: 1px solid #e5e6ef;
    z-index: 10;
}
.config_menu ul
{
    width: 130px;
    /*padding: 5px 0px 0px 10px ;*/
    margin-bottom: 0px;
    padding: 0px;
}
.config_menu li
{
    list-style: none;
    border-bottom: 1px solid #e5e6ef;
    padding: 5px 0px 5px 0px;
    text-align: left;
    margin-left: 15px;
}
.config_menu li a
{
    text-decoration: none;
    color: #c4c6d9;
}
.config_menu li i
{
    padding-left: 5px;
    padding-right: 5px;
}
.config_acive
{
    background-color: #f4f4f5;
    border-top:1px solid #e5e6ef;
    border-left:1px solid #e5e6ef;
    border-right:1px solid #e5e6ef;
}
.list-grid span
{
    font-size: x-large;
    color: #408ed6;
    padding-top: 5px;
}
.app_icon
{
    text-align: center;
    padding-top: 50px;
}
.app_icon h5
{
    margin: 3px;
    color: #a4a6b8;
}
.app_icon a
{
    color: #4f9de6;
}
.app_icon_bottom
{
    /*padding-top: 43px;*/
    margin-top: 10px;
}
.settings_grid
{
    padding-top: 15px;
}
.settings_top
{
    border-bottom: 1px solid #e5e6ef;
    margin-bottom: 20px;
}
.tabbable-custom ul
{
    font-size: 16px;
}
.tb-settings
{
    border-bottom: 1px solid #e5e6ef;
}
.tb-settings tr
{
    height: 60px;
}
.tb-settings tr td, .tb_action_list tr td
{
    vertical-align: middle !important;
    padding-left: 0px !important;

}

.c_tab-content
{
    padding-top: 35px !important;
    color: #989aab;
}
.tb_action_list tbody tr
{
    height: 60px;
}
.tb_action_list thead th
{
    height: 40px;
}
.settings_create
{
    margin-top: 12px;
    color: #fff;
    text-decoration: underline;
}
.set_title
{
    font-family: proxima_nova_rg;
    font-size: 16px;
    /*font-weight: bold;*/
    color: #529fe7;
    text-decoration: underline;
}

.sett-public
{
    color: #6fde86;
}

.sett-private
{
    color: #7ab6ef;
}
.settings_lt_arrow
{
    margin-right: 10px;
    color: #dddfe8;
}
.c_back
{
    padding-top: 10px;
}
.c_sett_inline
{
    padding-top: 7px;
}
.c_btn_gplus
{
    border:3px solid #f46767 !important;
    font-size: 14px;
}
.c_btn_gplus:hover
{
    background-color: #f46767;
    color: #fff;
}

.c_btn_save
{
    border:3px solid #f46767 !important;
    font-size: 14px;
    width: 100px;
}
.c_btn_save:hover
{
    background-color: #f46767;
    color: #fff;
}
.c_btn_save_success
{
    border:3px solid #6fde86 !important;
    font-size: 14px;
}
.c_btn_save_success:hover
{
    background-color: #6fde86;
    color: #fff;
}

.cloud_signup_save h5
{
    line-height: 30px;
    border-bottom: 1px solid #e5e6ef;
    margin-right: 35px;
    margin-top: 45px;
}
.cloud_signup_save .input-group-addon
{
    background-color: #fff !important;
    border: none !important;
}

.cloud_signup_save .input-group input
{
    /*width: 348px;*/
    /*max-width: 90%;*/
}
#create-ssh strong a
{
    font-weight: bolder;
    text-decoration: none;
    color: #468847 !important;
}
#create-ssh .modal-header
{
    height: 70px;
}
#create-ssh .modal-header .modal-title
{
    padding: 7px !important;
    color: #8d8f99 !important;
}
.c_remove
{
    color: #4e9de6;
}
.cloud_usage
{
    line-height: 30px;
}
.tb_cloud_activity li
{
    font-size: 14px !important;
}
.c_carousel
{
    margin-top: 30px;
}
.c_carousel .prev
{
    width:5%;
    float:left;
    padding-top:50px;
    padding-bottom:50px;
}
.c_carousel .next
{
    width:5%;
    float:right;
    padding-top:50px;
    padding-bottom:50px;
}
.c_carousel .next span
{
    float: right;
}
.c_carousel .jCarouselLite
{
    width:90% !important;
    float:left;
}
.c_carousel .next:hover, .c_carousel .prev:hover
{
    cursor: pointer;
}
.c_jCarouselLite li
{
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 2px solid #dddddd;
    margin: 14px;
}
.c_cog_icon
{
    margin-top: 22px;
    /*float: right;*/
    text-align: right;
}
.c_cog_icon i
{
    color: #cacbdd;
}
.mplace
{
    margin-left: 30px;
    margin-right: 30px;
    color: #5a97cf;
}
.mplace-title
{
    color: #5a97cf;
}
.mplace-head
{
    min-height: 50px;
    background-color: #99ceff;
    border: 1px solid #70b1ee;
    color: #5a97cf !important;
    border-radius: 2px;
}
.mplace-left
{
    padding-top: 5px;
}
.mplace-middle
{
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
}
.mplace-right
{
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
}
.mplace-selected
{
    color: #8BB6DD !important;
}
.mplace-icons
{
    color: #d5d7e3;
}
.mplace-icons div span:hover, .mplace-icons div i:hover
{
    color: #8BB6DD;
}
.mplace-icons span
{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px !important;
}

.margin_15
{
    margin-left: 15px;
    margin-right: 15px;
}
.mar_r15
{
    margin-right: 15px !important;
}
.mar_l10
{
    margin-left: 10px !important;
}
.mar_r10
{
    margin-right: 10px !important;
}
.mar_l20
{
    margin-left: 20px !important;
}
.margin_30
{
    margin-right: 30px;
    margin-left: 30px;
}
.margintb_15
{
    margin-bottom: 15px;
    margin-top: 15px;
}
.margintb_30
{
    margin-bottom: 30px;
    margin-top: 30px;
}
.stpack
{
    height: 100px;
    width: 100%;
    /*vertical-align: middle;*/
    /*text-align: center;*/
    display: inline-flex;
}
.app_inner
{
    text-align: -webkit-center;
}
.app_inner
{
    text-align: -webkit-center;
}

.stpack {
    vertical-align: middle;
    display: inline;
    text-align: center;
}
.stpack img {
    margin: auto;
    display: block;
}
.brad-3
{
    border-radius: 3px;
}
.app_header-title
{
    font-style: normal;
    padding-top: 18px;
    margin-left: 25px;
}
.control-label, .app_body
{
    font-style: normal;
}
.app_version
{
    margin-top: 25px;
}
.app_version .control-label
{
    font-family: proxima_nova_bold;
    color: #8d8f99;
}
.app_version .close
{
    margin-top: 9px !important;
}
.app_body .body_left
{
    padding: 30px;
}
.app_body .body_right
{
    padding: 30px;
    border-left: 1px solid #e8e8e8;
}
.app_body
{
    padding-top: 0px;
    padding-bottom: 0px;
}
.combo-plus
{
    text-align: center;
    /*height: 100px;*/
    margin-top: 40px;
    margin-bottom: 40px;
}
.app_left_name
{
    font-size: 16px;
    color: #70a5d5;
    font-family: proxima_nova_rg;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}
.app_left_desc
{
    padding-top: 15px;
    padding-bottom: 15px;
}
.app_left_desc span a
{
    color: #70a5d5;
    border-bottom: 1px solid #70a5d5;
}
.app_left_desc a:hover
{
    text-decoration: none;
}
.app_left_desc .form-control
{
    height: 45px !important;
    border-radius: 3px;
}
.overview-top
{
    min-height: 50px;
}
.overview-route
{
    margin-top: 15px;
}
.overview-route a
{
    color: #4e9de6;
}
.overview-git
{
    margin-top: 10px;
}
.overview-git label
{
    /*float: right;*/
    margin-top: 5px;
    color: #9496a8;
    font-weight: bold;
}
.overview-top span
{
    margin-top: 5px;
    color: #9496a8;
    font-weight: bold;
}


.overview-giturl
{
    height: 25px !important;
    float: right;
    margin-left: 5px;
}
.overview-submit .btn
{
    height: 25px !important;
    padding: 4px 14px !important;
}
.overview-git input
{
    background-color: #ededed;
}
.running_app
{
    background-color: #f5f5f5;
    border: 1px solid #e5e6ef;
    /*min-height: 80px;*/
}
.app_runtime, .app_library, .app_instance
{
    min-height: 80px;
    font-size: 16px;
    vertical-align: middle;
}
.app_runtime, .app_library
{
    border-right: 1px solid #e5e6ef;
}
.app_library img
{
    margin-top: 10px;
    float: right;
}
.app_runtime
{
    padding-top: 30px;
    text-align: center;
}
.app_instance
{
    padding-top: 30px;
    text-align: center;
}
.app_library-text
{
    padding-top: 30px;
}
.running_app span
{
    color: #4e9de6;
}
.run_config
{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0px !important;
    border-right: none !important;
    border-top: none !important;
}

.app_menu
{
    right: 0px !important;
    font-size: 14px !important;
}
.app_menu li
{
    text-align: left;
}
.app_menu li a:hover
{
    color: #4e9de6;
}
.create_bind
{
    font-size: 14px;
    margin-top: 8px;
}
.create_bind li
{
    text-align: right;
}

.create_bind .active
{
    color: #4e9de6;
}
.c_modal-footer
{
    border:none;
    text-align: center;
}
.c_modal-content
{
    font-size: 18px;
}
a.btn-success:hover
{
    color: #fff !important;
}
.sett-public span, .sett-private span
{
    border-bottom: 1px dashed;
    cursor: pointer;
}
.c_glob, .user_c
{
    font-size: 22px !important;
    color: #d5d7e3;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.skey-menu
{
    top: 43px !important;
}
.skey .app_config
{
    margin-top: -7px;
}
.skey-text
{
    margin-right: 31px;
}

.footer-menu
{
    margin-top: 30px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

/*  .c_icon
    {
        height: 32px;
        width: 32px;
    }*/
    .lg-mar-r-15{
        margin-right: 15px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .title
    {
        padding-left: 15px;
    }
    .page-sidebar-menu > li > a
    {

        position: absolute !important;
    }
    .label-profile
    {
        padding-top: 23px !important;
    }
    #mp, #stor{
        padding-top: 8px;
        margin-right: 10px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .login .outer
    {
        margin-left: 20.75%;
    }
}


/* custom validation for mobile*/
/* Custom, iPhone Retina */
@media only screen and (max-width : 480px) {

    .login .tooltip
    {
        left: auto !important;
        right: -30px !important;
    }
}
@media only screen and (max-width : 768px) {


    .m10
    {
        margin: 10px;
    }
    .header .navbar-brand
    {
        margin-top: 15px !important;
    }
    .navbar-brand img{
        width: 100px;
        margin-left: 0px !important;
    }
}

.profile-actions a
{
    margin-left: 10px;
    margin-right: 10px;
}
.profile-actions a i
{
    margin-right: 5px;
}
.modal
{
/*transform: translate(0, 20%) !important;
-ms-transform: translate(0, 20%) !important; /* IE 9 */
/*-webkit-transform: translate(0, 20%) !important; /* Safari and Chrome */
}
.graph
{
    border-top: 1px solid  #e5e6ef;
    /*border-left: 1px solid  #e5e6ef;*/
    min-height: 200px;
    margin-bottom: 90px;
}
.c_nav_pills a
{
    background-color: #fff !important;
    color: #000 !important;
    padding: 10px 20px 10px 0px !important;
}
.c_nav-pills > li.active > a, .c_nav-pills > li.active > a:hover, .c_nav-pills > li.active > a:focus
.c_nav_pills li:hover, .c_nav_pills li:active, .c_nav_pills li a:focus, .c_nav_pills .active a
{
    color: #8BB6DD !important;
}
.sel-app
{
    font-size: 16px;
    text-align: right;
    line-height: 25px;
}
.inner-child
{
    margin-top: 70px;
    display: none;
    margin-left: 30px;
    font-size: 18px;
}
.inner-child li
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner-child i
{
    margin-right: 15px;
    font-size: 24px;
    color: #dddddd;
}
.inner-child a:hover, .inner-child i:hover, .inner-child li:hover
{
    text-decoration: none;
    color: #4e9de6 !important;
}
.dwn
{
    margin-bottom: 2px;
    background-image: url(portlet-collapse-icon.png);
    width: 14px;
}

.btn-menu-top{
    width: 180px;
    margin-left: 30px !important;
    text-transform: uppercase;
    text-align: inherit;
    padding-left: 45px;
    line-height: 25px;
    color: #fff !important;
}
.btn-menu-top span{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
.left-dd-top{
    position: absolute !important;
    left: 30px !important;
    width: 200px !important;
    margin-top: -25px !important;
}

.fs-28{
    font-size: 28px;
    margin-top: -5px;
}
#app-list td {
    border: none !important;
}
#app-list .td-left{
    font-weight: bold;
    color: #a4a6b8;
}
.btn-org{
    height: 35px !important;
    color: #d5d7e3;
}
.c_icon-db
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-db.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    margin-top: -8px;
}
.c_icon-apps
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-apps.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*margin-top: -8px;*/
}
.c_icon-apps-white
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image:url(icon-apps_w.png);
}

.c_icon-cloud-download
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 25px;
    /*width: 20px;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image:url(icon-cloud-download.png);
}
.c_icon-cloud-del
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 25px;
    /*width: 20px;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image:url(icon-cloud-del.png);
}

.c_icon-service
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-service.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    margin-top: -8px;
}
.c_icon-service-white
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-service_w.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    margin-top: -8px;
}

.c_icon-addon
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-addon.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    margin-top: -8px;
}

.c_icon-set
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-settings.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    margin-top: -8px;
}

.c_icon-profile
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 23px;
    width: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-user.png);
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*margin-top: -8px;*/
}
.c_icon-chat
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    height: 23px;
    width: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    vertical-align: middle;
    background-image:url(icon-chat.png);
    margin-right: 5px;
}

.c_icon-text
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image:url(icon_text.png);
}

.c_icon-zip
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image:url(icon_zip.png);
}
.c_icon-jpg
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image:url(icon_jpg.png);
}
.c_icon-png
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image:url(icon_png.png);
}
.c_icon-svg
{
    color: transparent;
    overflow: hidden;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image:url(icon_svg.png);
}
.tabbable-custom .nav-tabs > li {width: 25%;}
.tb_upload .pop_icon{
    width: 33px;
    height: 39px;
}
.tb_upload .close{
    color: red;
}
.borderless td, .borderless th {
    border: none !important;
}
.upldmodal .modal-header .row, .upldmodal .modal-footer .row{
    margin-left: 45px;
    margin-right: 45px;
}

.upldmodal .modal-body .row{
    margin-left: 30px;
    margin-right: 30px;
}
.del-up{
    opacity: 0;
    margin-top: 8px;
}

.del-up-cover:hover .del-up,{
    opacity: 1;
}
.pagination li>a{
    margin-right: 10px;
}
.pagination > li > a, .pagination > li > span{
    border-color:#fff;
    font-weight: bold;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
    border:1px solid #eeeeee;
    background-color: #fff;
    color: #4f9de6;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: 0px;
}
.pagination > li > a, .pagination > li > span{
    padding: 2px 10px;
}
.radioP {
  display: block;
  position: relative;
  margin: 20px 0;
  padding-left:40px;

  font-family:arial;
}
.radioP:first-child {
 margin:0 0 20px 0;
}

input[type="radio"] {
  display: block;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}

/* For IE 7-8-9
input[type="radio"] {
  display: inline-block;
}
input[type="radio"] + label span.radioButtonGraph {
  display: none;
}
*/

input[type="radio"] + label span.radioButtonGraph {
  appearance: none;

  z-index: 20;
  position: absolute;
  top:-3px;
  left:0;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;

  background: #efefef;
  background-image: radial-gradient(ellipse at center,  #6fde86 0%,#6fde86 40%,#efefef 45%);
  background-repeat: no-repeat;

  transition: background-position .15s cubic-bezier(.8, 0, 1, 1);
}
input[type="radio"]:checked + label span.radioButtonGraph {
  transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1);
}

input[type="radio"] + label span.radioButtonGraph {
  background-position: -24px 0;
}
input[type="radio"]:checked + label span.radioButtonGraph {
  background-position: 0 0;
}

input[type="submit"]:hover {opacity:.8;}
input[type="submit"]:active {opacity:1;}
