/**
 * Unicorn Admin Template
 * Diablo9983 -> diablo9983@gmail.com
**/


#graph_placeholder {
	height: 300px;
	margin: 0px auto 0px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 12px;
}

.yaxisLabel {
	top: 50%;
	left: 2px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform:  rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.ie7 .yaxisLabel, .ie8 .yaxisLabel {
	top: 40%;
	font-size: 36px;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.0, M12=0.33, M21=-0.33, M22=0.0,sizingMethod='auto expand');
}


.new-update {
    border-top: 1px solid #DDDDDD;
    padding: 10px 12px;
}
.new-update:first-child {
    border-top: medium none;
}
.new-update span {
	display:block;
}
.new-update i{
	float: left;
	margin-top: 3px;
	margin-right: 13px;
}
.new-update .update-date {
    color: #BBBBBB;
    float: right;    
    margin: 4px 20px 0 0;
    text-align: left;
    width: 600px;
}
.new-update .update-date .update-day {  	  
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -4px;
}
.new-update .update-date .update-day-value {  	  
    font-size: 15px;    
    font-weight: bold;
    margin-bottom: -4px;
}
.update-done, .update-alert, .update-notice {
    display: block;
    float: left;
    max-width: 76%;
}