@import "common";

/* @import "desktop/*"; TODO: get this working again */

@import "desktop/alert";
@import "desktop/nilavu";
@import "desktop/catalog";
@import "desktop/footer";
@import "desktop/style_elegant";
@import "desktop/menu-panel";
@import "desktop/modal";
@import "desktop/launch";
@import "desktop/vm";
@import "desktop/logs";
@import "desktop/billing";
@import "desktop/profile";
@import "desktop/sshkey";
@import "desktop/storage";
@import "desktop/login";
@import "desktop/dashboard";
