#email .container {
  background-color: #eaf0f2;
}
.box1 {
  background-color: #fff;
}
body {
  font-family: sans-serif;
  font-size: 14px;
  color: #8a9ca2;
}
h3 {
  font-size: 24px;
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.logo {
  margin: 30px;
}
.f36 {
  font-size: 36px;
  color: #66719b;
}
.balance {
  margin: 30px 0px;
}
.pad_b30 {
  padding-bottom: 30px;
}
p {
  margin: 0px;
}
.pad_45 {
  padding: 45px;
}
.pad_30 {
  padding: 30px;
}
