[class^="logom_"], [class*="logom_"] {
  background-image: url('market_place_sprites.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.logom_hadoop{
	background-position: 0 0;
	width: 100px;
	height: 100px;
}

.logom_jenkins{
	background-position: -127px -3px ;
	width: 100px;
	height: 100px;
}

.logom_joomla{
	background-position: -258px -7px ;
	width: 100px;
	height: 100px;
}

.logom_orion{
	background-position: -131px -136px ;
	width: 100px;
	height: 100px;
}

.logom_otrs{
	background-position: -397px -135px ;
	width: 100px;
	height: 100px;
}

.logom_redmine{
	background-position: -394px -8px ;
	width: 100px;
	height: 100px;
}

.logom_sugarcrm{
	background-position: -6px -269px ;
	width: 100px;
	height: 100px;
}

.logom_postgresql{
	background-position: -273px -261px ;
	width: 100px;
	height: 104px;
}

.logom_redis{
	background-position: -260px -399px ;
	width: 100px;
	height: 34px;
}

.logom_riak{
	background-position: -40px -401px ;
	width: 100px;
	height: 36px;
}

.logom_liferay{
	background-position: -280px -137px ;
	width: 100px;
	height: 100px;
}

.logom_wordpress{
	background-position: -6px -126px ;
	width: 100px;
	height: 100px;
}

.logom_scmmanager{
	background-position: -135px -262px ;
	width: 100px;
	height: 100px;
}

.divborder {
	border-bottom-style: solid;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-color: #990033;
}
