[class^="logom_"], [class*="logom_"] {
	background-image: url('market_place_sprites.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	width: 100px;
}

.logom_hadoop {
	background-position: 0 0;
	width: 100px;
	height: 100px;
}

.logom_jenkins {
	background-position: -127px -3px;
	width: 100px;
	height: 100px;
}

.logom_joomla {
	background-position: -258px -7px;
	width: 100px;
	height: 100px;
}

.logom_orion {
	background-position: -131px -136px;
	width: 100px;
	height: 100px;
}

.logom_otrs {
	background-position: -397px -135px;
	width: 100px;
	height: 100px;
}

.logom_redmine {
	background-position: -394px -8px;
	width: 100px;
	height: 100px;
}

.logom_sugarcrm {
	background-position: -6px -269px;
	width: 100px;
	height: 100px;
}

.logom_postgresql {
	background-position: -273px -261px;
	width: 100px;
	height: 104px;
}

.logom_redis {
	background-position: -260px -399px;
	width: 100px;
	height: 34px;
}

.logom_riak {
	background-position: -40px -401px;
	width: 100px;
	height: 36px;
}

.logom_liferay {
	background-position: -280px -137px;
	width: 100px;
	height: 100px;
}

.logom_wordpress {
	background-position: -6px -126px;
	width: 100px;
	height: 100px;
}

.logom_scmmanager {
	background-position: -135px -262px;
	width: 100px;
	height: 100px;
}

input[type=checkbox] {
	visibility: hidden;
}

/* SLIDE THREE */
.check_ci {
	width: 80px;
	height: 26px;
	background: #333;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.check_ci:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #fff;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.check_ci:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.check_ci label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.check_ci input[type=checkbox]:checked + label {
	left: 43px;
}

/* For 'view docs' in marketplace description */
p a:hover {
color: grey;
}

/* Have scroll on all pages, so that we can remove screen shake in paypal click */
html {
  overflow-y: scroll;
}

#veil {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width:100%;
	cursor: not-allowed;
	filter: alpha(opacity=60);
	opacity: 0.6;
	/*background: #000000 url(http://www.wingo.com/angular/AngularShieldLogo.png) no-repeat center;*/
}
#feedLoading {
	position: absolute;
	top:350px;
	width:100%;
	text-align: center;
	font-size: 4em;
	color:white;
	text-shadow: 2px 2px 2px #021124;
}
