#container {
    top: 0;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    margin-top: 50px;
}

#profilebox  {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#profilebox   {
    height: 280px;
    padding: 30px 10px 9px 10px;	   
    overflow: hidden !important;
    text-align: center;
    position: relative;   
}

#profilebox_right   {	
	left: -50%;
    height: 280px;
    width: 400px;
   margin-left: auto;
    margin-right: auto;  
    padding: 30px 10px 30px 10px;	   
    overflow: hidden !important;
    text-align: center;
    position: relative;   
}

#profilebox_apikey   {	
	left: -40%;
    height: 280px;
    width: 400px;
   margin-left: auto;
    margin-right: auto;  
    padding: 30px 10px 30px 10px;	   
    overflow: hidden !important;
    text-align: center;
    position: relative;   
}