<br/>
<div class="organizations">
	<table>
		<tr>
			<td><label for="name">Name:</label></td>
			<td><span class="content"><%= organization.name %></span></td>
		</tr>

		<tr>
			<td><label for="email">Account name:</label></td>
			<td><span class="content"><%= organization.account_name %></span></td>

		</tr>
	</table>

</div>
