<%= image_tag @user.organization.logo %>
<div class="organizations">
	<div class="span4">
		<label for="name">Name:</label>
		<span class="content"><%= organization.name %></span>

	</div>
	<div class="span4">
		<label for="email">Account name:</label>
		<span class="content"><%= organization.account_name %></span>

	</div>

	<div class="span4">
		<label for="message">Status:</label>
		<span class="content"><%= organization.active %></span>
	</div>
</div>
