<h3><span class="label label-important"><%= @cloud_tool_setting.cloud_type %></span></h3>
<table class="table table-bordered">
	<tbody>
		<tr>
			<td>Cloud Type</td>
			<td><b><%= @cloud_tool_setting.cloud_type %></b></td>
		</tr>
		<tr>
			<td>Repository</td>
			<td><b><%= @cloud_tool_setting.repo %></b></td>
		</tr>
		<tr>
			<td>Vault Location</td>
			<td><b><%= @cloud_tool_setting.vault_location %></b></td>
		</tr>		
	</tbody>
</table>