<div id="create_identity_btn">
	<p class="help-block">
		<strong>2. Cool. Start your creation. </strong>
	</p>
	<%= link_to "Create", new_cloud_identity_path, :class => "btn btn-large btn-success btn-block", :id => "link_create_identity", :remote => true, data: { spinner: '#spin_create_identity'} %>
	<%= spinner_tag 'spin_create_identity' %>
</div>
