<div id="editable_account_name">
	<p class="help-block">
		<strong>1. <span class="label label-warning">*optional</span> Click on the default account name </strong>

		<%= link_to "howdy1","#", :id => "identity_new_account_name", :class => "s_account_name" %>
		to change it
	</p>
</div>
