
<div class="alert alert-success">
Your request is being launched. Your cloud identity will be ready in a few minutes. Please click here <%= link_to "Status", cloud_run_path %> to know about your status
</div>
