<% content_for :content_settings do %>
<% provide(:title, 'All Cloud_Identities') %>
<h1>All Cloud_Identities</h1>



<ul class="CloudIdentities">
  <%= render @cloud_identity %>
</ul>



<% end %>
<%= render :template => users_show_path %>
