 <% content_for :content_settings do %>
  <%= provide(:title, 'Sign up') %> <h1>Cloud_Identity Updation</h1>
  <div class="alert alert-success">
    <%= current_user.organization.name %> Updated successfully
    </div>  
<% end %>
<%= render :template => users_show_path %>



