<div class="col-sm-3 storage-rt-list ">
  <dl>
    <h3>Usage</h3>
    <dt>
      Total Storage
    </dt>
    <dd>
    <%= @objects[:total_size] %>
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      Total Objects
    </dt>
    <dd>
      <%= @objects[:total_objects] %>
    </dd>    
  </dl>
</div>
