<% Nilavu.display_categories.each do |category| %>
  <li class='start active'>
  <%= link_to catalogs_path(:cattype => "#{category}"), :data => { :remote => true} do %>
    <i class='leftnav_<%= "#{category}" %> pull-left'></i>
    <span class=title pull-left><%= t("site_settings.#{category}", :count => 1) %></span>
  <% end %>
  </li>
<% end %>
