<div class="row">
	<div id="footer">
		<div class="col-md-1 col-md-offset-4">
			<%= link_to "Documentation",   "http://docs.megam.co", { :target => '_blank'} %>
		</div>
		<div class="col-md-1">
			<%= link_to "Blog",   "http://blog.megam.co", { :target => '_blank'} %>

		</div>
		<div class="col-md-1">
			<%= link_to "Support",   "http://support.megam.co", { :target => '_blank'} %>

		</div>
		<div class="col-md-1">
			<%= link_to "Contribute",   "http://docs.megam.co/contribute", { :target => '_blank'} %>
		</div>		
		</br>
	</div>
</div>
</br>
