<div class="container">
	<div class="row">
		<div class="col-sm-12 footer-menu">
			<ul class="list-inline text-center">
				<li>
					<a href="https://www.megam.io" target="_blank">megam.io</a>
				</li>
				<li>
					<a href="http://docs.megam.io/v1.0/docs" target="_blank">Documentation</a>
				</li>
				<li>
					<a href="http://gomegam.com/blog/" target="_blank">Blog</a>
				</li>
				<li>
					<a href="http://docs.megam.io/v1.0/discuss" target="_blank">Support</a>
				</li>
				<li>
					<a href="https://www.megam.io/contact.html/" target="_blank">Contribute</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<p class="text-center">
				© 2012-2014 megam. All rights reserved.
			</p>
		</div>
	</div>
</div>

