<div class="row">
	<div id="footer">		
		<div class="col-md-1 col-md-offset-3">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Documentation",   "http://docs.megam.co", { :target => '_blank'} %>
				</li>
			</ul>
		</div>
		
		<div class="col-md-1">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Blog",   "http://blog.megam.co", { :target => '_blank'} %>
				</li>
			</ul>
		</div>
		<div class="col-md-1">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Support",   "http://support.megam.co", { :target => '_blank'} %>
				</li>

			</ul>
		</div>
		<div class="col-md-1">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Contribute",   "http://docs.megam.co/contribute", { :target => '_blank'} %>
				</li>
			</ul>
		</div>		
		<div class="col-md-2 col-md-offset-2">			
			<small> &copy; 2013-14 megam. All rights reserved. </small>
		</div>
	</div>
</div>
<br/>
	