<!-- BEGIN HEADER -->
<div class="header navbar navbar-fixed-top">
	<div class="container">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="header-inner">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
					<!-- BEGIN LOGO -->
					<a class="navbar-brand" href="www.gomegam.com"> <%= image_tag "dash-logo.png", :alt => "logo", :class => "img-responsive" %> </a>
					<!-- END LOGO -->
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<ul class="nav navbar-nav pull-right">
						<!-- BEGIN NOTIFICATION DROPDOWN -->
						<li class="dropdown" id="header_notification_bar">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
							data-close-others="true"> <i class="c_glob glyphicon glyphicon-globe"></i> <span class="badge badge-success">6</span> </a>
							<ul class="dropdown-menu extended notification">
								<li>
									<p>
										You have 14 new notifications
									</p>
								</li>
								<li>
									<ul class="dropdown-menu-list scroller">
										<li>
											<a href="#"> <span class="label label-sm label-icon label-success"><i class="icon-plus"></i></span> New user registered. <span class="time">Just now</span> </a>
										</li>
										<li>
											<a href="#"> <span class="label label-sm label-icon label-danger"><i class="icon-bolt"></i></span> Server #12 overloaded. <span class="time">15 mins</span> </a>
										</li>
									</ul>
								</li>
								<li class="external">
									<a href="#">See all notifications <i class="m-icon-swapright"></i></a>
								</li>
							</ul>
						</li>
						<!-- END NOTIFICATION DROPDOWN -->
					</ul>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 col-lg-offset-6 col-md-offset-6 col-sm-offset-5">
					<!-- BEGIN RESPONSIVE MENU TOGGLER -->
					<a href="javascript:;" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> <%= image_tag "menu-toggler.png", :alt => "" %> </a>
					<!-- END RESPONSIVE MENU TOGGLER -->
					<!-- BEGIN TOP NAVIGATION MENU -->
					<ul class="nav navbar-nav pull-right">

						<!-- BEGIN USER LOGIN DROPDOWN -->
						<li class="dropdown user" style="width:77px;height:auto;">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <!-- <img alt="" src="assets/img/avatar1_small.jpg"/>
							<span class="username">Bob Nilson</span> --> <i class="c_icon-user hidden-xs pull-left"></i> <i class="icon-angle-down c_icon-angle-down pull-left"></i> </a>
							<ul class="dropdown-menu c_user_dd">
								<li>
									<%= link_to edit_user_path(current_user) do %>
									<i class="icon-user"></i>
									My Profile
									<% end %>
								</li>
								<li>
									<%= link_to signout_path, method: "delete" do %>
									<i class="icon-key"></i> Sign Out
									<% end %>
								</li>
							</ul>
						</li>
						<!-- END USER LOGIN DROPDOWN -->
					</ul>
					<!-- END TOP NAVIGATION MENU -->
				</div>
			</div>
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
</div>
<!-- END HEADER -->
