<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<!-- BEGIN HEADER -->

<div class="header navbar navbar-fixed-top">
	<div class="container">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="header-inner">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
					<!-- BEGIN LOGO -->
					<a class="navbar-brand" href="https://www.megam.io"> <%= image_tag "megam-logo.png", :alt => "logo", :class => "img-responsive" %> </a>
					<!-- END LOGO -->
				</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-lg-offset-7 col-md-offset-7 col-sm-offset-6">
			<div class="row">
						<!-- <div class="col-xs-4 col-sm-1"> -->
						<ul class="nav navbar-nav pull-right">
							<!-- BEGIN NOTIFICATION DROPDOWN -->
							<li class="dropdown" id="header_notification_bar">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
								data-close-others="true"> <i class="c_glob glyphicon glyphicon-user"></i> <!-- <span class="badge badge-success">6</span> --> </a>
								<ul class="dropdown-menu extended notification">
									<li>
										<ul class="dropdown-menu-list scroller">
											<li>
												<%= link_to edit_user_path(1) do %>
												<span class="label label-sm label-icon label-success"><i class="glyphicon glyphicon-user"></i></span>
												Profile
												<% end %>
											</li>
											<li>
												<%= link_to signout_path, method: "delete" do %>
												<span class="label label-sm label-icon label-danger"><i class="glyphicon glyphicon-off"></i></span>
												Sign Out
												<% end %>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<!-- END NOTIFICATION DROPDOWN -->
						</ul>
						<!-- </div>
						<div class="col-xs-4 col-sm-1">	 -->
						<ul class="nav navbar-nav pull-right m10">
							<!-- BEGIN NOTIFICATION DROPDOWN -->
							<li class="dropdown" id="header_notification_bar">
					       <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
					          data-close-others="true">
					       <i class="fa fa-bell"></i>
					       <span class="badge badge-success" id="notification">6</span>
					       </a>

								<ul class="dropdown-menu extended notification">
									<li>
										<p>
											You have new notifications
										</p>
									</li>
									<li>
										<ul class="dropdown-menu-list scroller", id="events">

										</ul>
									</li>
									<!--<li class="external">
									<a href="#">See all notifications <i class="m-icon-swapright"></i></a>
									</li>-->
								</ul>
							</li>
							<!-- END NOTIFICATION DROPDOWN -->
						</ul>
						<!-- </div>
						<div class="col-xs-4 col-sm-1"> -->
						<!-- BEGIN RESPONSIVE MENU TOGGLER -->
						<a href="javascript:;" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target=".navbar-collapse"> <%= image_tag "menu-toggler.png", :alt => "" %></a>
						<!-- END RESPONSIVE MENU TOGGLER -->
						<!-- </div> -->
					</div>
				</div>

			</div>
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
</div>
<!-- END HEADER -->
