<li class="dropdown" id="header_notification_bar">
<a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#">
  <i class="c_glob c_icon-chat"></i>
  <span class="badge badge-success">.</span>
</a>
<ul class="dropdown-menu extended notification">

  <div id="notifications"></div>
</ul>
</li>

<script>

React.render(React.createElement(Noti, {}), document.getElementById('notifications'));
</script>
