<li class='start active'>
  <%= link_to ssh_keys_path, :data => { :remote => true} do %>
    <i class='leftnav_settings pull-left'></i>
    <span class='title pull-left'><%= t('ssh_keys.title') %></span>
  <% end %>
</li>
<li class='start active'>
  <%  if SiteSetting.allow_default_billings %>
    <%= link_to billings_path, :data => { :remote => true} do %>
      <i class='leftnav_billing pull-left'></i>
      <span class='title pull-left'><%= t('billing.title') %></span>
    <% end %>
  <% end %>
</li>
